doctype html

.container(ng-controller='ManageAssets')
  .row
    .col-xs-6
      a.btn.btn-success(href='/manage/uploads' ng-disabled='!private_folder_check || checking')
        i.glyphicon.glyphicon-upload
        | &nbsp;Upload Asset
      span.small(ng-if='!private_folder_check')
        | &nbsp;Uploads are only supported if you have a private folder
    .col-xs-6.text-right
      label Display &nbsp;
      bs-radios(ng-model='type' selected-class='primary')
        bs-radio2(size='sm' value='public') Public
        bs-radio2(size='sm' value='private') Private
  .row
    .col-xs-12
      table.table.table-condensed
        thead
          tr
            th(width='100px') &nbsp;
            th Name
            th Size
        tbody
          tr(ng-if='$loading')
            td
              .spinner.assets.spinner-center
          tr(ng-repeat='asset in assets.contents', ng-if='!$loading')
            td
              a(href='https://{{assets.bucket}}.s3.amazonaws.com/{{asset.Key}}', target='_blank')
                i.glyphicon.glyphicon-search
                | &nbsp;Preview
            td {{asset.Key}}
            td {{asset.Size/1024|number:2 }} KB
          tr(ng-if='!$loading && assets.code') 
            td(colspan='3' align='center') #[b Access Denied] please contact your administrator
          tr(ng-if='!$loading && !assets.contents.length && !assets.code')
            td(colspan='3' align='center') #[b No assets available]

  script(id='upload-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Edit Content
    .modal-body
      .form-group
        input.form-control(type='text', name='name', ng-model='meta.name', placeholder='Name...')

      .form-group
        .fileinput.fileinput-new.input-group(data-provides='fileinput')
          .form-control(data-trigger='fileinput')
            i.glyphicon.glyphicon-file.fileinput-exists
            span.fileinput-filename
          span.input-group-addon.btn.btn-default.btn-file
            span.fileinput-new Select file
            span.fileinput-exists Change
            input(type='file', file-model, ng-model='$parent.meta.file')
          a.input-group-addon.btn.btn-default.fileinput-exists(data-dismiss='fileinput') Remove
    .modal-footer
      button.btn.btn-primary(ng-click='upload()') Upload

//
  script(id='upload-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Edit Content
    .modal-body
      form.fileupload(data-ng-class='{"fileupload-processing": processing() || loadingFiles}', data-file-upload='options', data-ng-app='demo', enctype='multipart/form-data', method='POST')
        .row.fileupload-buttonbar
          .col-lg-7
            // The fileinput-button span is used to style the file input field as button
            span.btn.btn-success.fileinput-button(ng-class='{disabled: disabled}')
              i.glyphicon.glyphicon-plus
              span Add files...
              input(type='file', ng-disabled='disabled', multiple='', name='files')
            button.btn.btn-primary.start(data-ng-click='submit()', type='button')
              i.glyphicon.glyphicon-upload
              span Start upload
            button.btn.btn-warning.cancel(data-ng-click='cancel()', type='button')
              i.glyphicon.glyphicon-ban-circle
              span Cancel upload
            // The global file processing state
            span.fileupload-process
          // The global progress state
          .col-lg-5.fade(data-ng-class='{in: active()}')
            // The global progress bar
            .progress.progress-striped.active(data-file-upload-progress='progress()')
              .progress-bar.progress-bar-success(data-ng-style='{width: num + "%"}')
            // The extended global progress state
            .progress-extended
        // The table listing the files available for upload/download
        table.table.table-striped.files.ng-cloak
          tbody
            tr(data-ng-repeat='file in queue')
              td(data-on='!!file.thumbnailUrl', data-ng-switch='')
                .preview(data-ng-switch-when='true')
                  a(data-gallery='', download='{{file.name}}', title='{{file.name}}', data-ng-href='{{file.url}}')
                    img(alt='', data-ng-src='{{file.thumbnailUrl}}')
                .preview(data-file-upload-preview='file', data-ng-switch-default='')
              td
                p.name(data-on='!!file.url', data-ng-switch='')
                  span(data-on='!!file.thumbnailUrl', data-ng-switch='', data-ng-switch-when='true')
                    a(data-gallery='', download='{{file.name}}', title='{{file.name}}', data-ng-href='{{file.url}}', data-ng-switch-when='true') {{file.name}}
                    a(download='{{file.name}}', title='{{file.name}}', data-ng-href='{{file.url}}', data-ng-switch-default='') {{file.name}}
                  span(data-ng-switch-default='') {{file.name}}
                strong.error.text-danger(data-ng-show='file.error') {{file.error}}
              td
                p.size {{file.size | formatFileSize}}
                .progress.progress-striped.active.fade(data-file-upload-progress='file.$progress()', data-ng-class='{pending: "in"}[file.$state()]')
                  .progress-bar.progress-bar-success(data-ng-style='{width: num + "%"}')
              td
                button.btn.btn-primary.start(data-ng-disabled='file.$state() == "pending" || file.$state() == "rejected"', data-ng-hide='!file.$submit || options.autoUpload', data-ng-click='file.$submit()', type='button')
                  i.glyphicon.glyphicon-upload
                  span Start
                button.btn.btn-warning.cancel(data-ng-hide='!file.$cancel', data-ng-click='file.$cancel()', type='button')
                  i.glyphicon.glyphicon-ban-circle
                  span Cancel
                button.btn.btn-danger.destroy(data-ng-controller='FileDestroyController', data-ng-hide='!file.$destroy', data-ng-click='file.$destroy()', type='button')
                  i.glyphicon.glyphicon-trash
                  span Delete
