doctype html

.container(ng-controller='ManageAttributes')

  .row
    .col-xs-6(ng-repeat='attribute in attributes | orderBy:"name"')
      .panel.panel-default.attribute(ng-click='edit(attribute)')
        .panel-heading.clearfix
          .btn-toolbar.pull-right
            button.btn.btn-xs.btn-danger(ng-click='delete($event, attribute.id)')
              i.glyphicon.glyphicon-trash
              | &nbsp;Delete?
          h3.panel-title {{attribute.name}}
        .panel-body.has-list-pills.clearfix.more-value
          ul.list-inline.list-pills
            li(ng-repeat='value in attribute.values | orderBy:"name"', ng-class='{"default-value": value.id == attribute.default}') {{value.name}} ({{value.aliases.length || 0}})
          .pull-right
            a(ng-click='bulkUpload($event, attribute.id)')
              i.glyphicon.glyphicon-upload
              | &nbsp;Bulk Upload Values
    .col-xs-6
      .row
        .col-xs-5
          button.btn.btn-success(ng-click='new()')
            i.fa.fa-plus
            | &nbsp;Click to add new Attribute
        .col-xs-7
          ul
            li.help-text Value in #[span.default-text #[b Blue]] is the default
            li.help-text(ng-if='attributes') Click an attribute to edit its properties

  script(id='confirm-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='dismiss()') &times;
      h4.modal-title Confirm?
    .modal-body
      | Are you sure you want to delete this attribute?
      br
      b Note&nbsp;
      | All values and aliases will also be deleted.
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='dismiss()') No

  script(id='manage/attribute-modal.html', type='text/ng-template')
    form.form-horizontal(name='forms.attribute' novalidate)
      .modal-header
        h4.modal-title(ng-if='!attribute.id') New Attribute
        h4.modal-title(ng-if='attribute.id') Edit Attribute
      .modal-body.form-horizontal
        .form-group
          .col-xs-12
            input.form-control.input-lg(ng-model='attribute.name', placeholder='Name...', name='name' required ng-class="{'not-valid': forms.attribute.submitted && forms.attribute.name.$invalid && !forms.attribute.$dirty}")
        .form-group
          .col-xs-7
            b Values
            br
            em Values should not be included in both values and aliases. Checkbox is for selecting default value.
          .col-xs-5
            b Aliases
            br
            em Aliases should be separated by#[br] a | (pipe).
        .form-group.btn-group(ng-repeat='value in attribute.values')
          .col-xs-7
            .input-group
              input.form-control-attributes.form-control(ng-model='value.name' ng-enter='addValue()' placeholder='Name')
              span.input-group-btn
                .btn.btn-default(ng-model='$parent.default_value' uib-btn-radio='value.id' align='center' uncheckable)
                  i.fa.fa-fw(ng-class='{"fa-check-square-o": $parent.default_value == value.id, "fa-square-o": $parent.default_value != value.id}')
                .btn.btn-default(ng-click='deleteValue(attribute.values, value.id)')
                  i.glyphicon.glyphicon-remove.icon-delete-element
          .col-xs-5
            input.form-control.input-sm(ng-model='value.aliases' ng-list=' | ' placeholder='Aliases' ng-enter='addValue()')
        .form-group.btn-group(ng-repeat='value in attribute.newvalues')
          .col-xs-7
            .input-group
              input.form-control-attributes.form-control(ng-model='value.name', placeholder='Name' name='{{value.id}}' ng-enter='addValue()' required ng-class="{'not-valid': forms.attribute.submitted && forms.attribute[value.id].$invalid && !forms.attribute.$dirty}")
              span.input-group-btn
                .btn.btn-default(ng-model='$parent.default_value' uib-btn-radio='value.id' align='center' uncheckable)
                  i.fa.fa-fw(ng-class='{"fa-check-square-o": $parent.default_value == value.id, "fa-square-o": $parent.default_value != value.id}')
                .btn.btn-default(ng-click='deleteValue(attribute.newvalues, value.id)')
                  i.glyphicon.glyphicon-remove.icon-delete-element
          .col-xs-5
            input.form-control.input-sm(ng-model='value.aliases' ng-list=' | ' placeholder='Aliases' ng-enter='addValue()')
        .form-group
          .col-xs-12
            button.btn.btn-default(ng-click='addValue()')
              i.fa.fa-plus
              | &nbsp;Value
      .modal-footer
        bs-modal-save-button(on-save='save()')
        button.btn.btn-default(ng-click='close()') Close

  script(id='bulkUpload-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Bulk Upload Values
    .modal-body.form-horizontal
      .form-group
        .col-xs-12
          p Bulk upload allows you to input all of your values and aliases for an attribute into a CSV file and upload all their information at once.
          br
          .step
            h4 STEP 1: Download
            | We generate a CSV file pre-populated with the information you need to input. This allows for easy mass addition of content. You can also use this method to make mass changes to the current attribute's values and aliases. Click on the "Include Attribute Values and Aliases" checkbox, before downloading, if you would like to export the current attribute's content.
            br
            br
            ul.list-inline
              li: a.btn.btn-default(ng-href='{{url()}}', target='_self') Download
              li: bs-check(ng-model='includeAttributes') Include Attribute Values and Aliases
            br
          .step
            h4 STEP 2: Input Value and Alias Information
            p Input the information for values and aliases into a csv file. Make sure that all values are in the first column and aliases are in the second column, or your information may not be mapped correctly. Values are viewed as aliases, so they should not be repeated in the aliases column. If there are muliple aliases for one value, then they should be seperated by a comma.
            br
          .step
            h4 STEP 3: Upload your file
            p Once you have added all the desired values and aliases, just upload the CSV file. We will take care of mapping your inputs into the necessary fields.
            .input-group.fileinput.fileinput-new(data-provides='fileinput', ng-class='{"has-error": typeerror}')
              .form-control(data-trigger='fileinput')
                i.glyphicon.glyphicon-file.fileinput-exists
                span.fileinput-filename {{csv.name}}
              span.input-group-addon.btn.btn-default.btn-file
                span.fileinput-new Select file
                span.fileinput-exists Change
                input(type='file', accept='.csv', readfile='forms.upload.csv', ng-model='attribute.file')
            span.text-danger(ng-if='typeerror') The file you are uploading is not a CSV file.
    .modal-footer
      span.text-danger(ng-if='!forms.upload.csv') Please select a file above. &nbsp;
      button.btn.btn-primary(type='submit', ng-click='upload()', ng-disabled='!forms.upload.csv') Upload
      button.btn.btn-default(ng-click='$dismiss()') Close

  script(id='attributeStats-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='close()') &times;
      h4.modal-title
        i.fa.fa-check.text-success
        | &nbsp;Upload Stats
    .modal-body
      p The list you uploaded was successful! Below are the statistics of the upload:
      ul
        li
          b Total:&nbsp;
          | {{stats.created + stats.updated}}
        li
          b Created:&nbsp;
          | {{stats.created}}
        li
          b Updated:&nbsp;
          | {{stats.updated}}
        li
          b Invalid groups:&nbsp;
          | {{stats.invalid_groups}}
    .modal-footer
      button.btn.btn-default(ng-click='close()') Close
