doctype html

.container-fluid(ng-controller='ManageBatches')
  .row
    .col-xs-3
      button.btn.btn-success(ng-click='new()')
        i.glyphicon.glyphicon-plus
        | &nbsp;New Batch Send

      h3 Pending Batches
        i.fa.fa-fw.fa-caret-right(ng-if='!expanded.pending' ng-click='expand("pending")')
        i.fa.fa-fw.fa-caret-down(ng-if='expanded.pending' ng-click='expand("pending")')
      .list-group(ng-if='$loading')
        i.fa.fa-2x.fa-spin.fa-spinner
      .list-group(ng-if='!$loading && !batches.length && expanded.pending')
        .list-group-item(ng-if='!batches.length && !$loading') No batches
      .list-group(ng-if='!$loading && batches.length && expanded.pending')
        a.list-group-item(ng-repeat='batch in batches|filter:{status:"!archived"} | orderBy: "-updated"', ng-click='set(batch)', ng-class='{"active": $parent.batch == batch}')
          | {{batch.name || batch.schedule.when}}
          span.clearfix.pull-right.batch_delete
            i.fa.fa-fw.fa-trash-o(ng-if='batch.id', ng-click='delete(batch)')
            i.fa.fa-fw.fa-exclamation(ng-if='!batch.id')
            i.fa.fa-fw.fa-clock-o(ng-if='batch.status == "deployed"')
          p.clearfix(ng-if='!batch.schedule.now && batch.status == "deployed"')
            small.pull-right {{batch.schedule.when | date:"MMM d, yyyy h:mm a"}}
      div(ng-if='!$loading && deployed.length')
        h4 Scheduled Batches
          i.fa.fa-fw.fa-caret-right(ng-if='!expanded.scheduled' ng-click='expand("scheduled")')
          i.fa.fa-fw.fa-caret-down(ng-if='expanded.scheduled' ng-click='expand("scheduled")')
        .list-group(ng-if='expanded.scheduled')
          a.list-group-item(ng-repeat='batch in deployed|orderBy:"-deployed"', ng-click='set(batch)', ng-class='{"active": $parent.batch == batch}')
            span.clearfix.pull-right.batch_cancel
              i.fa.fa-fw.fa-ban(ng-click='cancel(batch)')
              i.fa.fa-fw.fa-clock-o
            | {{batch.name || batch.schedule.when}}
            p.clearfix(ng-if='!batch.schedule.now')
              small.pull-right {{batch.schedule.when | date:"MMM d, yyyy h:mm a"}}

      div(ng-if='!$loading && recent.length || sticky.length')
        h4 Sent Batches
          i.fa.fa-fw.fa-caret-right(ng-if='!expanded.sent' ng-click='expand("sent")')
          i.fa.fa-fw.fa-caret-down(ng-if='expanded.sent' ng-click='expand("sent")')
        .list-group(ng-if='expanded.sent')
          a.list-group-item(ng-repeat='batch in sticky|orderBy:"-updated"', ng-click='set(batch)', ng-class='{"active": $parent.batch == batch}')
            i.fa.fa-fw.fa-star.pull-right
            | {{batch.name || batch.schedule.when}}
            p.clearfix
              small.pull-right {{batch.schedule.when || batch.deployed || batch.updated | date:"MMM d, yyyy h:mm a"}}
        .list-group(ng-if='expanded.sent')
          ui-select(ng-model='selected.batch' on-select='set($item)')
            ui-select-match(placeholder='Search other sent batches...' ) {{$select.selected.name}}
            ui-select-choices(repeat="b.id as b in recent | filter: $select.search | orderBy: '-updated'")
              div(ng-bind-html='b.name | highlight: $select.search')
              small {{b.schedule.when || b.deployed || b.updated | date:"MMM d, yyyy h:mm a"}}

    .col-xs-9(ng-if='!$loading && batch')
      form.form-horizontal.batch(name='$parent.batchform' novalidate)
        .form-group(ng-if='!editable()')
          .col-xs-5
            table.table
              thead
                tr
                  th.col-xs-3.text-center Deployed
                  th.text-center Sends
                  th.text-center Delivers
                  th.text-center Bounces
                  th.text-center Errors
              tbody
                tr(ng-if='loadingSummary || loadingErrors')
                  td(colspan='100').text-center
                    .spinner.spinner-small
                tr(ng-if='!loadingSummary && !loadingErrors')
                  td.text-center {{batch.schedule.when || batch.deployed || batch.updated | date:"MMM d, yyyy h:mm a"}}
                  td.text-center {{summary[0].sends || 0}}
                  td.text-center {{summary[0].delivers || 0}}
                  td.text-center {{summary[0].bounces || 0}}
                  td.text-center
                    a(href='/api/batches/{{batch.id}}/{{template.id}}/errors' target='_self' ng-if='errors.length' uib-popover='Emails are attempted up to 3 times. This means one recipient might be associated with 3 errors. Click the number to download a csv with the errors.' popover-trigger='mouseenter' popover-placement='right' popover-append-to-body='true') {{errors.length}}
                    span(ng-if='!errors.length') 0
          .col-xs-3
            p.help-block Make this batch sticky if you want to display it outside of the sent batches list.
            .checkbox
              label
                input(type='checkbox', ng-model='batch.sticky', ng-change='setSticky(batch)')
                | Sticky?
          .col-xs-3
            .btn-toolbar
              button.btn.btn-lg.btn-success(type='button', ng-click='clone()') Clone
              button.btn.btn-lg.btn-default(type='button' ng-click='archive()') Archive

        .row
          fieldset.col-xs-8(ng-disabled='!editable() || cancelable()')
            .form-group
              .col-xs-12
                label Name *
                input.form-control.input-lg(ng-model='batch.name', type='text', placeholder='Name...', name='name', required ng-class="{'not-valid': $parent.batchform.submitted && $parent.batchform.name.$invalid && !$parent.batchform.$dirty}")
            .form-group
              .col-xs-12
                label When
                .row
                  .col-xs-4
                    .btn-group(data-toggle='buttons')
                      label.btn.btn-primary(ng-click='batch.schedule.now = true', ng-class='{active: batch.schedule.now}')
                        input(type='radio')
                        | Immediately
                      label.btn.btn-primary(ng-click='batch.schedule.now = false', ng-class='{active: !batch.schedule.now}')
                        input(type='radio')
                        | Scheduled
                  .col-xs-6
                    .input-group(bs-datetime-picker, ng-model='batch.schedule.when', ng-disabled='cancelable()' ng-if='!batch.schedule.now')
                      input.form-control(type='text')
                      span.input-group-addon
                        span.glyphicon.glyphicon-calendar
            .form-group
              .col-xs-2
                label VuNotification
                bs-radio2(size='sm' ng-model='batch.vunotification') Enabled?

          fieldset.col-xs-4(ng-if='editable()', ng-disabled='false')
            .form-group
              label &nbsp;
              .btn-toolbar
                button.btn.btn-lg.btn-info(ng-click='clone()', ng-if='editable()', ng-disabled='!batch.id') Clone
                button.btn.btn-lg.btn-success(type='button', ng-click='deploy()', ng-disabled='!deployable()') Deploy!
                button.btn.btn-lg.btn-warning(type='button', ng-click='cancel()', ng-disabled='!cancelable()') Cancel?
              p.help-block(ng-if='!deployable() && !cancelable()')
                | In order to 'Deploy!' a batch file, you will need to have at least supplied a 'Subject', selected a 'Template', and uploaded a 'CSV' file.
                span(ng-if='!previewable()')
                  | &nbsp;If it has been edited, try&nbsp;
                  a(href, ng-click='save()') Saving
                  | &nbsp;first.
              p.help-block(ng-if='!batch.id')
                | In order to 'Clone' a batch file, you will need to save the batch first.
        .row
          fieldset.col-xs-8(ng-disabled='!editable() || cancelable()')
            .form-group(ng-hide="!batch.message && batch.subject")
              .col-xs-12
                label Message
                select.form-control(ng-model='batch.message',ng-change="onMessageChange(message.id)"  ng-options='message.id as message.name for message in availableMessages | orderBy:"name"')
                  <option value=''>- Use a message from your Message Library -</option>
            .form-group(ng-if="!batch.message && !batch.subject")
              .col-xs-12.text-center
                label(style="color:#999999") or
            .form-group(ng-if="!batch.message")
              .col-xs-12
                label Subject *
                input.form-control(ng-model='batch.subject', type='text', placeholder='Subject...', name='subject', required ng-class="{'not-valid': $parent.batchform.submitted && $parent.batchform.subject.$invalid && !$parent.batchform.$dirty}")
            .form-group(ng-if="!batch.message")
              .col-md-12.col-lg-10.col-lg-offset-1
                label Templates *
                .well.well-sm(ng-class="{'not-valid': $parent.batchform.submitted && !batch.template && !$parent.batchform.$dirty}")
                  .row
                    ul.template-list.list-inline.one-line(scroll-to='.selected', wheel-scroll)
                      li.col-xs-2.template.form-control(name='template', style='width: 15%; height: auto', ng-repeat='template in templates', required ng-class="{'selected': batch.template == template.id}")
                        a(href, ng-click='select(template)')
                          div.img-thumbnail(style='width: 120px; height: 110px;' ng-if='template.$thumbnailLoading')
                            .spinner.spinner-center.spinner-small(style='margin-left: -17px; margin-top: -27px;' ng-if='template.$thumbnailLoading')
                          img.img-thumbnail(ng-src='{{template.thumbnail}}', style='width: auto;' ng-if='!template.$thumbnailLoading')
                        p
                          span(ng-hide='template.tags.length') &nbsp;
                          span(ng-repeat='tag in template.tags')
                            span.label.label-default {{tag}}
                            | &nbsp;
        .row
          fieldset.col-xs-12(ng-if='batch.template && !batch.message')
            ul.nav.nav-tabs
              li.header: b Message Parts
              li.active
                a(href='#part-html', data-toggle='tab') HTML
              li
                a(href='#part-text', data-toggle='tab') Plain Text

            .tab-content
              #part-html.row.tab-pane.active
                .col-lg-7
                  div(ng-if='template.meta.html.blocks.length')
                    ul.nav.nav-tabs
                      li.header: b Blocks
                      li(ng-repeat='block in template.meta.html.blocks', ng-class='{active: nav.html.selectedBlock == block.name}')
                        a(href, ng-click='nav.html.selectedBlock = block.name') {{block.name}}

                    .tab-content(ng-if='editable() && !cancelable()')
                      textarea(ckeditor='editor.batches' ng-model='batch.html.blocks[nav.html.selectedBlock]' height='245')
                      br
                    .tab-content(ng-if='!editable() || cancelable()')
                      .well(ng-bind-html='batch.html.blocks[nav.html.selectedBlock] | trust')

                .col-lg-5
                  div(ng-if='template.meta.html.links.length')
                    ul.nav.nav-tabs
                      li.header: b Links
                      li(ng-repeat='link in template.meta.html.links', ng-class='{active: $first}')
                        a(href='#link-html{{$index}}', data-toggle='tab', target='_self') {{link.name}}

                    .tab-content.well.well-sm
                      fieldset.tab-pane(ng-repeat='link in template.meta.html.links', ng-class='{active: $first}', ng-disabled='!editable() || cancelable()', id="link-html{{$index}}")
                        ul.list-inline.list-inline-packed
                          li(bs-radio, ng-model='batch.html.links[link.name].type', value='page', title='Landing Page', ng-click='$parent.batchform.$setDirty()')
                          li(bs-radio, ng-model='batch.html.links[link.name].type', value='url', title='URL', ng-click='$parent.batchform.$setDirty()')

                        .form-group(ng-if='batch.html.links[link.name].type == "page"')
                          .col-xs-12
                            select.input-sm.form-control(ng-model='batch.html.links[link.name].value', ng-options='id as page for (id, page) in pages')
                            span.help-block Choose the landing page
                        .form-group(ng-if='batch.html.links[link.name].type == "url"')
                          .col-xs-12
                            input.input-sm.form-control(type='text', ng-model='batch.html.links[link.name].value', placeholder='URL...')
                            span.help-block http(s?):// must be included in the URL
                        .form-group(ng-if='link.needs.indexOf("text") > -1')
                          .col-xs-12
                            input.input-sm.form-control(type='text', ng-model='batch.html.links[link.name].text', placeholder='Text...')
                            span.help-block Insert the text that will be displayed for the link

                  div(ng-if='template.meta.html.policies.length')
                    ul.nav.nav-tabs
                      li.header: b Policies
                      li(ng-repeat='(name, policy) in batch.html.policies', ng-class='{active: $first}')
                        a(href='#policy-html{{$index}}' data-toggle='tab') {{name}}

                    .tab-content.well.well-sm
                      fieldset.tab-pane(ng-repeat='(name, policy) in batch.html.policies', ng-class='{active: $first}', ng-disabled='!editable() || cancelable()', id='policy-html{{$index}}')
                        .form-group
                          .col-xs-12
                            select.input-sm.form-control(ng-model='batch.html.policies[name]', ng-options='id as policy for (id, policy) in policies')
                            span.help-block Choose the policy

              #part-text.row.tab-pane
                .col-xs-7
                  ul.nav.nav-tabs(ng-if='template.meta.text.blocks.length')
                    li.header: b Blocks
                    li(ng-repeat='(name, block) in batch.text.blocks', ng-class='{active: $first}')
                      a(href='#block-text{{$index}}', data-toggle='tab') {{name}}

                  .tab-content
                    .tab-pane(ng-repeat='(name, block) in batch.text.blocks', ng-class='{active: $first}', id="block-text{{$index}}")
                      textarea.form-control(ng-if='editable() && !cancelable()', id='editor_text{{$index}}', ng-model='batch.text.blocks[name]', rows='8')
                      pre(ng-if='!editable() || cancelable()') {{block}}

                .col-xs-5
                  div(ng-if='template.meta.text.links.length')
                    ul.nav.nav-tabs
                      li.header: b Links
                      li(ng-repeat='(name, link) in batch.text.links', ng-class='{active: $first}')
                        a(href='#link-text{{$index}}' data-toggle='tab') {{name}}

                    .tab-content.well.well-sm
                      fieldset.tab-pane(ng-repeat='link in template.meta.text.links', ng-class='{active: $first}', ng-disabled='!editable() || cancelable()' id="link-text{{$index}}")
                        ul.list-inline.list-inline-packed
                          li(bs-radio, ng-model='batch.text.links[link.name].type', value='page', title='Landing Page')
                          li(bs-radio, ng-model='batch.text.links[link.name].type', value='url', title='URL')

                        .form-group(ng-if='batch.text.links[link.name].type == "page"')
                          .col-xs-12
                            select.input-sm.form-control(ng-model='batch.text.links[link.name].value', ng-options='id as page for (id, page) in pages')
                            span.help-block Choose the landing page
                        .form-group(ng-if='batch.text.links[link.name].type == "url"')
                          .col-xs-12
                            input.input-sm.form-control(type='text', ng-model='batch.text.links[link.name].value', placeholder='URL...')
                            span.help-block http(s?):// must be included in the URL

                  div(ng-if='template.meta.text.policies.length')
                    ul.nav.nav-tabs
                      li.header: b Policies
                      li(ng-repeat='(name, policy) in batch.text.policies', ng-class='{active: $first}')
                        a(href='#policy-text{{$index}}' data-toggle='tab') {{name}}

                    .tab-content.well.well-sm
                      fieldset.tab-pane(ng-repeat='(name, policy) in batch.text.policies', ng-class='{active: $first}', ng-disabled='!editable() || cancelable()' id='policy-text{{$index}}')
                        .form-group
                          .col-xs-12
                            select.input-sm.form-control(ng-model='batch.text.policies[name]', ng-options='id as policy for (id, policy) in policies')
                            span.help-block Choose the policy
        .row
          fieldset.col-xs-8(ng-disabled='cancelable() || $checking')
            .form-group
              .col-xs-12
                label Batch CSV
                .fileinput.input-group(data-provides='fileinput' ng-class='{"fileinput-new": !batch.csv.name, "fileinput-exists": batch.csv.name}')
                  .form-control(data-trigger='fileinput')
                    i.glyphicon.glyphicon-file.fileinput-exists
                    span.fileinput-filename {{batch.csv.name}}
                  span.input-group-addon.btn.btn-default.btn-file(ng-if='editable()')
                    span.fileinput-new Select file
                    span.fileinput-exists Change
                    input(ng-if='batch.csv.name' type='hidden' name='batchcsv' value='{{batch.csv.name}}')
                    input(type='file' name='batchcsv' accept='.csv' file-model ng-model='batch.csv.file')
                  a.input-group-addon.btn.btn-default.fileinput-exists(href='/batches/{{batch.id}}/download' target='_self') Download
              .col-xs-12
                span.col-xs-1.text-danger.batchAlert(ng-if='fileError && !$checking')
                  i.fa.fa-exclamation-triangle.fa-lg
                span.col-xs-11.text-danger.batchError(ng-if='fileError && !$checking')
                  | File headers don't match template variables. Value(s)&nbsp;
                  span(ng-repeat='value in headerErrors') {{value}}
                    span(ng-if='!$last') ,&nbsp;
                  | &nbsp;are missing from the given file. Please edit or select a new file.
                p.text-success.batchAlert(ng-if='fileSuccess && !$checking')
                  i.fa.fa-check.fa-lg
                  | &nbsp;Success
                p.text-default.batchAlert(ng-if='$checking')
                  i.fa.fa-spinner.fa-lg.fa-spin
                  | &nbsp;Processing
            .form-group(ng-if='editable()')
              .col-xs-12
                .btn-toolbar
                  bs-modal-save-button(on-save='save()')
                  button.btn.btn-warning(ng-click='preview()', ng-disabled='!previewable()') Send Preview
                  a.btn.btn-info(href='/batches/{{batch.template.value!=null ? batch.template.value : batch.template}}', target='_self' ng-if='batch.template') Download CSV Template
                  button.btn.btn-default(ng-click='reset()') Reset
                  button.btn.btn-danger.pull-right(type='button', ng-if='batch.id', ng-click='delete()') Delete?
              .col-xs-12(ng-if='!previewable()')
                p.help-block You must save the batch before you are able to send a preview. It must also have a 'Subject' and 'Template'.

  script(id='preview-modal.html', type='text/ng-template')
    .modal-header
      h4.modal-title Message Preview
    form.modal-body(name='forms.sender' novalidate)
      fieldset
        .form-group
          label(for='recipient') Recipient
          input#recipient.form-control(type='email', required, ng-model='preview.recipient.email', placeholder='Sample Recipient')
        .form-group
          label(for='agent') Agent
          ui-select(ng-model="preview.agent" theme="bootstrap" ng-disabled="disabled" reset-search-input="false")
            ui-select-match(placeholder='Enter an email address...' ) {{$select.selected}}
            ui-select-choices(repeat='sender in senders | orderBy | filter: $select.search')
              div(ng-bind-html='sender | highlight: $select.search')

      fieldset(ng-if='filtered_attributes.length')
        h4 Attributes
        .form-group(ng-repeat='x in filtered_attributes')
          label.control-label(for='{{x.name}}') {{x.name}}
          .form-control.text-center(ng-if='!filtered_attributes')
            i.fa.fa-circle-o-notch.fa-spin
          ui-select(ng-model='custom[x._name]' name='{{x._name}}' theme='bootstrap' required ng-disabled='disabled' reset-search-input='false')
            ui-select-match(placeholder='Select a {{x.name}} attribute...' ) {{$select.selected.name}}
            ui-select-choices(repeat='value.name as value in x.values | orderBy: "name" | filter: $select.search')
              div(ng-bind-html='value.name | highlight: $select.search')

      fieldset.form-horizontal(ng-if='variables.length')
        h4 Variables
        .form-group(ng-repeat='x in variables')
          label.col-xs-4.control-label {{x}}
          .col-xs-8
            input.form-control(type='text', required, ng-model='custom[x]', placeholder='{{x}}')
    .modal-footer
      button.btn.btn-primary(ng-click='trigger()' ng-disabled='!forms.sender.$valid') Trigger
      button.btn.btn-default(ng-click='$dismiss()') Close

  script(id='confirm-modal.html', type='text/ng-template')
    .modal-header
      h4.modal-title {{type}}?
    .modal-body
      | Are you sure you want to {{type.toLowerCase()}} this batch?
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='dismiss()') No
