doctype html

.container
  .slide
    .slide-up-out.slide-down-in.container(ng-if='!contact')
      .row.lead-controls
        .col-xs-5
          form(name='forms.contactSearch' ng-submit='search()')
            .form-group.has-feedback
              label.sr-only.control-label Contact search
              input.form-control(type='email', ng-model='form.contactSearch' placeholder='Search by email')
              i.fa.fa-times.form-control-feedback.form-control-clear(ng-if='form.contactSearch.length && !forms.contactSearch.$submitting' ng-click='search(form.contactSearch = \'\')')
              i.fa.fa-search.form-control-feedback(ng-if='!form.contactSearch.length && !forms.contactSearch.$submitting')
              i.form-control-feedback.fa.fa-refresh.fa-spin(ng-if='forms.contactSearch.$submitting')
            .details(ng-if='searched && form.contactSearch')
              .alert.alert-warning(ng-if='searched.notfound')
                b Email Address was not found.

        .col-xs-7
          .btn-toolbar.pull-right
            button.btn.btn-default(ng-click='newContact()') New Lead
            button.btn.btn-default(ng-click='editProfiles()') Edit Contact Profile
      br
      .row.columns-sv
        .col-xs-12
          table.table.table-bordered.table-striped.contacts-table(ng-hide='!form.contactSearch || !searched')
            thead
              th Email
              th Name
              th Attributes
              th Status
              th(uib-popover='Click on a segment below to see the associated messages.' popover-trigger='mouseenter' popover-placement='bottom' popover-append-to-body='true')
                | Segment &nbsp;
                i.fa.fa-xs.fa-question-circle
              th Drip
            tbody(ng-if='loadContacts')
              tr.loading
                td(colspan='100')
                  .spinner.spinner-center
            tbody(ng-if='!loadContacts')
              tr(ng-repeat='lead in searchedLeads' ng-if='searchedLeads.length && searched')
                td
                  .outside-left
                    i.fa.fa-lg.fa-fw.fa-info(ng-click='showLead.open(lead.id)')
                    i.fa.fa-lg.fa-fw.fa-pencil(ng-click='go(".edit", {id: lead.id})')
                  | {{lead.recipient.email}}
                td {{lead.recipient.lastname}}, {{lead.recipient.firstname}}
                td
                  span(ng-repeat='(name, value) in lead.attributes', title='{{name}}')
                    | {{value}}
                    span(ng-hide='$last') ,&nbsp;
                td
                  | {{statuses[lead.$status || lead.status].name || "N/A"}}
                  i.fa.fa-lg.fa-fw.fa-exclamation-circle.text-warning(ng-if='!statuses[lead.$status || lead.status].active' uib-popover='Status is no longer valid' upopover-trigger='mouseenter' popover-placement='right' popover-append-to-body='true')
                td(href ng-click='showAttribute.open(lead, statuses)')
                  a {{statuses[lead.$status || lead.status].segments[lead.segment].name || "N/A"}}
                td {{statuses[lead.$status || lead.status].segments[lead.segment].steps[lead.step].name || "N/A"}}
              tr(ng-if='!searchedLeads.length')
                td.text-center.muted(colspan='6') No leads found.
          div(sv-paging='Contacts' ng-if='!form.contactSearch || !searched')
            table.table.table-bordered.table-striped.contacts-table
              thead
                tr
                  td(colspan='6')
                    .pull-left
                      sv-paging-filter
                    form.form-inline.pull-right
                      .form-group
                        sv-paging-range(format='yyyy-mm-dd')
                      .form-group
                        sv-paging-exporter(export-keys='updated, recipient = recipient.email, agent')
                tr
                  th Email
                  th Name
                  th Attributes
                  th Status
                  th(uib-popover='Click on a segment below to see the associated messages.' popover-trigger='mouseenter' popover-placement='bottom' popover-append-to-body='true')
                    | Segment &nbsp;
                    i.fa.fa-xs.fa-question-circle
                  th Drip
              tbody(ng-if='$loading')
                tr.loading
                  td(colspan='100')
                    .spinner.spinner-center
              tbody(ng-if='!$loading')
                tr(ng-repeat='lead in objects' ng-if='objects.length && !searched')
                  td
                    .outside-left
                      i.fa.fa-lg.fa-fw.fa-info(ng-click='showLead.open(lead.id)')
                      i.fa.fa-lg.fa-fw.fa-pencil(ng-click='go(".edit", {id: lead.id})')
                    | {{lead.recipient.email}}
                  td {{lead.recipient.lastname}}, {{lead.recipient.firstname}}
                  td
                    span(ng-repeat='(name, value) in lead.attributes', title='{{name}}')
                      | {{value}}
                      span(ng-hide='$last') ,&nbsp;
                  td
                    | {{statuses[lead.$status || lead.status].name || "N/A"}}
                    i.fa.fa-lg.fa-fw.fa-exclamation-circle.text-warning(ng-if='!statuses[lead.$status || lead.status].active' uib-popover='Status is no longer valid' popover-trigger='mouseenter' popover-placement='right' popover-append-to-body='true')
                  td(href ng-click='showAttribute.open(lead, statuses)' ng-if='statuses[lead.$status || lead.status].segments[lead.segment].name')
                    a {{statuses[lead.$status || lead.status].segments[lead.segment].name}}
                  td(ng-if='!statuses[lead.$status || lead.status].segments[lead.segment].name')
                    | N/A
                  td {{statuses[lead.$status || lead.status].segments[lead.segment].steps[lead.step].name || "N/A"}}
                tr(ng-if='!objects.length')
                  td.text-center.muted(colspan='6') No leads found.
            .text-center
              sv-paging-pager
        //.pull-right
          label.btn-sm
            input(type='checkbox' ng-model='show_inactive' ng-change='showInactive()')
            | &nbsp;Show Archived Contacts

        //-.row(ng-if='show_inactive')
          h4.col-xs-12 Archived Contacts
          .col-xs-12
            table.table.table-bordered.table-striped
              thead
                +sortcol('Email', 'email')
                +sortcol('Name', 'name')
                +sortcol('Origin', 'origin')
                +sortcol('Phones', 'phones')
              tbody
                tr(ng-repeat='iaLead in inactiveContacts|filter:filter|orderBy:sort.column:sort.desc as filteredContacts' ng-if='inactiveContacts.length' context-menu='iaContact-menu.html' context-menu-item='iaLead')
                  td {{iaLead.recipient.email}}
                  td {{iaLead.recipient.lastname}}, {{iaLead.recipient.firstname}}
                  td {{iaLead.origin || "N/A"}}
                  td
                    span(ng-repeat='(type, number) in iaLead.recipient.phones')
                      i.fa.fa-lg.fa-mobile(ng-if='type == "mobile"')
                      i.fa.fa-lg.fa-phone(ng-if='type == "home"')
                      i.fa.fa-briefcase(ng-if='type == "work"')
                      span &nbsp;{{number}}
                      span(ng-if='!$last') &nbsp;&nbsp;&nbsp;
                    span(ng-if='!hasPhones(iaLead)'): em No phone numbers.
                    a.context.pull-right(href)
                      i.fa.fa-chevron-circle-down
                tr(ng-if='!inactiveContacts.length')
                  td(colspan='4') No leads are inactive.
                tr(ng-if='inactiveContacts.length && !filteredContacts.length')
                  td.text-center.muted(colspan='4') No inactive senders are found in search.

  .slide-up-in.slide-down-out.container-fluid(ng-controller='ContactPage', ng-if='contact')
    p: a(href ui-sref='manage-contacts') < Back
    form.form-horizontal(name='forms.contact' novalidate ng-if='!$loading')
      h4.modal-title(ng-hide='contact.id') New Contact
      h4.modal-title(ng-show='contact.id') Edit Contact
      br
      .form-group
        label.col-xs-1.control-label First *
        .col-xs-5: input.form-control(ng-model='contact.recipient.firstname', required, type='text', name='recipient.firstname', placeholder='First', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
        label.col-xs-1.control-label Last *
        .col-xs-5: input.form-control(ng-model='contact.recipient.lastname', required, type='text', name='recipient.lastname', placeholder='Last', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
      .form-group.has-feedback
        label.requiredSignContact.col-xs-1.control-label Email *
        .col-xs-11: input.form-control(ng-model='contact.recipient.email', required, type='text', name='recipient.email', placeholder='Email', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
      .form-group
        label.col-xs-1.requiredSignContact.control-label Agent *
        .col-xs-5
          ui-select(ng-model='contact.agent' theme='bootstrap' required reset-search-input='false')
            ui-select-match(placeholder='Enter an email address...' ) {{$select.selected}}
            ui-select-choices(repeat='sender in senders | orderBy | filter: $select.search')
              div(ng-bind-html='sender | highlight: $select.search')
      .form-group
        label.col-xs-1.requiredSignContact.control-label Status *
        .col-xs-5
          ui-select(ng-model='contact.status' theme='bootstrap' required reset-search-input='false')
            ui-select-match(placeholder='Enter an status or alias...' ) {{$select.selected.key}}
            ui-select-choices(group-by='groupStatus' repeat="status.key as (key, status) in activeStatuses | orderBy | filter: {'key':$select.search}")
              div(ng-bind-html='status.key | highlight: $select.search')
      .row
        .col-xs-12
          h4 
            | Attributes * &nbsp;
            i.fa.fa-fw.fa-check-circle.text-success(ng-if='result == "success" && !running' uib-popover='Attributes will segment successfully!' popover-placement='right' popover-trigger='mouseenter' popover-append-to-body='true')
            i.fa.fa-fw.fa-exclamation-triangle.text-danger(ng-if='result == "error" && !running' uib-popover='Attributes will fail to segment.' popover-placement='right' popover-trigger='mouseenter' popover-append-to-body='true')
            i.fa.fa-spin.fa-spinner(ng-if='running' uib-popover='Checking attributes for valid segmentation.' popover-placement='right' popover-trigger='mouseenter' popover-append-to-body='true')
          .col-xs-6(ng-repeat='group in attributes | orderBy:"name"')
            .form-group
              label.col-xs-3.control-label {{group.name || "N/A"}}
              .col-xs-9
                ui-select(name='contact.attributes[{{group.short}}]' ng-disabled='contact.attributes[group.short] && contact.segment' ng-model='contact.attributes[group.short]' theme='bootstrap' required reset-search-input='false')
                  ui-select-match(placeholder='Enter an attribute...' ) {{$select.selected}}
                  ui-select-choices(group-by='groupAttribute' repeat="attrib in attrib_aliases[group.short] | filter: $select.search")
                    div(ng-bind-html='attrib | highlight: $select.search')
      .form-group
        .col-xs-6
          h4 Address
          .form-group
            label.col-xs-2.control-label Line 1
            .col-xs-10: input.form-control(ng-model='contact.recipient.address.line1', type='text', name='recipient.address.line1', placeholder='Line 1', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
          .form-group
            label.col-xs-2.control-label Line 2
            .col-xs-10: input.form-control(ng-model='contact.recipient.address.line2', type='text', name='recipient.address.line2', placeholder='Line 2', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
          .form-group
            label.col-xs-2.control-label City
            .col-xs-10: input.form-control(ng-model='contact.recipient.address.city', type='text', name='recipient.address.city', placeholder='City', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
          .form-group
            label.col-xs-2.control-label State
            .col-xs-4: input.form-control(ng-model='contact.recipient.address.state', type='text', name='recipient.address.state', placeholder='State', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
            label.col-xs-2.control-label Zip
            .col-xs-4: input.form-control(ng-model='contact.recipient.address.zip', type='text', name='recipient.address.zip', placeholder='Zip', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
        .col-xs-6
          h4 Phone Numbers
          .form-group
            label.col-xs-2.control-label Home
            .col-xs-10: input.form-control(ng-model='contact.recipient.phones.home', type='text', name='recipient.phones.home', placeholder='Home', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
          .form-group
            label.col-xs-2.control-label Mobile
            .col-xs-10: input.form-control(ng-model='contact.recipient.phones.mobile', type='text', name='recipient.phones.mobile', placeholder='Mobile', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
          .form-group
            label.col-xs-2.control-label Work
            .col-xs-10: input.form-control(ng-model='contact.recipient.phones.work', type='text', name='recipient.phones.work', placeholder='Work', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
      .form-group
        .col-xs-12
          h4(ng-click='additional()')
            | Additional &nbsp;
            i.fa.fa-xs.fa-caret-right(ng-if='!addit')
            i.fa.fa-xs.fa-caret-down(ng-if='addit')
            span(ng-show='reqAlert' uib-popover='Additional required variables' popover-trigger='mouseenter' popover-placement='right' popover-append-to-body='true')
              | &nbsp;
              i.fa.fa-xs.fa-exclamation-circle.text-danger
          .form-group(ng-show='addit')
            .col-xs-12
              h4 External
              .form-group
                label.col-xs-1.control-label  Id
                .col-xs-5: input.form-control(ng-model='contact.external.id', ng-disabled='contact.id', type='text', name='recipient.email', placeholder='Id', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
                label.col-xs-1.control-label Source
                .col-xs-5: input.form-control(ng-model='contact.external.source', ng-disabled='contact.id', type='text', name='recipient.email', placeholder='Source', ng-class="{'not-valid': forms.contact.submitted && forms.contact.name.$invalid && !forms.contact.$dirty}")
          .form-group(ng-show='addit')
            .col-xs-12
              h4
                | Custom &nbsp;
                small: i.fa.fa-xs.fa-question-circle(uib-popover='Any added custom fields will be available in the templates as replacements. These are used with "contact.recipient.custom.<name>". e.g. "contact.recipient.custom.Age"', popover-trigger='mouseenter')
              .form-group.col-xs-6(ng-repeat='field in fields')
                label.col-xs-3.control-label(ng-class="{'requiredSignContact': field.required}") {{field.name}} #[span(ng-if='field.required') *]
                .col-xs-9
                  input.form-control(ng-model='contact.recipient.custom[field.name]', type='text', placeholder='{{field.name}} value',  name='{{field.name}}' ng-if='!field.required')
                  input.form-control(ng-model='contact.recipient.custom[field.name]', type='text', placeholder='{{field.name}} value',  name='{{field.name}}' ng-if='field.required' required ng-class="{'not-valid': forms.contact.submitted && forms.contact[field.name].$invalid && !forms.contact.$dirty}")
      p.text-left * Required Field

      bs-modal-save-button(on-save='saveCheck()')
      button.btn.btn-success.pull-right(ng-if='$root.system.env != "production" && !contact.id' ng-click='generateLeadData()') Generate Lead Data
        
    .loading(ng-if='$loading')
      .spinner.spinner-center.contactSpinner

script(id='contact-menu.html' type='text/ng-template')
  .menu
    ul.dropdown-menu
      li: a(href ng-click='showLead.open(item.id)') View Contact
      li: a(href ng-click='editContact(item)') Edit Contact
      //li.divider
      //li: a(href ng-click='deleteContact(item)') Delete?

script(id='iaContact-menu.html' type='text/ng-template')
  .menu
    ul.dropdown-menu
      li: a(href ng-click='showLead.open(item.id)') View Contact
      li: a(href ng-click='editContact(item)') Edit Contact
      li: a(href ng-click='makeActive(item)') Activate Contact
      li.divider
      li: a(href ng-click='deleteContact(item)') Delete?

script(id='confirm-modal.html', type='text/ng-template')
  .modal-header
    button.close(type='button', ng-click='dismiss()') &times;
    h4.modal-title Confirm?
  .modal-body
    div Are you sure you want to delete the contact {{type}}?
  .modal-footer
    button.btn.btn-primary(ng-click='confirm()') Yes
    button.btn.btn-default(ng-click='dismiss()') No

script(id='save-check.html', type='text/ng-template')
  .modal-header
    button.close(type='button', ng-click='dismiss()') &times;
    h4.modal-title Confirm status change?
  .modal-body
    div A different status has been selected. This will resegment the lead. Do you want to continue?
  .modal-footer
    button.btn.btn-primary(ng-click='confirm()') Yes
    button.btn.btn-default(ng-click='dismiss()') No

script(id='reactivate-modal.html', type='text/ng-template')
  .modal-header
    button.close(type='button', ng-click='$dismiss()') &times;
    h4.modal-title Reactivate?
  .modal-body
    p Are you sure you want to reactivate the contact #[b {{name}}]?
  .modal-footer
    button.btn.btn-primary(ng-click='confirm()') Yes
    button.btn.btn-default(ng-click='$dismiss()') No
