script(id='message-panel.html', type='text/ng-template')
  .halfLeft(style="width:100%; height:auto")
    div(style="width:100%;padding-bottom:20px;")
      h4(style="width:100%") {{title}}
      p {{copy}}

script(id='message-library-templates-template.html', type='text/ng-template')
  .messageLibraryPanel

script(id='message-library-subject-template.html', type='text/ng-template')
  .messageLibraryPanel
    message-library-panel(section="section1" title="Subject" copy="Make your subject pop. Create subjects that read like headlines to intrigue your user into opening your emails.")
    label.control-label(style="width:100%") Subject
    .input-group(ng-if="currentVersion.id !='default'")
      .checkbox
        label
          input(type='checkbox', ng-change="onUseDefaultChange()" ng-checked="currentSubject.ref == 'default'" ng-true-value="'default'" ng-false-value="'self'"  ng-model="currentSubject.ref")
          | Use default Subject
    input.form-control(style="width:90%" ng-model="currentSubject.value" tabindex="-1" ng-change="onSubjectChange()" ng-disabled="currentSubject.ref == 'default' && currentVersion.id != 'default'" placeholder="Subject")

script(id='message-library-links-template.html', type='text/ng-template')
  .messageLibraryPanel
    message-library-panel(section="section2" title="Links" copy="We've pulled in all of the potential links from your selected template. Now choose the text that will be shown for them and where they go to.")
    div(style="width:calc(100% - 30px); height:calc(100vh - 375px);")
      div(ng-if="hasActiveLinks")
        ul( class="nav nav-tabs" role="tablist")
          li(role="presentation" ng-class="{'active':activeLinkTab == 'html' + link.name}" ng-click="linkTabClick('html' + link.name)"  ng-repeat="link in selectedTemplate.meta.html.links")
            a(aria-controls="html{{key}}" role="tab" data-toggle="tab") {{link.name}} HTML Link
          li(role="presentation" ng-class="{'active':activeLinkTab == 'text' + link.name}" ng-click="linkTabClick('text' + link.name)"  ng-repeat=" link in selectedTemplate.meta.text.links")
            a(aria-controls="text{{key}}" role="tab" data-toggle="tab") {{link.name}} Text Link
        div(class="tab-content")
          div(role="tabpanel" id="html{{key}}" ng-show="activeLinkTab == 'html{{link.name}}'"  ng-repeat="link in selectedTemplate.meta.html.links")
            .input-group(ng-if="currentVersion.id !='default'")
              .checkbox
                label
                  input(type='checkbox', ng-change="onUseDefaultChange()" ng-checked="htmlLinks[link.name].ref == 'default'" ng-model="htmlLinks[link.name].ref" ng-true-value="'default'" ng-false-value="'self'")
                  | Use default HTML Link
            form-group
              div
                ul(style="list-style-type:none; padding:0px")
                  li(style="width:calc(50% - 20px); height:10px; float:left; margin-left:20px")
                  li(style="width:calc(50% - 40px); float:left; padding-bottom:5px; margin-left:0px")
                    .select-label(style="font-weight:600; padding:10px") Link Type:
                    input(ng-disabled="currentVersion.id != 'default' && htmlLinks[link.name].ref == 'default'" type="radio" tabindex="-1" ng-model="htmlLinks[link.name].type" class="dotted-input" ng-change="onHTMLLinkChange()" value="url" style="margin-right:3px")
                    label(style="float:left; padding-right:10px; font-weight:300;") URL
                    input(ng-disabled="currentVersion.id != 'default' && htmlLinks[link.name].ref == 'default'" type="radio" tabindex="-1" ng-model="htmlLinks[link.name].type" class="dotted-input" ng-change="onHTMLLinkChange()" value="page" style="margin-right:3px;")
                    label(style="float:left; font-weight:300") Landing Page
              div
                ul(style="list-style-type:none; padding:0px;")
                    li(style="width:50%; float:left;")
                      label.control-label Link Text
                      input.form-control(type="text" ng-disabled="(currentVersion.id != 'default' && htmlLinks[link.name].ref == 'default') || doesLinkHaveNeeds(link) == false" ng-model="htmlLinks[link.name].text" ng-change="onHTMLLinkChange()" placeholder="Text for your link")
                    li(style="width:50%; float:left;")
                      label.control-label Link URL
                      input.form-control(ng-disabled="currentVersion.id != 'default' && htmlLinks[link.name].ref == 'default'" type="text" ng-show="htmlLinks[link.name].type=='url'" ng-change="onHTMLLinkChange()" ng-model="htmlLinks[link.name].value" placeholder="Link url")
                      .text-info(ng-show="htmlLinks[link.name].type=='url'" style="font-size:11px;") Links must include http(s):// when defining the url
                      select.input-sm.form-control(ng-disabled="currentVersion.id != 'default' && htmlLinks[link.name].ref == 'default'" ng-show="htmlLinks[link.name].type=='page'" ng-change="onHTMLLinkChange()" ng-model="htmlLinks[link.name].value" ng-options="landingPage.id as landingPage.name for landingPage in availableLandingPages")

          div(role="tabpanel" id="text{{key}}" ng-show="activeLinkTab == 'text{{link.name}}'"  ng-repeat="link in selectedTemplate.meta.text.links")
            .input-group(ng-if="currentVersion.id !='default'")
              .checkbox
                label
                  input(type='checkbox', ng-change="onUseDefaultChange()" ng-checked="textLinks[link.name].ref == 'default'" ng-model='textLinks[link.name].ref' ng-true-value="'default'" ng-false-value="'self'")
                  | Use default Text Link
            form-group
              div
                ul(style="list-style-type:none; padding:0px")
                  li(style="width:calc(50% - 20px); height:10px; float:left; margin-left:20px")
                  li(style="width:calc(50% - 40px); float:left; padding-bottom:5px; margin-left:0px")
                    .select-label(style="font-weight:600; padding:10px") Link Type:
                    input(ng-disabled="currentVersion.id != 'default' && textLinks[link.name].ref == 'default'" type="radio" tabindex="-1" ng-model="textLinks[link.name].type" class="dotted-input" ng-change="onTextLinkChange()" value="url" style="margin-right:3px")
                    label(style="float:left; padding-right:10px; font-weight:300;") URL
                    input(ng-disabled="currentVersion.id != 'default' && textLinks[link.name].ref == 'default'" type="radio" tabindex="-1" ng-model="textLinks[link.name].type" class="dotted-input" ng-change="onTextLinkChange()" value="page" style="margin-right:3px;")
                    label(style="float:left; font-weight:300") Landing Page
              div
                ul(style="list-style-type:none; padding:0px;")
                  li(style="width:50%; float:left;")
                    label.control-label Link Text
                    input.form-control(type="text" tabindex="-1" ng-disabled="currentVersion.id != 'default' && textLinks[link.name].ref == 'default'" ng-model="textLinks[link.name].text" ng-change="onTextLinkChange()" placeholder="Text for your link")
                  li(style="width:50%; float:left;")
                    label.control-label Link URL
                    input.form-control(ng-disabled="currentVersion.id != 'default' && textLinks[link.name].ref == 'default'" type="text" tabindex="-1" ng-show="textLinks[link.name].type!='page'" ng-change="onTextLinkChange()" ng-model="textLinks[link.name].value" placeholder="Link url")
                    .text-info(ng-show="textLinks[link.name].type=='url'" style="font-size:11px;") Links must include http(s):// when defining the url
                    select.input-sm.form-control(ng-show="textLinks[link.name].type=='page'" ng-disabled="currentVersion.id != 'default' && textLinks[link.name].ref == 'default'" tabindex="-1" ng-change="onTextLinkChange()" ng-model="textLinks[link.name].value" ng-options="landingPage.id as landingPage.name for landingPage in availableLandingPages")
      .noItemsInTemplate(ng-show="!hasActiveLinks")
        .alert.alert-info There are no links needed for this template


script(id='message-library-html-template.html', type='text/ng-template')
  .messageLibraryPanel
    message-library-panel(section="section3" title="HTML Blocks" copy="These are sections that get your potential client to click the button to move forward.")
    div(style="width:calc(100% - 30px); height:calc(100vh - 375px);")
      div(ng-if="hasActiveHTMLBlocks")
        ul( class="nav nav-tabs" role="tablist")
          li(role="presentation" ng-class="{'active':activeHtmlTab == htmlBlock.name}" ng-click="htmlTabClick(htmlBlock.name)"  ng-repeat="htmlBlock in selectedTemplate.meta.html.blocks")
            a(aria-controls="{{htmlBlock.name}}" role="tab" data-toggle="tab") {{htmlBlock.name}}
        div.tab-content
          .input-group(ng-if="currentVersion.id !='default'")
            .checkbox
              label
                input(type='checkbox', ng-change="onUseDefaultChange()" ng-checked="currentHTMLBlocks[activeHtmlTab].ref == 'default'" ng-true-value="'default'" ng-false-value="'self'" ng-model='currentHTMLBlocks[activeHtmlTab].ref' )
                | Use default HTML Block
          textarea(ng-if="currentVersion.id == 'default' || currentHTMLBlocks[activeHtmlTab].ref != 'default'" ckeditor='editor.htmlblock' id="html_editor" ng-model='currentHTMLBlocks[activeHtmlTab].value' style="height:90px; width:calc(100%)" ng-change="onBlockChange()")
          textarea(ng-show="currentHTMLBlocks[activeHtmlTab].ref == 'default' && currentVersion.id != 'default'"  disabled  ng-model='currentHTMLBlocks[activeHtmlTab].value' style="height:200px; width:calc(100%); color:#CCC; border-color:#CCC")
      .noItemsInTemplate(ng-show="!hasActiveHTMLBlocks")
        .alert.alert-info There are no html blocks needed for this template

script(id='message-library-plaintext-template.html', type='text/ng-template')
  .messageLibraryPanel
    message-library-panel(section="section4" title="Plain Text" copy="We can't guarantee that everyone will see the beautiful HTML that you crafted, so plain text gives you a backup. Think of it like sending someone a text message. Be precise and to the point.")
    div(style="width:calc(100% - 30px); height:calc(100vh - 375px);")
      div(ng-if="hasActivePlainTexts")
        ul( class="nav nav-tabs" role="tablist")
          li(role="presentation" ng-class="{'active':activePlainTextTab == plainText.name}" ng-click="plainTextTabClick(plainText.name)"  ng-repeat="plainText in selectedTemplate.meta.text.blocks")
            a(aria-controls="{{plainText.name}}" role="tab" data-toggle="tab") {{plainText.name}}
        div(class="tab-content")
          div(role="tabpanel" id="{{plainText.name}}" ng-show="activePlainTextTab == plainText.name"  ng-repeat="plainText in selectedTemplate.meta.text.blocks")
            .input-group(ng-if="currentVersion.id !='default'")
              .checkbox
                label
                  input(type='checkbox', ng-change="onUseDefaultChange()" ng-checked="currentPlainText[plainText.name].ref == 'default'" ng-model='currentPlainText[plainText.name].ref' ng-true-value="'default'" ng-false-value="'self'")
                  | Use default Plain Text Block
            textarea(ng-disabled="currentVersion.id != 'default' && currentPlainText[plainText.name].ref == 'default'" style="width:calc(100% - 30px); padding:5px; height:200px; margin-left:10px;" tabindex="-1"  ng-model="currentPlainText[plainText.name].value" ng-change="onPlainTextChange()" placeholder="You need some backup text just in case someone has an email client doesn't render HTML.  We know, it's sad but it happens. ;")
      .noItemsInTemplate(ng-show="!hasActivePlainTexts")
        .alert.alert-info There are no plain text areas needed for this template

script(id='message-library-policies-template.html', type='text/ng-template')
  .messageLibraryPanel
    message-library-panel(section="section5" title="Policies" copy="Sometimes you just have to get the lawyers involved. So pick the policy you want placed at the bottom of your message and then everyone is happy.")
    div(style="width:50%;")
      div(ng-if="hasActivePolicies")
        ul(style="list-style-type:none; padding:0px;")
          li(ng-repeat="repeatPolicy in selectedTemplate.meta.html.policies")
            label.control-label(style="float:left; width:100%; margin-bottom:0px;") {{repeatPolicy.name}}
            label.control-label(style="float:left; width:100%; margin-bottom:0px") HTML Policy
            .input-group(ng-if="currentVersion.id !='default'")
              .checkbox
                label
                  input(type='checkbox', ng-change="onUseDefaultChange()" ng-checked="htmlPolicies[repeatPolicy.name].ref == 'default'" ng-model="htmlPolicies[repeatPolicy.name].ref" ng-true-value="'default'" ng-false-value="'self'")
                  | Use default Policy
            select.input-sm.form-control(ng-disabled="currentVersion.id != 'default' && htmlPolicies[repeatPolicy.name].ref == 'default'" style="margin-bottom:20px;" ng-model="htmlPolicies[repeatPolicy.name].value" tabindex="-1" ng-change="onHTMLPolicyChange(policy)" ng-options="policy.id as policy.name for policy in availablePolicies")
          li(ng-repeat="repeatPolicy in selectedTemplate.meta.text.policies")
            label.control-label(style="float:left; width:100%; margin-bottom:0px;") {{repeatPolicy.name}}
            label.control-label(style="float:left; width:100%; margin-bottom:0px") Text Policy
            .input-group(ng-if="currentVersion.id !='default'")
              .checkbox
                label
                  input(type='checkbox', ng-change="onUseDefaultChange()" ng-checked="textPolicies[repeatPolicy.name].ref == 'default'" ng-model="textPolicies[repeatPolicy.name].ref" ng-true-value="'default'" ng-false-value="'self'")
                  | Use default policies
            select.input-sm.form-control(ng-disabled="currentVersion.id != 'default' && textPolicies[repeatPolicy.name].ref == 'default'" style="margin-bottom:20px;" ng-model="textPolicies[repeatPolicy.name].value" tabindex="-1" ng-change="onTextPolicyChange(policy)" ng-options="policy.id as policy.name for policy in availablePolicies")
      .noItemsInTemplate(ng-show="!hasActivePolicies")
        .alert.alert-info There are no policies needed for this template

script(id='message-library-preview-template.html', type='text/ng-template')
  .messageLibraryPanel
    message-library-panel(section="section6" title="Preview" copy="To see a preview of your message, the message must be completed first and saved.")
    .modal-body.ng-cloak(style='height:600px' ng-if="messageProgress=='completed'")
      iframe(message-preview-iframe refreshtrigger="preview.reload" style="width:100%; height:100%; border:none")
        p.alert.alert-danger There was an error displaying this preview.
        pre {{error}}
