.container.fixed-height(style="padding-right:0px; padding-left:0px; margin-right:0px; margin-left:0px; width:100%;margin-bottom:-20px; overflow:hidden")
  style(scoped).
    .softvu-dropdown select {-webkit-appearance: none;-moz-appearance:none;appearance:none;-webkit-border-radius: 0px;-moz-border-radius:0px;height: 37px;color:#999;font-family: "proxima-nova",sans-serif;font-size:11px;width:100%;border-style: solid;border-width: 1px;border-color: #e3e3e3;background-image: url(/images/down_arrow.png);background-repeat:no-repeat;background-position: right center;background-size: auto auto;outline:none;}

    .select-label {color:#999;font-family: "proxima-nova",sans-serif;font-size:11px;}

    .over {background: #e3e3e3;}

    .bin {font-size: 11px;text-align: center;font-family: 'proxima-nova',sans-serif;min-height: 30px;min-width: 50px;float: left;border-style:dashed;border-color:#999;border-width:1px;height:100%;width:100%;margin-left:5px;overflow-y:auto; overflow-x:hidden}

    .item {font-size: 11px;text-align: center;margin: 2px 2px 2px 2px;min-height: 20px;min-width: 30px;background: #5386c3;float: left;transition: all 0.2s ease;padding-left: 5px;padding-right:5px;padding-top: 7px;color:#FFF;font-family: 'proxima-nova',sans-serif;cursor:pointer;}

    .noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

    .nomargins {margin:0px;}

    .formError {margin-left:10px;font-family: 'proxima-nova',sans-serif;color:#FF0000;font-size:11px;font-weight:400;}

    .error {border-color:#FF0000; border-width: 1px; border-style: thin;}

    .versionItem {font-family: 'proxima-nova',sans-serif;font-weight: 600;font-size: 16px;color:#333;padding-left:10px;padding-top:20px;height:60px;cursor:pointer;}

    .verisonTitle {color: #BBB;width:100%;}

    .itemSummary {font-weight:400;color:#AAA;}

    .itemNoSummary {font-weight:400;color:#cc7676;}

    .linkSummaryText {float:left;font-family: 'proxima-nova',sans-serif;font-weight: 400;font-size: 12px;color:#BBB;}

    .linkNoSummaryText {float:left;font-family: 'proxima-nova',sans-serif;font-weight: 400;font-size: 12px;color:#FF0000;}

    .linkSummaryDestination {float:right;font-family: 'proxima-nova',sans-serif;font-weight: 400;font-size: 12px;color:#BBB;}

    .stats {font-family: 'proxima-nova',sans-serif;font-weight:300;color:#666;font-size: 12px;width:100%;}

    .nostats {font-family: 'proxima-nova',sans-serif;font-weight:300;color:#DDD;font-size: 12px;}

    .attribute {font-family: 'proxima-nova',sans-serif;font-weight:300;color:#BBB;font-size: 11px;float:left;padding-right:10px;}

    .needContentHelpTitle {color:#999;font-family: 'proxima-nova',sans-serif;font-weight:100;font-size:24px;margin-left:10px;margin-top:10px;margin-right:10px}

    .needContentHelp {color:#999;font-family: 'proxima-nova',sans-serif;font-weight:400;font-size:11px;margin-left:10px;line-height: 20px;margin-right:10px;}

    .first-panel {width:200%;height:100%;}

    .hide-panel {margin-left:-100%;-webkit-transition: height .5s ease-out;transition:  height .5s ease-out;}

    .drip-manager-welcome {width:50%;height:100%;float:left;}

    .current-drip-list {width:50%;height:100%;float:left;}

    .softvu-error-container {height:0px;-webkit-transition: height .5s ease-out;transition:  height .5s ease-out; overflow:hidden}

    .softvu-error-container-show {height:30px;-webkit-transition: height .5s ease-out;transition:  height .5s ease-out;}

    .softvu-error {font-size:11px;font-weight:600;color:#FF0000;text-align:center;}

    input:focus, textarea:focus  {outline:none}

    input[type=radio] {display:inline-block;width:15px;height:15px;float:left;}

    select.softvu-dropdown {-webkit-appearance: none;-moz-appearance:none;appearance:none;-webkit-border-radius: 0px;-moz-border-radius:0px;height: 37px;color:#999;font-family: "proxima-nova",sans-serif;font-size:11px;width:100%;border-style: solid;border-width: 1px;border-color: #e3e3e3;background-image: url(/images/down_arrow.png);background-repeat:no-repeat;background-position: right center;background-size: auto auto;outline:none;}

    option {color: #999; font-family: "proxima-nova", sans-serif; font-size: 11px; height: 20px; padding-top: 7px;}

    .select-label {color:#999;font-family: "proxima-nova",sans-serif;font-size:11px;}

    .noItemsInTemplate {width:400px; height:50px; float:left;}

    .noItemsInTemplateCaption {font-size:12px; text-align:center; font-weight:600; color:#FFF; margin:10px}

    .messageLibraryPanel {width:100%; float:left; min-height:100%; height:100%}

    .halfLeft {width:50%; float:left; height:calc(100% - 0px); overflow:auto}

    .halfRight {width:50%; float:right; height:calc(100% - 0px);}

    .halfRightFull {width:100%; float:left; height:calc(100% - 75px);}

    .template.active {background-color:#337ab7}

    .template :hover {background-color:#337ab7}

    .template.disable_template {
      opacity:0.5;
      cursor: not-allowed;
    }

    .template.disable_template :hover {
      cursor: not-allowed;
      background-color:#FFFFFF;
    }

    .templateListwoWarning {background-color:#FFFFFF; width:calc(100% - 0px); height:calc(100% - 50px); overflow-y:auto; overflow-x:hidden; margin-left:0px}

    .templateListwWarning {background-color:#FFFFFF; width:calc(100% - 0px); height:calc(100% - 160px); overflow-y:auto; overflow-x:hidden; margin-left:0px}


    ::-webkit-input-placeholder {color:#E3E3E3;}
    :-moz-placeholder {color:#E3E3E3;opacity:1;}
    ::-moz-placeholder {color:#E3E3E3;opacity:1;}
    :-ms-input-placeholder {color:#E3E3E3;}
    .bold {font-weight: 600;}

    .nav-stacked>li {
      margin-top:10px;
      background-color:#E6E7EC
    }

    .nav-stacked>li+li {
      margin-top:10px;
      background-color:#E6E7EC
    }

    .nav>li.disabled>a {
      color:#f3f4f6
    }

    .panel-title > a .fa-caret-left {
      display:none;
    }

    .panel-title > a .fa-caret-down {
      display:block;
    }

    .panel-title >a.collapsed .fa-caret-left {
      display:block;
    }

    .panel-title >a.collapsed .fa-caret-down {
      display:none;
    }

    .app-modal-window .modal-dialog .modal-content {
      border-radius:0px
    }

    .showSearch {
      max-height:40px;
      -webkit-transition: max-height 0.5s ease-out;
      -moz-transition: max-height 0.5s ease-out;
      transition: max-height 0.5s ease-out;
    }

    .hideSearch {
      max-height: 0px;
      -webkit-transition: max-height 0.5s ease-out;
      -moz-transition: max-height 0.5s ease-out;
      transition: max-height 0.5s  ease-out;
    }

    .showSearchList {
      max-height: calc(100vh - 317px);
      -webkit-transition: max-height 0.5s ease-out;
      -moz-transition: max-height 0.5s ease-out;
      transition: max-height 0.5s ease-out;
    }

    .hideSearchList {
      max-height: calc(100vh - 280px);
      -webkit-transition: max-height 0.5s ease-out;
      -moz-transition: max-height 0.5s ease-out;
      transition: max-height 0.5s  ease-out;
    }

    .hideBottomPadding {
      padding-bottom:3px;
    }

    .showBottomPadding {
      padding-bottom:10px
    }

    .even {
      background-color: #FFFFFF
    }

    .odd {
      background-color: #EDEDED;
    }

    .showVersionsList {
      max-height:500px;
      -webkit-transition: max-height 1.5s ease-out;
      -moz-transition: max-height 1.5s ease-out;
      transition: max-height 1.5s  ease-out;
    }

    .hideVersionsList {
      max-height:0px;
      height: auto;
      -webkit-transition: max-height 0.5s ease-out;
      -moz-transition: max-height 0.5s ease-out;
      transition: max-height 0.5s  ease-out;
    }

    .disable_template {
      opacity:0.5;
      cursor: not-allowed;
    }

    .messageheader  {
      text-decoration:none;
    }

    .messageheader:hover {
      text-decoration:none;
    }

  .row.columns-sv(id="messageLibrary" ng-controller="DripTemplateChooserCtrl" style="width:200%; height:calc(100vh - 170px); overflow:hidden; margin-top:-10px")
    div(id="messageTemplate" style="width:50%; float:left; height:100%;")
      div(style="width:50%; float:left; max-width:400px; height:100%; padding-left:10px;")
        h4(style="margin-left:10px; margin-top:20px;") Drip Messages
        .small.small(style="margin-left:10px;") To the right are all of your existing messages, simply click on one and edit it.  Or click the new button on the left and start making version 2.0.
          button.btn.btn-primary(ng-enabled="false" ng-click="createNewTemplate()") Create a Message
      div(style="width:50%; float:right; height:100%; padding-right:10px")
        .panel-group(id="accordian" style="height:calc(100% - 60px)")
          .panel.panel-primary(style="border-radius:0px; border-color:#FFFFFF; overflow:hidden")
            .panel-heading(style="padding:15px 15px; margin-top:5px; cursor:pointer" data-toggle="collapse" data-parent="#accordian" href="#collapseOne")
              h4.panel-title
                a.messageheader(data-toggle="collapse" data-parent="#accordian" href="#collapseOne")
                  .column-header.status-bgcolor(style="color:#FFFFFF")
                    i.fa.fa-envelope-o(style="padding-right:10px")
                    | Messages
                    span.fa.fa-caret-left(style="float:right")
                    span.fa.fa-caret-down(style="float:right")
                span.glyphicon.glyphicon-search(ng-click="toggleMessageSearch($event)" style="float:right; cursor:pointer; margin-right:20px; margin-top:-15px")
            .panel-collapse.collape.in(id="collapseOne" style="height:calc(100% - 50px)")
              .panel-body(style="padding:0px; border:none; height:100%")
                div(ng-if="templatesInLibrary1.length != 0" style="height:100%")
                  .columns-sv(style="height:100%")
                    .column.messages(style="overflow:hidden; height:100%")
                      .column-search(style="border:1px solid #D5D5D5; overflow:hidden" ng-class="{'showSearch' : showMessageSearch, 'hideSearch' : !showMessageSearch}")
                        input(type='text' placeholder='search...' ng-model='messageSearchText' style="border:none; font-size:13px; padding:10px;")
                      div(style="background-color:#FFFFFF; width:calc(100% - 0px); overflow-y:auto; overflow-x:hidden; margin-top:-1px; height:100%" ng-class="{'showSearchList' : showMessageSearch, 'hideSearchList' : !showMessageSearch}" )
                        .list-group(style="margin-top:0px;")
                          .list-group-item.noselect(ng-class="{'hideBottomPadding' : active_versions(template)> 1, 'showBottomPadding' : active_versions(template)<2 }" style="cursor:pointer; border-radius:0px" ng-repeat="template in templatesInLibrary | orderBy:'name'  | filter:messageSearchText" context-menu='message-menu.html' context-menu-item='template')
                            div(style="width:calc(100% - 50px); display:inline-block" ng-click="editMessageDripTemplate(template)")
                              h5(style="margin-top:0px; margin-bottom:0px")
                                | {{template.name}}
                              .small.small(ng-if="active_versions(template)< 2") {{template.subject.value != null ? template.subject.value : template.subject}}
                              .small.small(ng-if="active_versions(template)> 1") You have {{active_versions(template)}} versions of this message.
                              .list-group-item-heading(ng-if="active_versions(template)< 2" style="margin:0px; padding:0px; display:inline-block; width:85%; font-size:11px; color:#D5D5D5")
                                | Last updated&nbsp;{{template.updated | date:'medium'}}
                              .list-group-item-heading(ng-if="active_versions(template)> 1" style="margin-bottom:7px; padding:0px; display:inline-block; width:85%; font-size:11px; color:#D5D5D5")
                                | Last updated&nbsp;{{template.updated | date:'medium'}}
                                span(ng-if="template.updateby") &nbsp; by &nbsp;{{template.updatedBy}}
                            div(style="float:right")
                              ul(style="list-style-type:none; padding:0px; display:inline-block; min-width:15px")
                                li(style="text-align:center")
                                  a.context
                                    i.fa.fa-angle-down(style="color:#666666")
                                li(style="text-align:center")
                                  i.fa.fa-calendar(style="color:#666666" ng-click="showStatusesThatHaveMessage($event, template)" ng-if="isMessageInCampaign(template.id)")
                                li(style="text-align:center")
                                  a.context
                                    i.fa.fa-puzzle-piece(style="color:#666666" ng-if='!templateExists(template)')
                            div(style="overflow:hidden; margin-left:-15px; width:calc(100% + 30px)" ng-class="{'showVersionsList' : shouldShowVersions(template.id), 'hideVersionsList' : !shouldShowVersions(template.id)}")
                              div(ng-if="active_versions(template)> 1" style="box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46); -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46); -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46);; width:calc(100% + 30px); margin-left:-15px; height:5px") &nbsp;
                              .list-group(ng-if="active_versions(template)> 1" style="margin-top:5px; margin-bottom:0px")
                                .list-group-item.noselect(ng-class-odd="'odd'" ng-class-even="'even'" style="cursor:pointer; border-radius:0px; border:none; margin-left:-15px; width:calc(100% + 30px)" ng-click="editVersion(template, templateVersion, $event)"  ng-repeat="templateVersion in template.versions | orderBy:[isDefault, 'name'] | filter: {hidden : false}"  context-menu='version-menu.html' context-menu-item="{'template': template, 'templateVersion': templateVersion}")
                                  h6(style="margin-top:0px; margin-bottom:0px; margin-left:20px")
                                    | {{templateVersion.name}}
                                    h9.badge(style="margin-left:10px; margin-top:-2px;" ng-if="numberOfAttributes(templateVersion.filters)>0"  uib-popover='{{templateVersion.filter_names.join(\', \')}}' popover-trigger='mouseenter' popover-placement='right' popover-title='Version Filters' popover-append-to-body='true') {{numberOfAttributes(templateVersion.filters)}}
                                    a.context(style="padding-right:19px; float:right")
                                      i.fa.fa-angle-down(style="color:#666666")

                div(ng-if="templatesInLibrary1.length==0") There are no messages available in this library.
          .panel.panel-primary(style="border-radius:0px; background-color:#f3a50e; border:none")
            .panel-heading(style="border-radius:0px; background-color:#f3a50e; border-color:#f3a50e; padding:15px; cursor:pointer" data-toggle="collapse" data-parent="#accordian" href="#collapseTwo")
              h4.panel-title
                a.messageheader.collapsed(data-toggle="collapse" data-parent="#accordian" href="#collapseTwo")
                  .column-header.status-bgcolor(style="color:#FFFFFF; background-color:#f3a50e !important; text-decoration:none")
                    i.fa.fa-file-code-o(style="padding-left:3px; padding-right:11px")
                    | Draft Messages
                    span.fa.fa-caret-left(style="float:right")
                    span.fa.fa-caret-down(style="float:right")
                span.glyphicon.glyphicon-search(ng-click="toggleDraftSearch($event)" style="float:right; cursor:pointer; margin-right:20px; margin-top:-15px")
            .panel-collapse.collapse(id="collapseTwo")
              .panel-body(style="background-color:#FFFFFF; padding:0px; border:0px solid #D5D5D5")
                div(ng-if="draftsInLibrary.length!=0")
                  .columns-sv
                    .column.messages
                      .column-search(style="border:1px solid #D5D5D5" ng-class="{'showSearch' : showDraftSearch, 'hideSearch' : !showDraftSearch}")
                        input(type='text' placeholder='search...' ng-model='draftSearchText' style='border:none')

                      div(style="background-color:#FFFFFF; width:calc(100% - 0px); overflow-y:auto; overflow-x:hidden; margin-top:-1px; height:100%" ng-class="{'showSearchList' : showMessageSearch, 'hideSearchList' : !showMessageSearch}" )
                        .list-group(style="margin-top:0px;")
                          .list-group-item.noselect(ng-class="{'hideBottomPadding' : active_versions(template)> 1, 'showBottomPadding' : active_versions(template)<2 }" style="cursor:pointer; border-radius:0px" ng-repeat="template in draftsInLibrary | orderBy:'name'  | filter:draftSearchText" context-menu='draft-menu.html' context-menu-item='template')
                            div(style="width:calc(100% - 50px); display:inline-block" ng-click="editMessageDripTemplate(template)")
                              h5(style="margin-top:0px; margin-bottom:0px")
                                | {{template.name}}
                              .small.small(ng-if="active_versions(template)< 2") {{template.subject.value != null ? template.subject.value : template.subject}}
                              .small.small(ng-if="active_versions(template)> 1") You have {{active_versions(template)}} versions of this message.
                              .list-group-item-heading(ng-if="active_versions(template)< 2" style="margin:0px; padding:0px; display:inline-block; width:85%; font-size:11px; color:#D5D5D5")
                                | Last updated&nbsp;{{template.updated | date:'medium'}}
                              .list-group-item-heading(ng-if="active_versions(template)> 1" style="margin-bottom:7px; padding:0px; display:inline-block; width:85%; font-size:11px; color:#D5D5D5")
                                | Last updated&nbsp;{{template.updated | date:'medium'}}
                                span(ng-if="template.updateby") &nbsp; by &nbsp;{{template.updatedBy}}
                            div(style="float:right")
                              ul(style="list-style-type:none; padding:0px; display:inline-block; min-width:15px")
                                li(style="text-align:center")
                                  a.context
                                    i.fa.fa-angle-down(style="color:#666666")
                                li(style="text-align:center")
                                  i.fa.fa-calendar(style="color:#666666" ng-click="showStatusesThatHaveMessage($event, template)" ng-if="isMessageInCampaign(template.id)")
                                li(style="text-align:center")
                                  a.context
                                    i.fa.fa-puzzle-piece(style="color:#666666" ng-if='!templateExists(template)')
                            div(style="overflow:hidden; margin-left:-15px; width:calc(100% + 30px)" ng-class="{'showVersionsList' : shouldShowVersions(template.id), 'hideVersionsList' : !shouldShowVersions(template.id)}")
                              div(ng-if="active_versions(template)> 1" style="box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46); -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46); -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46);; width:calc(100% + 30px); margin-left:-15px; height:5px") &nbsp;
                              .list-group(ng-if="active_versions(template)> 1" style="margin-top:5px; margin-bottom:0px")
                                .list-group-item.noselect(ng-class-odd="'odd'" ng-class-even="'even'" style="cursor:pointer; border-radius:0px; border:none; margin-left:-15px; width:calc(100% + 30px)" ng-click="editVersion(template, templateVersion, $event)"  ng-repeat="templateVersion in template.versions | orderBy:[isDefault, 'name'] | filter: {hidden : false}"  context-menu='draft-version-menu.html' context-menu-item="{'template': template, 'templateVersion': templateVersion}")
                                  h6(style="margin-top:0px; margin-bottom:0px; margin-left:20px")
                                    | {{templateVersion.name}}
                                    h9.badge(style="margin-left:10px; margin-top:-2px;" ng-if="numberOfAttributes(templateVersion.filters)>0"  uib-popover='{{templateVersion.filter_names.join(\', \')}}' popover-trigger='mouseenter' popover-placement='right' popover-title='Version Filters' popover-append-to-body='true') {{numberOfAttributes(templateVersion.filters)}}
                                    a.context(style="padding-right:19px; float:right")
                                      i.fa.fa-angle-down(style="color:#666666")
                div(ng-if="draftsInLibrary.length==0" style="background-color:#FFFFFF; width:calc(100% - 0px); height:calc(100vh - 328px); ") There are no message drafts available in this library.

    div(id="messageLibraryWizard" ng-controller="MessageLibraryCtrl"  style="float:left; width:50%; overflow:hidden; height:calc(100% - 0px); ")

      div(style="width:100%; height:44px;  padding-top:10px")
        i.fa.fa-arrow-left(ng-click="onBackToLibraryClicked()" alt="Back to library" style="cursor:pointer; float:left; margin-top:3px; margin-left:10px;")
        div(ng-controller="TemplateChooserCtrl" style="float:left;")
          h4(style="margin-left:10px; margin-top:0px; margin-bottom:0px; display:inline-block; color:#999999") {{message.messageName}}&nbsp;
          i.fa.fa-angle-right(ng-if="message.messageName != ''" style="display:inline-block; margin-left:5px; margin-top:-3px")
          h4(style="margin-left:5px; margin-top:0px; margin-bottom:0px; display:inline-block" ng-if="message.messageName != ''") {{currentVersion.name}}
      div(style="height:calc(100% - 94px)")
        div(style="width:150px; height:100%; float:left")
          div(id="wizardNavigation" role="navigation" style="width:150px; position:relative;")
            .btn.btn-primary(ng-click="stepBackMessageWizard()" style="border-radius:0px; width:48%" ng-class="{ 'disabled':currentVersion.template==-1 || currentWizardPosition ==0}") Back
            .btn.btn-primary(ng-click="stepForwardMessageWizard()" style="border-radius:0px; width:48%; float:right" ng-class="{ 'disabled':currentVersion.template==-1 || currentWizardPosition ==6}") Next
            ul.nav.nav-pills.nav-stacked
              li(role="presentation" style="cursor:pointer; border-radius:0px;"  ng-repeat="navItem in navigationItems" ng-class="{'active':currentWizardPosition == $index, }" ng-click="changeWizardPosition($index)")
                a(style="border-radius:0px;") Step {{$index + 1}} {{navItem}}
        div(style="float:right; width:calc(100vw - 180px); height:calc(100% - 44px)")
          div(id="wizardParent"  style="width:100%; height:100%; overflow:hidden; ")
            div(id="wizardContainer" style="width:100%; height:100%")

              .messageLibraryPanel(ng-controller="TemplateChooserCtrl")
                a(name="section0")
                .halfLeft(ng-if="currentVersion.id == 'default'")
                  h4 Templates
                  div(style="margin-right:10px; margin-top:20px;")
                    .softvu-error-container(ng-class="{'softvu-error-container':!templateNameError, 'softvu-error-container-show':templateNameError}")
                      .alert.alert-danger(style="text-align:left;") {{templateNameError}}
                    label.control-label Message Name
                    input.form-control(tabindex="-1" ng-model="message.messageName" placeholder="Message Name" ng-change="onMessageNameChange()")
                    label.control-label(style="padding-top:20px;") Slug Name
                    input.form-control(tabindex="-1" ng-model="message.slugName" placeholder="Slug Name" ng-change="onSlugNameChange()")
                .halfRight(ng-class="{'halfRight' : currentVersion.id == 'default', 'halfRightFull' : currentVersion.id != 'default'}")
                  div(ng-hide="messageTemplateExists" style="margin-left:5px; margin-right: 5px;")
                    .alert.alert-danger The template associated with message no longer exists.  Please choose another one.
                  .input-group(ng-if="currentVersion.id !='default'")
                    .checkbox
                      label
                        input(type='checkbox', ng-change="onUseDefaultChange()" ng-checked="currentTemplate.ref == 'default'" ng-true-value="'default'" ng-false-value="'self'" ng-model='currentTemplate.ref')
                        | Use default Template
                  .columns-sv(style="height:50px")
                    .column.messages
                      .column-header.status-bgcolor(style="color:#FFFFFF; margin-left:5px; margin-right:5px; height:50px")
                        i.fa.fa-envelope-o
                        | &nbsp;Templates
                  div(ng-class="{'templateListwoWarning':currentVersion.template.value==-1, 'templateListwWarning':currentVersion.template.value!=-1}")
                    .col-md-4.template(style="margin-bottom:20px; margin-left:5px; margin-right:0px; height:175px; width:150px; overflow:hidden;" ng-repeat="template in messageTemplates | orderBy:'templateName'" ng-class="{'active':template.id == currentVersion.template.value, 'disable_template' : currentTemplate.ref == 'default' && currentVersion.id != 'default'}" ng-click="selectTemplate(template)")
                      span.tags
                        span(ng-repeat='tag in template.tags')
                          span.label.label-default {{tag}}
                          | &nbsp;
                      div.img-thumbnail(style='height: 280px; margin-bottom:20px vertical-align: middle;' ng-if='!template.thumbnail')
                        .spinner.spinner-center(style='margin-left: -29px; margin-top: -38px;')
                      img.img-thumbnail(style="border-radius:0px; border:none" ng-src='{{template.thumbnail}}'  ng-if='template.thumbnail')


              .messageLibraryPanel
                a(name="section1")
                message-subject-editor

              .messageLibraryPanel
                a(name="section2")
                message-links-editor

              .messageLibraryPanel
                a(name="section3")
                message-html-blocks-editor

              .messageLibraryPanel
                a(name="section4")
                message-plain-text-editor

              .messageLibraryPanel
                a(name="section5")
                message-policies-editor

              .messageLibraryPanel
                a(name="section6")
                message-preview-editor


      div(ng-controller="MessageLibraryCtrl" style="width:100%; height:50px !important; background-color:#999999; ")
        div(ng-if="messageProgress!='na'" style="text-align:center;")
          button.btn.btn-warning(ng-if="messageProgress=='draft'" ng-click="saveDripMessage()" id="message-save-button" ng-disabled="isMessageInCampaign()" style="margin-top:10px; margin-right:5px") Save Draft
          button.btn.btn-primary(ng-if="messageProgress!='draft'" ng-click="saveDripMessage()" id="message-save-button" style="margin-top:10px; margin-right:5px") Save Message
          button.btn.btn-default(ng-click="cancelDripMessageEdit()" id="message-save-button" style="margin-top:10px; margin-right:5px") Cancel

  include message-library-directive-templates.jade

  script(id='template_save_confirmation_modal.html' type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='continueEditing()') &times;
      h4.modal-title Save Changes?
    .modal-body We have saved your changes.  Do you want to continue editing or exit the wizard?
    .modal-footer
      button.btn.btn-primary(ng-click='continueEditing()') Continue Editing
      button.btn.btn-default(ng-click='exitToLibrary()') Exit

  script(id='template_cancel_confirmation_modal.html' type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='continueEditing()') &times;
      h4.modal-title Save changes?
    .modal-body Do you want to save your changes before your quit editing this message?
    .modal-footer
      button.btn.btn-primary(ng-click='saveChangesFirst( )') Save changes
      button.btn.btn-default(ng-click='exitToLibrary()') Quit

  script(id='message_delete-confirm.html' type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='cancelMessageDelete()') &times;
      h4.modal-title Delete message?
    .modal-body Deleting messages is permanent and cannot be reversed.  Are you sure you want to delete this message?
    .modal-footer
      button.btn.btn-danger(ng-click='messageDeleteConfirmed()') Delete
      button.btn.btn-default(ng-click='cancelMessageDelete()') Cancel

  script(id='message_clone-confirm.html' type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='cancelMessageClone()') &times;
      h4.modal-title Clone message?
    .modal-body What would you like to name your cloned message?
      .form-group
        label.control-label Message Name *
        input.form-control(ng-model='messageToClone.name', required, type='text')
    .modal-footer
      button.btn.btn-primary(ng-click='messageCloneConfirmed()') Clone
      button.btn.btn-default(ng-click='cancelMessageClone()') Cancel

  script(id='message-menu.html' type='text/ng-template')
    .menu
      ul.dropdown-menu(style="border-radius:0px")
        li: a(ng-click='editMessageDripTemplate(template)' ng-if="template.versions.length<2 || template.versions == undefined" style='cursor:pointer; font-size:13px; font-weight:400') Edit Message
        li: a(ng-click='cloneMessage(template)' style='cursor:pointer; font-size:13px; font-weight:400') Clone Message
        li: a(ng-if="templateExists(template) || template.versions != undefined" ng-click='addVersionToMessage(template)' style='cursor:pointer; font-size:13px; font-weight:400') Add Version
        li: a(ng-if="!templateExists(template) || template.versions == undefined" style="padding-left:20px; color:#D5D5D5; cursor:default; font-size:13px; font-weight:400") Add Version
        li.divider
        li: a(ng-click='addMessageToDrip(template)' style='cursor:pointer; font-size:13px; font-weight:400') Add as Drip Step
        li.divider(ng-if="template.versions.length<2 || template.versions == undefined")
        li: a(ng-click='sendMessageAsBatch(template)' style='cursor:pointer; font-size:13px; font-weight:400') Send as Batch
        li.divider
        li: a(ng-click='viewMessagePreview(template, template.id)' ng-if="template.versions.length<2 || template.versions == undefined" style='cursor:pointer; font-size:13px; font-weight:400') View Sample
        li: a(ng-click='sendMessageSample(template)' ng-if="template.versions.length<2 || template.versions == undefined" style='cursor:pointer; font-size:13px; font-weight:400') Send Sample
        li: a(href='/proofs/{{selected_status.id}}/{{selected_segment.id}}/{{item.id}}' ng-if="template.versions.length<2 || template.versions == undefined" target='_self' style="; font-size:13px; font-weight:400") Export to PDF
        li.divider(ng-if="template.versions.length<2 || template.versions == undefined")
        li: a(ng-click='archiveMessage(template)' style='cursor:pointer; font-size:13px; font-weight:400' ng-disabled="isMessageInCampaign(template.id)" ng-if='template.versions.length<2 || template.versions == undefined') Delete?
        li: a(ng-click='archiveMessage(template)' ng-if='template.versions.length>1' ng-disabled="isMessageInCampaign(template.id)" style="padding-left:20px; cursor:default; font-size:13px; font-weight:400") Delete Message?

  script(id='draft-menu.html' type='text/ng-template')
    .menu
      ul.dropdown-menu(style="border-radius:0px")
        li: a(ng-click='editMessageDripTemplate(template)' ng-if="template.versions.length<2 || template.versions == undefined" style='cursor:pointer; font-size:13px; font-weight:400') Edit Message
        li: a(ng-click='cloneMessage(template)' style='cursor:pointer; font-size:13px; font-weight:400') Clone Message
        li: a(ng-if="templateExists(template) || template.versions != undefined" ng-click='addVersionToMessage(template)' style='cursor:pointer; font-size:13px; font-weight:400') Add Version
        li: a(ng-if="!templateExists(template) || template.versions == undefined" style="padding-left:20px; color:#D5D5D5; cursor:default; font-size:13px; font-weight:400") Add Version
        li.divider
        li: a(ng-click='archiveMessage(template)' style='cursor:pointer; font-size:13px; font-weight:400' ng-disabled="isMessageInCampaign(template.id)" ng-if='template.versions.length<2 || template.versions == undefined') Delete?
        li: a(ng-click='archiveMessage(template)' ng-if='template.versions.length>1' ng-disabled="isMessageInCampaign(template.id)" style="padding-left:20px; cursor:default; font-size:13px; font-weight:400") Delete Message?

  script(id='version-menu.html' type='text/ng-template')
    .menu
      ul.dropdown-menu(style="border-radius:0px")
        li: a(ng-click='editVersion(template, templateVersion, $event)'  style='cursor:pointer; font-size:13px; font-weight:400') Edit Version
        li: a(ng-if="templateVersion.id != 'default'" ng-click='editAttributes(template, templateVersion)'  style='cursor:pointer; font-size:13px; font-weight:400') Edit Details
        li: a(ng-click='cloneVersion(template, templateVersion)'  style='cursor:pointer; font-size:13px; font-weight:400') Clone Version
        li.divider
        //li: a(ng-click='viewMessagePreview(templateVersion, template.id)'  style='cursor:pointer; font-size:13px; font-weight:400') View Sample
        //li: a(ng-click='sendMessageSample(template, templateVersion)'  style='cursor:pointer; font-size:13px; font-weight:400') Send Sample
        li: a(ng-click='editMessageDripTemplate(template)'  style='cursor:pointer; font-size:13px; font-weight:400') Export PDF
        li.divider(ng-if="templateVersion.id != 'default'")
        li: a(ng-if="templateVersion.id != 'default'" ng-click='deleteVersion(template, templateVersion)'  style='cursor:pointer; font-size:13px; font-weight:400') Delete Version

  script(id='draft-version-menu.html' type='text/ng-template')
    .menu
      ul.dropdown-menu(style="border-radius:0px")
        li: a(ng-click='editVersion(template, templateVersion, $event)'  style='cursor:pointer; font-size:13px; font-weight:400') Edit Version
        li: a(ng-if="templateVersion.id != 'default'" ng-click='editAttributes(template, templateVersion)'  style='cursor:pointer; font-size:13px; font-weight:400') Edit Details
        li: a(ng-click='cloneVersion(template, templateVersion)'  style='cursor:pointer; font-size:13px; font-weight:400') Clone Version
        li.divider(ng-if="templateVersion.id != 'default'")
        li: a(ng-if="templateVersion.id != 'default'" ng-click='deleteVersion(template, templateVersion)'  style='cursor:pointer; font-size:13px; font-weight:400') Delete Version

  script(id='html-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Message Preview
    .modal-body.ng-cloak(style='height:600px')
      iframe#preview(preview-iframe, ng-hide='error', frameBorder='0', style='width: 100%; height: 100%;')

      div.ng-hide(ng-show='error')
        p.alert.alert-danger There was an error displaying this preview.
        pre {{error}}

  script(id='sample-modal.html', type='text/ng-template')
    form(name='forms.sample' novalidate)
      .modal-header
        button.close(ng-click='$dismiss()') &times;
        h4.modal-title Message Sample
      .modal-body
        fieldset
          .form-group(ng-class="{'has-error': forms.sample.recipient.$touched && forms.sample.recipient.$invalid}")
            label.control-label(for='recipient') Recipient (abc@email.com) *
            input.form-control(id='recipient' name='recipient' type='email', required, ng-model='sample.recipient.email', placeholder='Sample Recipient', ng-class="{'not-valid': forms.sample.submitted && forms.sample.recipient.$invalid && !forms.sample.$dirty}")
          .form-group(ng-class="{'has-error': forms.sample.sender.$touched && forms.sample.sender.$invalid}")
            label.control-label(for='sender') Sender *
            .form-control.text-center(ng-if='!senders')
              i.fa.fa-circle-o-notch.fa-spin
            ui-select(ng-model='sample.sender' theme='bootstrap' required ng-disabled='disabled' reset-search-input='false')
              ui-select-match(placeholder='Enter an email address...' ) {{$select.selected}}
              ui-select-choices(repeat='sender in senders | orderBy | filter: $select.search')
                div(ng-bind-html='sender | highlight: $select.search')

        fieldset(ng-if='filtered_attributes.length')
          h4 Attributes *
          .form-group(ng-repeat='x in filtered_attributes' ng-class="{'not-valid': forms.sample.submitted && forms.sample[x._name].$invalid && !forms.sample.$dirty}")
            label.control-label(for='{{x.name}}') {{x.name}}
            .form-control.text-center(ng-if='!filtered_attributes')
              i.fa.fa-circle-o-notch.fa-spin
            ui-select(ng-model='custom[x._name]' name='{{x._name}}' theme='bootstrap' required ng-disabled='disabled' reset-search-input='false')
              ui-select-match(placeholder='Select a {{x.name}} attribute...' ) {{$select.selected.name}}
              ui-select-choices(repeat='value.name as value in x.values | orderBy: "name" | filter: $select.search')
                div(ng-bind-html='value.name | highlight: $select.search')

        fieldset.form-horizontal(ng-if='variables.length')
          h4 Variables *
          .form-group(ng-repeat='x in variables')
            label.col-xs-4.control-label {{x}}
            .col-xs-8
              input.form-control(type='text', ng-model='custom[x]', placeholder='{{x}}', required, name='{{x}}' ng-class="{'not-valid': forms.sample.submitted && forms.sample[x].$invalid && !forms.sample.$dirty}")
      .modal-footer
        div.clearfix
          p.pull-left * Required Field
          label.checkbox-inline
            input(type='checkbox', ng-model='sample.onlyPlainText')
            | Plain Text?&nbsp;
          label.checkbox-inline
            input(type='checkbox', ng-model='sample.notification')
            | VuNotification?&nbsp;
        div
          bs-modal-save-button(on-save='trigger()', btn-title='Trigger', running-message='Sending', finished-message='Sent!')
          button.btn.btn-default(ng-click='close()') Close

  script(id='add-message-to-drip.html', type='text/ng-template')
    form(name='forms.clone' novalidate)
      .modal-header
        button.close(ng-click='$dismiss()') &times;
        h4.modal-title Create New Drip with Message
      .modal-body(style="display:inline-block")
        .form-group
          select.form-control(ng-options='statuses[id] as statuses[id].name for id in order', ng-model='selected.status' name='status' required ng-class="{'not-valid': forms.clone.submitted && forms.clone.status.$invalid && !forms.clone.$dirty}")
            option(value='') Choose a status...
        .form-group.ng-cloak(ng-show='selected.status')
          select.form-control(ng-options='segment as segment.name for segment in selected.status.segments', ng-model='selected.segment', name='segment' required ng-class="{'not-valid': forms.clone.submitted && forms.clone.segment.$invalid && !forms.clone.$dirty}")
            option(value='') Choose a segment...

        .col-xs-8(ng-show="dripError")
          p.alert.alert-danger(style="border-radius:0px") {{dripError}}
        .col-xs-8(ng-show="dripTemplateWarning")
          p.alert.alert-warning(style="border-radius:0px") {{dripTemplateWarning}}
        .col-xs-8(style="padding-left:0px")
          .form-group(style="margin-bottom:5px;")
            label.col-xs-2.control-label Message
        .col-xs-8(style="margin-left:0px; margin-right:0px")
          input.form-control(ng-model='currentDrip.message.name', disabled, type='text')
        .col-xs-8(style="padding-left:0px; margin-top:20px")
          label.col-xs-4(style="padding-left:0px") Delay *
          .col-xs-9(style="padding-left:0px")
            .input-group
              input.form-control.text-right(ng-model='currentDrip.delay.value',ng-change='onDelayChange()'  required, type='text', name='delay')
              span.input-group-addon
                label.radio-inline
                  input(type='radio', ng-change='onDelayChange()' ng-model='currentDrip.delay.units', value='day')
                  | day(s)
                label.radio-inline
                  input(type='radio', ng-change='onDelayChange()' ng-model='currentDrip.delay.units', value='hour')
                  | hour(s)
            .help-text(style="font-size:11px;") Delay is calculated from the time a #[em Lead] entered a #[em Status].

        .col-xs-12(style="padding-left:0px")
          .input-group
            .checkbox
              label
                input(type='checkbox', ng-change="onNotificationChange()" ng-model='currentDrip.notify')
                | VuNotification?
          .col-xs-6(style="font-size:11px; margin-top:20px; padding-left:0px")| * Required Field
      .modal-footer
        bs-modal-save-button(on-save='createDripStep()', btn-title='Create Drip Step', running-message='Creating drip step', finished-message='Drip Step Created', error-alert="{{formErrors}}")
        button.btn.btn-default(ng-click='close()') Close

  script(id='add-version_to-message-modal.html', type='text/ng-template')
    form(name='forms.clone' novalidate)
      .modal-header
        button.close(ng-click='$dismiss()') &times;
        h4.modal-title New Version
      .modal-body
        .form-group
          label.control-label Version Name *
          input.form-control(ng-model='currentVersion.name', required, type='text', name='name', placeholder='Version name...', ng-class="{'not-valid': forms.currentVersion.submitted && forms.currentVersion.name.$invalid && !forms.currentVersion.$dirty}")
        dl.filter
          div(ng-repeat='attribute in attributes | orderBy:"name"')
            dt
              | {{attribute.name}} -&nbsp;
              a(href='' ng-click='selectall(attribute)') Select All
              | &nbsp;/&nbsp;
              a(href='' ng-click='deselectall(attribute)') Deselect All
            dd
              ul.list-inline.list-inline-packed
                li.checks(ng-repeat='value in attribute.values | orderBy:"name"', bs-checkbox, ng-model='currentVersion.filters[attribute.id]', value='{{value.id}}')
                  label.btn(ng-class='{"btn-default": !isSelected, "btn-success": isSelected}')
                    i.fa.fa-check-square-o.truthy
                    i.fa.fa-square-o.falsy
                    input(type='checkbox')
                    | &nbsp;{{value.name}}
          | * Required Field
      .modal-footer
        button.btn.btn-primary(ng-click='createMessageVersion()') Create
        button.btn.btn-default(ng-click='close()') Cancel

  script(id='editVersionAttributesModal.html', type='text/ng-template')
    form(name='forms.currentVersion' novalidate)
      .modal-header
        button.close(ng-click='$dismiss()') &times;
        h4.modal-title Edit Version Details
      .modal-body
        .form-group
          label.control-label Version Name *
          input.form-control(ng-model='currentVersion.name', required, type='text', name='name', placeholder='Version name...', ng-class="{'not-valid': forms.currentVersion.submitted && forms.currentVersion.name.$invalid && !forms.currentVersion.$dirty}")
        dl.filter
          div(ng-repeat='attribute in attributes | orderBy:"name"')
            dt
              | {{attribute.name}} -&nbsp;
              a(href='', ng-click='selectall(attribute)') Select All
              | &nbsp;/&nbsp;
              a(href='', ng-click='deselectall(attribute)') Deselect All
            dd
              ul.list-inline.list-inline-packed
                li.checks(ng-repeat='value in attribute.values | orderBy:"name"', bs-checkbox, ng-model='currentVersion.filters[attribute.id]', value='{{value.id}}')
                  label.btn(ng-class='{"btn-default": !isSelected, "btn-success": isSelected}')
                    i.fa.fa-check-square-o.truthy
                    i.fa.fa-square-o.falsy
                    input(type='checkbox')
                    | &nbsp;{{value.name}}
          | * Required Field
      .modal-footer
        button.btn.btn-primary(ng-click='saveVersionAttributes()') Save
        button.btn.btn-default(ng-click='close()') Cancel

  script(id='cloneVersionModal.html', type='text/ng-template')
    form(name='forms.currentVersion' novalidate)
      .modal-header
        h4.modal-title Clone {{cloneTitle.name}} Version
      .modal-body
        .form-group
          label.control-label Version Name *
          input.form-control(ng-model='currentVersion.name', required, type='text', name='name', placeholder='Version name...', ng-class="{'not-valid': forms.currentVersion.submitted && forms.currentVersion.name.$invalid && !forms.currentVersion.$dirty}")
        dl.filter
          div(ng-repeat='attribute in attributes | orderBy:"name"')
            dt
              | {{attribute.name}} -&nbsp;
              a(href='' ng-click='selectall(attribute)') Select All
              | &nbsp;/&nbsp;
              a(href='' ng-click='deselectall(attribute)') Deselect All
            dd
              ul.list-inline.list-inline-packed
                li.checks(ng-repeat='value in attribute.values | orderBy:"name"', bs-checkbox, ng-model='currentVersion.filters[attribute.id]', value='{{value.id}}')
                  label.btn(ng-class='{"btn-default": !isSelected, "btn-success": isSelected}')
                    i.fa.fa-check-square-o.truthy
                    i.fa.fa-square-o.falsy
                    input(type='checkbox')
                    | &nbsp;{{value.name}}
          | * Required Field
      .modal-footer
        button.btn.btn-primary(ng-click='createMessageVersion()') Create
        button.btn.btn-default(ng-click='close()') Cancel

  script(id='version_delete-confirm.html' type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='cancelMessageDelete()') &times;
      h4.modal-title Delete version?
    .modal-body Are you sure you want to delete {{version.name}} from {{message.name}}?  Doing so is permanent.
    .modal-footer
      button.btn.btn-danger(ng-click='versionDeleteConfirmed()') Delete
      button.btn.btn-default(ng-click='cancelVersionDelete()') Cancel




  script(id='statusesWhereMessageExistModal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='dismiss()') &times;
      h4.modal-title Campaigns using {{message.name}}
    .modal-body
      .list-group(style="margin-top:0px;")
        .list-group-item.noselect(style="cursor:pointer; border-radius:0px" ng-click="goToCampaign(campaignListing)" ng-repeat="campaignListing in campaigns | orderBy:['status', 'segment', delayInHours ]" context-menu='message-menu.html' context-menu-item='template')
          div(style="width:85%; display:inline-block"  )
            .list-group-item-heading(style="margin:0px; padding:0px; display:inline-block; width:85%; font-weight:300; font-size:13px;") {{campaignListing.status}} > {{campaignListing.segment}} > {{campaignListing.drip.delay.value}} {{campaignListing.drip.delay.units}}(s)
