doctype html

.slide
  .slide-up-out.slide-down-in.container(ng-if='!template')
    .row.columns-sv
      .col-xs-5
        .column.layouts
          .column-header.segment-bgcolor
            i.fa.fa-file-archive-o
            | &nbsp;Layouts
          .column-search
            input(type='text', placeholder='search by name or tags', ng-model='search.layouts')
            span.glyphicon.glyphicon-search
          .column-body
            ul.list-unstyled
              li(ng-repeat='layout in layouts | orderBy:"-updated"' ng-if='!layout.$hidden')
                .pull-right.btn-toolbar
                  a.btn.btn-sm.btn-primary(ui-sref='.layout({id: layout.id})')
                    i.glyphicon.glyphicon-pencil
                    | &nbsp;Edit
                  button.btn.btn-sm.btn-danger(ng-click='delete("layout", layout)')
                    i.glyphicon.glyphicon-trash
                    | &nbsp;Delete

                b {{layout.name}}
                br
                i: small Updated&nbsp;&nbsp;
                span(am-time-ago='layout.updated')
              li(ng-hide='anyVisible(layouts)') No layouts found.
          .column-footer.segment-bgcolor
            a(ui-sref='.layout({id: "new"})')
              i.fa.fa-plus
              | &nbsp;New Layout

      .col-xs-7
        .column.pages
          .column-header.message-bgcolor
            i.fa.fa-file-text-o
            | &nbsp;Pages
          .column-search
            input(type='text', placeholder='search by name or tags', ng-model='search.pages')
            span.glyphicon.glyphicon-search
          .column-body
            ul.list-unstyled
              li(ng-repeat='page in pages | orderBy:"-updated"' ng-if='!page.$hidden')
                ul.list-unstyled.list-inline.pull-right
                  li
                    small
                      a(href='/page/#{session.client_id}/{{page.id}}' target='_blank')
                        i.glyphicon.glyphicon-search
                        | &nbsp;Preview
                  li(style='width: 140px;')
                    select.input-sm.form-control(ng-model='page.layout' ng-options='layout.id as layout.name for layout in layouts' ng-change='save("page", page)')
                      option(value='') [none]
                  li.btn-toolbar
                    a.btn.btn-sm.btn-primary(ui-sref='.page({id: page.id})')
                      i.glyphicon.glyphicon-pencil
                      | &nbsp;Edit
                    button.btn.btn-sm.btn-danger(ng-click='delete("page", page)')
                      i.glyphicon.glyphicon-trash
                      | &nbsp;Delete
                i.fa.fa-fw.fa-edit(ng-if='page.pagetype == "form"')
                i.fa.fa-fw.fa-file-o(ng-if='page.pagetype != "form"')
                b {{page.name}}
                br
                i: small Updated&nbsp;&nbsp;
                span(am-time-ago='page.updated')
              li(ng-hide='anyVisible(pages)') No pages found.
          .column-footer.message-bgcolor
            a(ui-sref='.page({id: "new"})')
              i.fa.fa-plus
              | &nbsp;New Page

  .slide-up-in.slide-down-out.container-fluid(ng-if='template')
    form(name='form.page', novalidate, ng-if='type == "layout" && template')
      .row
        .col-xs-9
          p: a(ui-sref='manage-pages') < Back to List

          .row
            .form-group.col-xs-6
              input.form-control.input-lg(type='text', required, ng-model='template.name', placeholder='Name...', name='name' ng-class="{'not-valid': form.page.submitted && form.page.name.$invalid && !form.page.$dirty}")
            .form-group.col-xs-6
              input.form-control.input-sm(type='text', ng-model='template.tags', placeholder='Tags...')
              p.help-block Separate tags with a comma.
          .form-group
            pre.ng-cloak(ui-ace, ng-model='template.hbs', style='height: 480px; width: 100%; margin: 0; padding: 0;')
        .col-xs-3
          p Layouts are used as a "master" template which pages may inherit. You should use a #[code(ng-non-bindable) {{{body}}}] replacement variable to control where the page will be.
          .form-group
            hr
            .pull-right
              bs-modal-save-button(on-save='save()', btn-class='btn-lg btn-success', error-alert='form.page.formErrors')

    form(name='form.page', novalidate, ng-if='type == "page" && template')
      .row
        .col-xs-9
          p: a(ui-sref='manage-pages') < Back to List

          .row
            .form-group.col-xs-6
              input.form-control.input-lg(type='text', required, ng-model='template.name', name='name' placeholder='Name...', ng-class="{'not-valid': form.page.submitted && form.page.name.$invalid && !form.page.$dirty}")
            .form-group.col-xs-6
              input.form-control.input-sm(type='text', ng-model='template.tags', placeholder='Tags...')
              p.help-block Separate tags with a comma.
          .form-group
            pre.ng-cloak(ui-ace, ng-model='template.hbs', style='height: 480px; width: 100%; margin: 0; padding: 0;')
        .col-xs-3
          ul.list-inline.list-inline-packed
            li(bs-radio, ng-model='template.pagetype', value='page', title='Landing Page')
            li(bs-radio, ng-model='template.pagetype', value='form', title='Survey Form')
          div(ng-if='template.pagetype == "form"')
            .form-group
              label Page to display on survey completion
              select.form-control(ng-model='template.redirect', ng-options='page.id as page.name for page in pages|filter:{pagetype:"page"}')
            h3 Survey Responses
            .form-group
              .checkbox
                label
                  input(type='checkbox', ng-model='template.response.includeSender', checked)
                  | Send results to sender?
            .form-group
              label Additional Recipients
              input.form-control(type='text', name='addRecip' ng-model='template.response.recipients', ng-list ng-class="{'not-valid': form.page.formErrors && form.page.submitted && !form.page.$dirty}")
          h3 Variables
          .form-group
            button.btn.btn-sm.btn-primary(ng-click='template.variables.push({})') Add Variable
          .row.form-group(ng-repeat='x in template.variables')
            .col-xs-4
              input.form-control(ng-model='x.name', type='text', placeholder='Name')
            .col-xs-8
              .input-group
                input.form-control(ng-model='x.value', type='text', placeholder='Value')
                span.input-group-btn
                  button.btn.btn-default(ng-click='remove(template.variables, x)'): i.glyphicon.glyphicon-remove
          .form-group
            hr
            .pull-left(ng-if='template.id')
              a(href='/page/#{session.client_id}/{{template.id}}', target='_blank')
                i.glyphicon.glyphicon-search
                | &nbsp;Preview
            .pull-right
              bs-modal-save-button(on-save='save()', btn-class='btn-lg btn-success', error-alert="{{form.page.formErrors}}")

    script(id='confirm-modal.html', type='text/ng-template')
      .modal-header
        button.close(ng-click='dismiss()') &times;
        h4.modal-title Confirm?
      .modal-body
        | Are you sure you want to delete this {{type}}?
      .modal-footer
        button.btn.btn-primary(ng-click='confirm()') Yes
        button.btn.btn-default(ng-click='dismiss()') No
