doctype html
.container.fixed-height(ng-controller='ManageStatuses' )
  .row.columns-sv
    .col-xs-3
      .column.statuses
        .column-header.status-bgcolor
          i.pull-right.fa.fa-xs.fa-question-circle.fa-inverse(uib-popover='A status represents a group of segments. A lead has to have a status at all times, and will be segmented within that status.', popover-trigger='mouseenter', popover-placement='bottom', popover-append-to-body='true')
          i.fa.fa-check-square-o
          | &nbsp;Statuses
        .column-search
          input(type='text', placeholder='search...', ng-model='$search.status.name')
          span.glyphicon.glyphicon-search
        .column-body
          ul.list-unstyled(ng-if='$loading')
            li
              .spinner.statusSpinner.spinner-small
          ul.list-unstyled(ng-hide='anyVisible(statuses)', ng-if='!$loading')
            li: b No Statuses
          // there are two lists b/c ui-sortable can only contain elements to sort
          ul.list-unstyled(ng-if='order.length && !$loading' ui-sortable='draggable' ng-model='order')
            li(ng-repeat='(key, status) in statuses | orderStatuses:order  | filter:$search.status track by $index '
              ng-click='setStatus(status)' ng-class='{"selected": selected_status.id == status.id}'
              context-menu='status-menu.html' context-menu-item='status' data-toggle='context')
              a.context.pull-right(href)
                i.fa.fa-chevron-circle-down

              p
                b
                  | {{status.name}}&nbsp;&nbsp;
                  span.badge(ng-if='status.aliases.length' uib-popover='{{status.aliases.join(\', \')}}' popover-trigger='mouseenter' popover-placement='right' popover-title='Status Aliases' popover-append-to-body='true') {{status.aliases.length}}

              p
                i: small {{status_stats(status).segments}} Segments,&nbsp;
                i: small {{status_stats(status).messages}} Messages

        .column-footer.status-bgcolor
          a(href, ng-click='newStatus()')
            i.fa.fa-plus
            | &nbsp;New Status
        .column-footer.status-bgcolor
          a(ng-click='statusesImport($event)')
            i.glyphicon.glyphicon-upload
            | &nbsp;Bulk Import

    .col-xs-5(ng-if='selected_status && !$loading')
      .column.segments
        .column-header.segment-bgcolor
          i.pull-right.fa.fa-question-circle.fa-inverse(uib-popover='A segment has a set of drip messages setup. A lead is put into a specific segment based on their attributes which are defined.' popover-trigger='mouseenter' popover-placement='bottom' popover-append-to-body='true')
          i.fa.fa-puzzle-piece
          | &nbsp;Segments
        .column-search
          input(type='text' placeholder='search...' ng-model='$search.segment.name')
          span.glyphicon.glyphicon-search
        .column-body
          ul.list-unstyled(ng-if='!anyVisible(selected_status.segments)')
            li: b No Segments
          // there are two lists b/c ui-sortable can only contain elements to sort
          ul.list-unstyled(ng-if='selected_status.segments.length' ui-sortable='draggable' ng-model='selected_status.segments')
            li(ng-repeat='segment in selected_status.segments | filter:$search.segment' ng-if='!segment.$hidden'
              ng-click='setSegment(segment)' ng-class='{"selected": selected_segment == segment}'
              context-menu='segment-menu.html' context-menu-item='segment' data-toggle='context')
              a.context.pull-right(href)
                i.fa.fa-chevron-circle-down
              b {{segment.name}}
              br
              i: small {{segment.steps.length}} Messages
              br
              dl.filter
                div(ng-repeat='attribute in attributes | orderBy:"name"' ng-if='segment.filters[attribute.id].length')
                  dt {{attribute.name}}
                  dd.has-list-pills
                    ul.list-inline.list-pills
                      li(ng-repeat='value in attribute.values | orderBy:"name"' ng-if='segment.filters[attribute.id].indexOf(value.id) > -1') {{value.name}}
        .column-footer.segment-bgcolor
          a(href ng-click='newSegment()')
            i.fa.fa-plus
            | &nbsp;New Segment

    .col-xs-4(ng-if='selected_segment && !$loading')
      .column.messages
        .column-header.message-bgcolor
          i.pull-right.fa.fa-question-circle.fa-inverse(uib-popover='A message is a template which is merged with the sender and lead values that is sent at a specified time.' popover-trigger='mouseenter' popover-placement='bottom' popover-animation='true' popover-append-to-body='true')
          i.fa.fa-envelope-o
          | &nbsp;Drip Steps
        .column-search
          input(type='text' placeholder='search...' ng-model='$search.step.name')
          span.glyphicon.glyphicon-search
        .column-body
          ul.list-unstyled(ng-if='!anyVisible(selected_segment.steps)')
            li.ng-show
              b No Messages
          ul.list-unstyled(ng-if='selected_segment.steps.length' ng-model='selected_segment.steps')
            li.clearfix(ng-repeat="step in selected_segment.steps | filter: { active: '!false' } | orderBy:'delayInHours' | filter:$search.step" ng-if='!step.$hidden' context-menu='step-menu.html' context-menu-item='step' data-toggle='context')
              a.context.pull-right(href)
                i.fa.fa-chevron-circle-down
              b {{step.name}}
              div(style="font-size:12px;") {{step.message.subject.value || step.message.subject}}
              div(ng-repeat="link in step.message.html.links")
                i.fa.fa-fw.fa-edit(ng-if='link.pagetype == "form"')
                i.fa.fa-fw.fa-file-o(ng-if='link.pagetype == "page"')
                p(ng-if='link.type == "page"' style="display:inline; font-size:12px;") {{link.name}}
              span(ng-if='step.message==undefined && step.message.id==undefined')
                | &nbsp;
                i.fa.fa-exclamation-triangle(style="color:#FF0000" uib-popover='The message associated with this message either no longer exists or has been placed in DRAFT mode.' popover-trigger='mouseenter' popover-placement='left'  popover-append-to-body='true')
              span(ng-if='step.message.versions.length>1')
                | &nbsp;
                i.fa.fa-clone
              span(ng-if='step.vuNotification')
                | &nbsp;
                i.fa.fa-bell
              br
              i.pull-right: small {{step.delay.value}} {{step.delay.units}}(s)
        .column-footer.message-bgcolor
          a(href="" ng-click='newDrip()')
            i.fa.fa-plus
            | &nbsp;New Drip Step

  script(id='status-menu.html' type='text/ng-template')
    .menu
      ul.dropdown-menu
        li: a(href ng-click='editStatus(item)') Edit
        li.divider(ng-if='item.segments.length')
        li: a(href='/proofs/{{item.id}}' target='_self' ng-if='item.segments.length') Export to ZIP
        li.divider
        li: a(href ng-click='deleteStatus(item)') Delete?

  script(id='segment-menu.html' type='text/ng-template')
    .menu
      ul.dropdown-menu
        li: a(href ng-click='editSegment(item)') Edit
        li.divider
        li: a(href ng-click='previewSegment(item)') Preview
        li: a(href='/proofs/{{selected_status.id}}/{{item.id}}' target='_self' ng-if='item.steps.length') Export to ZIP
        li.divider
        li: a(href ng-click='deleteSegment(item)') Delete?

  script(id='step-menu.html' type='text/ng-template')
    .menu
      ul.dropdown-menu
        li: a(href ng-click='editMessage(item)') Edit Message
        li: a(href ng-click='editDrip(item)') Edit Drip
        li: a(href ng-click='cloneStep(item)') Clone
        li: a(href ng-click='cloneStepTo(item)') Clone To...
        li.divider
        li: a(href ng-click='viewStep(item)') View Preview
        li: a(href ng-click='previewStep(item)') Send Sample
        li: a(href='/proofs/{{selected_status.id}}/{{selected_segment.id}}/{{item.id}}' target='_self') Export to PDF
        li.divider
        li: a(href ng-click='deleteStep(item)') Delete?

  script(id='confirm-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='dismiss()') &times;
      h4.modal-title Confirm?
    .modal-body(ng-switch='type')
      div(ng-switch-when='status')
        | Are you sure you want to delete this status?
        br
        b Note&nbsp;
        | All segments and messages in this status will also be deleted.
      div(ng-switch-when='segment')
        | Are you sure you want to delete this segment?
      div(ng-switch-when='step')
        | Are you sure you want to delete this drip step?
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='dismiss()') No

  script(id='status-modal.html', type='text/ng-template')
    form(name='forms.status' novalidate)
      .modal-header
        h4.modal-title(ng-hide='status.id') New Status
        h4.modal-title(ng-show='status.id') Edit Status
      .modal-body
        .form-group
          label.control-label Name *
          input.form-control(ng-model='status.name', required, type='text', name='name', placeholder='Status name...', ng-class="{'not-valid': forms.status.submitted && forms.status.name.$invalid && !forms.status.saving && !forms.status.$dirty }")
        .form-group
          label.control-label Aliases
          tags-input(ng-model='aliases' add-on-comma='false' replace-spaces-with-dashes='false' placeholder='Add an alias')
          p.help-block Press Enter key after each added alias.
        | * Required Field
      .modal-footer
        bs-modal-save-button(on-save='save()')
        button.btn.btn-default(ng-click='close()') Close

  script(id='segment-modal.html', type='text/ng-template')
    form(name='forms.segment' novalidate)
      .modal-header
        h4.modal-title(ng-hide='segment.id') New Segment
        h4.modal-title(ng-show='segment.id') Edit Segment
      .modal-body
        .form-group
          label.control-label Name *
          input.form-control(ng-model='segment.name', required, type='text', name='name', placeholder='Segment name...', ng-class="{'not-valid': forms.segment.submitted && forms.segment.name.$invalid && !forms.segment.$dirty}")
        dl.filter
          div(ng-repeat='attribute in attributes | orderBy:"name"')
            dt
              | {{attribute.name}} -&nbsp;
              a(href, ng-click='selectall(attribute)') Select All
              | &nbsp;/&nbsp;
              a(href, ng-click='deselectall(attribute)') Deselect All
            dd
              ul.list-inline.list-inline-packed
                li.checks(ng-repeat='value in attribute.values | orderBy:"name"', bs-checkbox, ng-model='segment.filters[attribute.id]', value='{{value.id}}')
                  label.btn(ng-class='{"btn-default": !isSelected, "btn-success": isSelected}')
                    i.fa.fa-check-square-o.truthy
                    i.fa.fa-square-o.falsy
                    input(type='checkbox')
                    | &nbsp;{{value.name}}
          | * Required Field
      .modal-footer
        bs-modal-save-button(on-save='save()')
        button.btn.btn-default(ng-click='close()') Close

  script(id='drip-edit.html', type='text/ng-template')
    form#step-modal.form-horizontal(name='forms.step' novalidate)
      .modal-header
        h4.modal-title(ng-show='newStep') New Drip
        h4.modal-title(ng-hide='newStep') Edit Drip
      .modal-body
        .row
          .col-xs-8(ng-show="dripError")
            p.alert.alert-danger(style="border-radius:0px") {{dripError}}
          .col-xs-8(ng-show="dripTemplateWarning")
            p.alert.alert-warning(style="border-radius:0px") {{dripTemplateWarning}}
          .col-xs-8
            .form-group(style="margin-bottom:5px;")
              label.col-xs-2.control-label Message
          .col-xs-8(style="margin-left:15px; margin-right:25px")
            select.form-control(ng-model='currentDripMessageId',ng-change="onMessageChange(message)" ng-required='true', ng-options='message.id as message.name for message in templatesInLibrary1 | orderBy:"name"')
          .col-xs-12(style="padding-left:0px; margin-top:20px")
            label.col-xs-4 Delay *
            .col-xs-9
              .input-group
                input.form-control.text-right(ng-model='currentDrip.delay.value',ng-change='onDelayChange()'  required, type='text', name='delay')
                span.input-group-addon
                  label.radio-inline
                    input(type='radio', ng-change='onDelayChange()' ng-model='currentDrip.delay.units', value='day')
                    | day(s)
                  label.radio-inline
                    input(type='radio', ng-change='onDelayChange()' ng-model='currentDrip.delay.units', value='hour')
                    | hour(s)
              .help-text(style="font-size:11px;") Delay is calculated from the time a #[em Lead] entered a #[em Status].

            .col-xs-12
              .input-group
                .checkbox
                  label
                    input(type='checkbox', ng-change="onNotificationChange()" ng-model='currentDrip.notify')
                    | VuNotification?
              .col-xs-6(style="font-size:11px; margin-top:20px")| * Required Field
            //.col-xs-12(style="margin-top:20px;")
              a(role="button" data-toggle="collapse" href="#advanced_options" aria-expanded="false" aria-controls="advanced_options" style="text-decoration:none; color:#333; font-size:12px;")
                i.fa.fa-angle-right &nbsp;Advanced Options
            //.col-xs-12.collapse(id="advanced_options")
              .col-xs-12
                .form-group(style="margin-bottom:5px;")
                  label.col-xs-12.control-label(style="text-align:left; padding-left:0px; margin-bottom:5px;") Always send message from:
                  select.form-control(ng-model='alwaysSendBy' ng-options='sender for sender in senders')
      .modal-footer
        bs-modal-save-button(on-save='save()')
        button.btn.btn-default(ng-click='close()') Close



  script(id='step-modal.html', type='text/ng-template')
    form#step-modal.form-horizontal(name='forms.step' novalidate)
      .modal-header
        h4.modal-title(ng-hide='step.id') New Message
        h4.modal-title(ng-show='step.id') Edit Message
      .modal-body.threequarters-height(ng-if='$loading')
        .spinner.spinner-center
      .modal-body.fader(ng-hide='$loading')
        .row
          .col-xs-8
            .form-group
              label.col-xs-2.control-label Name *
              .col-xs-10
                input.input-lg.form-control(ng-model='step.name', required, name='name', type='text', ng-class="{'not-valid': forms.step.submitted && forms.step.name.$invalid && !forms.step.$dirty}")
            .form-group
              label.col-xs-2.control-label Subject *
              .col-xs-10
                input.form-control(ng-model='step.message.subject', required, name='message', type='text', ng-class="{'not-valid': forms.step.submitted && forms.step.message.$invalid && !forms.step.$dirty}")
          .col-xs-4
            .form-group
              label.col-xs-3.control-label Delay *
              .col-xs-9
                .input-group
                  input.form-control.text-right(ng-model='step.delay.value', required, type='text', name='delay', ng-class="{'not-valid': forms.step.submitted && forms.step.delay.$invalid && !forms.step.$dirty}")
                  span.input-group-addon
                    label.radio-inline
                      input(type='radio', ng-model='step.delay.units', value='hour')
                      | hour(s)
                    label.radio-inline
                      input(type='radio', ng-model='step.delay.units', value='day')
                      | day(s)
            .help-text Delay is calculated from the time a #[em Lead] entered a #[em Status].
            .form-group
              .col-xs-12
                .checkbox.pull-right
                  label
                    input(type='checkbox', ng-model='step.notify')
                    | VuNotification?
        .form-group
          .col-xs-8.col-xs-offset-2
            .row.well.well-sm
              ul.template-list.list-inline.one-line(scroll-to='.selected', wheel-scroll)
                li.col-xs-2.template(ng-repeat='template in templates', ng-class='{selected: step.message.template == template.id}')
                  a(href, ng-click='select(template)')
                    div.img-thumbnail(style='width: 100%; height: 120px;' ng-if='!template.thumbnail')
                      .spinner.spinner-center.spinner-small(style='margin-left: -17px; margin-top: -27px;')
                    img.img-thumbnail(ng-src='{{template.thumbnail}}' style='width: auto;' ng-if='template.thumbnail')
                  p
                    span(ng-hide='template.tags.length') &nbsp;
                    span(ng-repeat='tag in template.tags')
                      span.label.label-default {{tag}}
                      | &nbsp;

        ul.nav.nav-tabs
          li.header: b Message Parts
          li.active
            a(href='#part-html', data-toggle='tab') HTML
          li
            a(href='#part-text', data-toggle='tab') Plain Text

        br
        .tab-content
          #part-html.row.tab-pane.active
            .col-xs-7
              div(ng-if='template.meta.html.blocks.length')
                ul.nav.nav-tabs
                  li.header: b Blocks
                  li(ng-repeat='block in template.meta.html.blocks', ng-class='{active: nav.html.selectedBlock == block.name}')
                    a(href, ng-click='nav.html.selectedBlock = block.name') {{block.name}}

                .tab-content
                  textarea(ckeditor='editor.htmlblock', ng-model='step.message.html.blocks[nav.html.selectedBlock]', height='160')

            .col-xs-5
              div(ng-if='template.meta.html.links.length')
                ul.nav.nav-tabs
                  li.header: b Links
                  li(ng-repeat='link in template.meta.html.links', ng-class='{active: $first}')
                    a(href='#link-html{{$index}}', data-toggle='tab') {{link.name}}

                .tab-content.well.well-sm
                  .tab-pane(ng-repeat='link in template.meta.html.links', ng-class='{active: $first}', id="link-html{{$index}}")
                    ul.list-inline.list-inline-packed
                      li(bs-radio, ng-model='step.message.html.links[link.name].type', value='page', title='Landing Page')
                      li(bs-radio, ng-model='step.message.html.links[link.name].type', value='url', title='URL')

                    .form-group(ng-if='step.message.html.links[link.name].type == "page"')
                      .col-xs-12
                        select.input-sm.form-control(ng-model='step.message.html.links[link.name].value', ng-options='id as page for (id, page) in pages')
                        span.help-block Choose the landing page
                    .form-group(ng-if='step.message.html.links[link.name].type == "url"')
                      .col-xs-12
                        input.input-sm.form-control(type='text', ng-model='step.message.html.links[link.name].value', placeholder='URL...')
                        span.help-block http(s?):// must be included in the URL
                    .form-group.row(ng-if='link.needs.indexOf("text") > -1')
                      .col-xs-12
                        input.input-sm.form-control(type='text', ng-model='step.message.html.links[link.name].text', placeholder='Text...')
                        span.help-block Insert the text that will be displayed for the link

              div(ng-if='template.meta.html.policies.length')
                ul.nav.nav-tabs
                  li.header: b Policies
                  li(ng-repeat='policy in template.meta.html.policies', ng-class='{active: $first}')
                    a(href='#policy-html{{$index}}') {{policy.name}}

                .tab-content.well.well-sm
                  .tab-pane(ng-repeat='policy in template.meta.html.policies', ng-class='{active: $first}', id='policy-html{{$index}}')
                    .form-group
                      .col-xs-12
                        select.input-sm.form-control(ng-model='step.message.html.policies[policy.name]', ng-options='id as policy for (id, policy) in policies')
                        span.help-block Choose the policy

          #part-text.row.tab-pane
            .col-xs-7
              ul.nav.nav-tabs(ng-if='template.meta.text.blocks.length')
                li.header: b Blocks
                li(ng-repeat='block in template.meta.text.blocks', ng-class='{active: $first}')
                  a(href='#block-text{{$index}}', data-toggle='tab', target='_self') {{block.name}}

              .tab-content
                .tab-pane(ng-repeat='block in template.meta.text.blocks', ng-class='{active: $first}', id="block-text{{$index}}")
                  textarea.form-control(id='editor-text{{$index}}', ng-model='step.message.text.blocks[block.name]', rows='8')

            .col-xs-5
              div(ng-if='template.meta.text.links.length')
                ul.nav.nav-tabs
                  li.header: b Links
                  li(ng-repeat='link in template.meta.text.links', ng-class='{active: $first}')
                    a(href='#link-text{{$index}}', data-toggle='tab') {{link.name}}

                .tab-content.well.well-sm
                  .tab-pane(ng-repeat='link in template.meta.text.links', ng-class='{active: $first}', id="link-text{{$index}}")
                    ul.list-inline.list-inline-packed
                      li(bs-radio, ng-model='step.message.text.links[link.name].type', value='page', title='Landing Page')
                      li(bs-radio, ng-model='step.message.text.links[link.name].type', value='url', title='URL')

                    .form-group(ng-if='step.message.text.links[link.name].type == "page"')
                      .col-xs-12
                        select.input-sm.form-control(ng-model='step.message.text.links[link.name].value', ng-options='id as page for (id, page) in pages')
                        span.help-block Choose the landing page
                    .form-group(ng-if='step.message.text.links[link.name].type == "url"')
                      .col-xs-12
                        input.input-sm.form-control(type='text', ng-model='step.message.text.links[link.name].value', placeholder='URL...')
                        span.help-block http(s?):// must be included in the URL

              div(ng-if='template.meta.text.policies.length')
                ul.nav.nav-tabs
                  li.header: b Policies
                  li(ng-repeat='policy in template.meta.text.policies', ng-class='{active: $first}')
                    a(href='#policy-text{{$index}}') {{policy.name}}

                .tab-content.well.well-sm
                  .tab-pane(ng-repeat='policy in template.meta.text.policies', ng-class='{active: $first}', id='policy-text{{$index}}')
                    .form-group
                      .col-xs-12
                        select.input-sm.form-control(ng-model='step.message.text.policies[policy.name]', ng-options='id as policy for (id, policy) in policies')
                        span.help-block Choose the policy

      .modal-footer
        i.fa.fa-exclamation-triangle.text-danger(ng-if='errorMessage && !forms.step.saving') &nbsp;{{errorMessage}}
        i.fa.fa-check.text-success(ng-if='forms.step.saved && !forms.step.saving') &nbsp;Saved!
        i.fa.fa-exclamation-triangle.text-danger(ng-if='formErrors.name && !forms.step.saving && !forms.step.$dirty') &nbsp;Please enter a name
        i.fa.fa-exclamation-triangle.text-danger(ng-if='formErrors.subject && !forms.step.saving && !forms.step.$dirty') &nbsp;Please enter a subject
        i.fa.fa-spinner.fa-spin(ng-if='forms.step.saving')
        span(ng-if='forms.step.saving') &nbsp;Saving
        button.btn.btn-primary(ng-click='save()', ng-disabled='forms.step.$invalid || forms.step.$pristine || forms.step.saving') Save
        button.btn.btn-default(ng-click='close()') Close

  script(id='drip-message-wizard.html', type='text/ng-template')
    .modal-header
      h4.modal-title Create Drip Message Template
    .modal-body (style="height:100%")

    .modal-footer

  script(id='clone-modal.html', type='text/ng-template')
    form(name='forms.clone' novalidate)
      .modal-header
        h4.modal-title Clone Message
      .modal-body
        .form-group
          select.form-control(ng-options='statuses[id] as statuses[id].name for id in order', ng-model='selected.status' name='status' required ng-class="{'not-valid': forms.clone.submitted && forms.clone.status.$invalid && !forms.clone.$dirty}")
            option(value='') Choose a status...
        .form-group.ng-cloak(ng-show='selected.status')
          select.form-control(ng-options='segment as segment.name for segment in selected.status.segments', ng-model='selected.segment', name='segment' required ng-class="{'not-valid': forms.clone.submitted && forms.clone.segment.$invalid && !forms.clone.$dirty}")
            option(value='') Choose a segment...
      .modal-footer
        bs-modal-save-button(on-save='clone()', btn-title='Clone', running-message='Cloning', finished-message='Cloned!', error-alert="{{formErrors}}")
        button.btn.btn-default(ng-click='close()') Close

  script(id='sample-modal.html', type='text/ng-template')
    form(name='forms.sample' novalidate)
      .modal-header
        button.close(ng-click='$dismiss()') &times;
        h4.modal-title Message Sample
      .modal-body
        fieldset
          .form-group(ng-class="{'has-error': forms.sample.recipient.$touched && forms.sample.recipient.$invalid}")
            label.control-label(for='recipient') Recipient (abc@email.com) *
            input.form-control(id='recipient' name='recipient' type='email', required, ng-model='sample.recipient.email', placeholder='Sample Recipient', ng-class="{'not-valid': forms.sample.submitted && forms.sample.recipient.$invalid && !forms.sample.$dirty}")
          .form-group(ng-class="{'has-error': forms.sample.sender.$touched && forms.sample.sender.$invalid}")
            label.control-label(for='sender') Sender *
            .form-control.text-center(ng-if='!senders')
              i.fa.fa-circle-o-notch.fa-spin
            ui-select(ng-model='sample.sender' theme='bootstrap' required ng-disabled='disabled' reset-search-input='false')
              ui-select-match(placeholder='Enter an email address...' ) {{$select.selected}}
              ui-select-choices(repeat='sender in senders | orderBy | filter: $select.search')
                div(ng-bind-html='sender | highlight: $select.search')

        fieldset(ng-if='filtered_attributes.length')
          h4 Attributes *
          .form-group(ng-repeat='x in filtered_attributes' ng-class="{'not-valid': forms.sample.submitted && forms.sample[x._name].$invalid && !forms.sample.$dirty}")
            label.control-label(for='{{x.name}}') {{x.name}}
            .form-control.text-center(ng-if='!filtered_attributes')
              i.fa.fa-circle-o-notch.fa-spin
            ui-select(ng-model='custom[x._name]' name='{{x._name}}' theme='bootstrap' required ng-disabled='disabled' reset-search-input='false')
              ui-select-match(placeholder='Select a {{x.name}} attribute...' ) {{$select.selected.name}}
              ui-select-choices(repeat='value.name as value in x.values | orderBy: "name" | filter: $select.search')
                div(ng-bind-html='value.name | highlight: $select.search')

        fieldset.form-horizontal(ng-if='variables.length')
          h4 Variables *
          .form-group(ng-repeat='x in variables')
            label.col-xs-4.control-label {{x}}
            .col-xs-8
              input.form-control(type='text', ng-model='custom[x]', placeholder='{{x}}', required, name='{{x}}' ng-class="{'not-valid': forms.sample.submitted && forms.sample[x].$invalid && !forms.sample.$dirty}")
      .modal-footer
        div.clearfix
          p.pull-left * Required Field
          label.checkbox-inline
            input(type='checkbox', ng-model='sample.onlyPlainText')
            | Plain Text?&nbsp;
          label.checkbox-inline
            input(type='checkbox', ng-model='sample.notification')
            | VuNotification?&nbsp;
        div
          bs-modal-save-button(on-save='trigger()', btn-title='Trigger', running-message='Sending', finished-message='Sent!')
          button.btn.btn-default(ng-click='close()') Close

  script(id='html-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Message Preview
    .modal-body.ng-cloak(style='height:600px')
      iframe#preview(preview-iframe, ng-hide='error', frameBorder='0', style='width: 100%; height: 100%;')

      div.ng-hide(ng-show='error')
        p.alert.alert-danger There was an error displaying this preview.
        pre {{error}}

  script(id='bulkUpload-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Bulk Upload Statuses
    .modal-body.form-horizontal
      .form-group
        .col-xs-12
          p Bulk upload allows you to input all of your statuses and aliases into a CSV file and upload all their information at once.
          br
          .step
            h4 STEP 1: Download
            | We generate a CSV file pre-populated with the information you need to input. This allows for easy mass addition of content. You can also use this method to make mass changes to the current statuses and their respecitve aliases. Click on the "Include Statuses and Aliases" checkbox, before downloading, if you would like to export the current statuses.
            br
            br
            ul.list-inline
              li: a.btn.btn-default(ng-href='{{url()}}', target='_self') Download
              li: bs-check(ng-model='includeStatuses') Include Statuses and Aliases
            br
          .step
            h4 STEP 2: Input Status and Alias Information
            p Input the information for statuses and aliases into a csv file. Make sure that all status names are in the first column and aliases are in the second column, or your information may not be mapped correctly. If there are muliple aliases for one value, then they should be seperated by a comma. Do NOT include segment or drip information. If the active and $hidden fields are left blank, they will default to active = true and $hidden = no.
            p #[b NOTE: ] Avoid using the same name for multiple statuses. If a name is used by an inactive status, set the active field to 'yes' and make your changes.
            br
          .step
            h4 STEP 3: Upload your file
            p Once you have added all the desired statuses and aliases, just upload the CSV file. We will take care of mapping your inputs into the necessary fields.
            .input-group.fileinput.fileinput-new(data-provides='fileinput', ng-class='{"has-error": typeerror}')
              .form-control(data-trigger='fileinput')
                i.glyphicon.glyphicon-file.fileinput-exists
                span.fileinput-filename {{csv.name}}
              span.input-group-addon.btn.btn-default.btn-file
                span.fileinput-new Select file
                span.fileinput-exists Change
                input(type='file', accept='.csv', readfile='forms.upload.csv', ng-model='status.file')
            span.text-danger(ng-if='typeerror') The file you are uploading is not a CSV file.
    .modal-footer
      span.text-danger(ng-if='!forms.upload.csv') Please select a file above. &nbsp;
      button.btn.btn-primary(type='submit', ng-click='upload()', ng-disabled='!forms.upload.csv') Upload
      button.btn.btn-default(ng-click='$dismiss()') Close

  script(id='statusesStats-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='close()') &times;
      h4.modal-title
        i.fa.fa-check.text-success
        | &nbsp;Upload Stats
    .modal-body
      p The list you uploaded was successful! Below are the statistics of the upload:
      ul
        li
          b Total:&nbsp;
          | {{stats.created + stats.updated}}
        li
          b Created:&nbsp;
          | {{stats.created}}
        li
          b Updated:&nbsp;
          | {{stats.updated}}
    .modal-footer
      button.btn.btn-default(ng-click='close()') Close
