doctype html

.slide
  .slide-up-out.slide-down-in.container(ng-if='!template')
    .row
      .col-md-3
        a.btn.btn-success.create(ui-sref='.edit({id: "new"})')
          i.glyphicon.glyphicon-plus
          | &nbsp;Create Template

      .col-md-9.template-list(ng-if='templates')
        .col-md-4.template(ng-repeat='template in templates' ng-click='go(".edit", {id: template.id})')
          span.actions
            a(href ng-click='showMessagesWhereTemplateIsUsed($event, template)' ng-if='whereIsTemplateBeingUsed(template.id).length > 0')
              i.glyphicon.glyphicon-envelope
            | &nbsp;
            a(href='/templates/{{template.id}}/preview' target='_blank' ng-click='$event.stopPropagation()')
              i.glyphicon.glyphicon-search
            | &nbsp;
            a.btn.btn-xs.btn-warning.delete(href ui-sref='.clone({id: template.id})' ng-click='$event.stopPropagation()') Clone
            | &nbsp;
            a.btn.btn-xs.btn-danger.delete(href ng-click='delete($event, template.id)') Delete ?
          span.tags
            span(ng-repeat='tag in template.tags')
              span.label.label-default {{tag}}
              | &nbsp;
          div.img-thumbnail(style='width: 255px; height: 280px; vertical-align: middle;' ng-if='!template.thumbnail')
            .spinner.spinner-center(style='margin-left: -29px; margin-top: -38px;')
          img.img-thumbnail(ng-src='{{template.thumbnail}}' style='height: 280px;' ng-if='template.thumbnail')

  .slide-up-in.slide-down-out.container-fluid(ng-if='template')
    p: a(href ui-sref='manage-templates') < Back

    form.row(name='form.template')
      input(type='hidden', name='thumbnail', ng-model='template.thumbnail')

      .col-md-9
        .form-group
          input.form-control(type='text', name='tags', ng-model='template.tags', ng-list, placeholder='tag1, tag2, ...')
          p.help-block Seperate tags with commas. e.g. 'LO, refinance, oldlogo'

        ul.nav.nav-tabs
          li.header: b Template Parts
          li.active
            a(ng-click='display = "html"' data-toggle='tab') HTML
          li
            a(ng-click='display = "plain"' data-toggle='tab') Plain Text
        .row.form-group.templateTabs(ng-if='display == "html"')
          .col-md-7
            pre#html(ui-ace ng-model='template.html' ng-change="templateChange()" style='height: 400px; width: 100%; margin: 0; padding: 0; position:relative;')
          .col-md-2(ng-if='template.meta')
            h4 Elements
            div
              span(ng-if='template.meta.html.blocks.length')
                h5 Blocks
                div(ng-repeat='item in template.meta.html.blocks')
                  | &#183; {{item.name}}
              span(ng-if='template.meta.html.policies.length')
                h5 Policies
                div(ng-repeat='item in template.meta.html.policies')
                  | &#183; {{item.name}}
              span(ng-if='template.meta.html.links.length')
                h5 Links
                div(ng-repeat='item in template.meta.html.links')
                  | &#183; {{item.name}}
              span(ng-if='template.meta.html.variables.length')
                h5 Variables
                div(ng-repeat='item in template.meta.html.variables')
                  | &#183; {{item.name}}
        .row.form-group.templateTabs(ng-if='display == "plain"')
          .col-md-7
            textarea.form-control(ng-model='template.text' ng-change="templateChange()" rows='12')
          .col-md-2(ng-if='template.meta')
            div
              span(ng-if='template.meta.text.blocks.length')
                h5 Blocks
                div(ng-repeat='item in template.meta.text.blocks')
                  | &#183; {{item.name}}
              span(ng-if='template.meta.text.policies.length')
                h5 Policies
                div(ng-repeat='item in template.meta.text.policies')
                  | &#183; {{item.name}}
              span(ng-if='template.meta.text.links.length')
                h5 Links
                div(ng-repeat='item in template.meta.text.links')
                  | &#183; {{item.name}}
              span(ng-if='template.meta.text.variables.length')
                h5 Variables
                div(ng-repeat='item in template.meta.text.variables')
                  | &#183; {{item.name}}
          .col-md-2(ng-if='!template.meta')
            | Please save in order to see the elements defined in this template.
        .row
          .col-md-12

      .col-md-3
        #preview
          img(ng-if='template.thumbnail' ng-src='{{template.thumbnail}}')

        hr
        .alert.alert-danger(ng-show='templateError') {{templateError}}
        .pull-left(ng-if='template.id')
          a(href ng-click='preview()')
            i.glyphicon.glyphicon-search
            | &nbsp;Preview HTML (new window)
        .pull-right
          bs-save-button(on-save='save()' ng-disabled="!template_can_be_changed" btn-class='btn-lg btn-success' spinner-position='left' errorExists="{{templateError}}")

    .clearfix
    iframe#thumbnail(style='height: 600px; width: 800px; visibility: hidden; position: absolute; top: 0;')

  script.
    $(document).on({
      mouseenter: function () {
        $(this).find('.actions').fadeIn();
      },
      mouseleave: function () {
        $(this).find('.actions').fadeOut('fast');
      }
    }, '.template-list .template');

  script(id='templates/preview.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Template Preview
    .modal-body.ng-cloak(style='height:600px')
      iframe(show-html iframe-html='html' frameBorder='0' style='width: 100%; height: 100%;')

  script(id='confirm-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='dismiss()') &times;
      h4.modal-title Confirm?
    .modal-body
      | Are you sure you want to delete this template?
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='dismiss()') No

  script(id='messagesWithTemplateModal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='dismiss()') &times;
      h4.modal-title Message using the {{templateName}} template
    .modal-body
      .list-group(style="margin-top:0px;")
        .list-group-item.noselect(style="cursor:pointer; border-radius:0px" ng-click="editMessageDripTemplate(template)" ng-repeat="template in messages | orderBy:'name'  | filter:messageSearchText" context-menu='message-menu.html' context-menu-item='template')
          div(style="width:85%; display:inline-block"  )
            .list-group-item-heading(style="margin:0px; padding:0px; display:inline-block; width:85%; font-weight:600") {{template.name}}
            .list-group-item-heading(style="margin:0px; padding:0px; display:inline-block; width:85%; font-size:11px;") {{template.subject}}
            .list-group-item-heading(style="margin:0px; padding:0px; display:inline-block; width:85%; font-size:11px;")
              strong Last updated on:
              &nbsp;{{template.updated | date:'medium'}}
              span(ng-if="template.updateby") &nbsp; by &nbsp;{{template.updatedBy}}
