doctype html

.container(ng-controller='ManageUploads')
  .row
    .col-md-3
      h3 Select files
      div(ng-if='uploader.isHTML5')
        .well.my-drop-zone(nv-file-over uploader='uploader')
          | Base drop zone
      | Multiple
      input(type='file' multiple aws-file-select uploader='uploader')
      br
      | Single
      input(type='file' aws-file-select uploader='uploader')
    .col-md-9(style='margin-bottom: 40px')
      h3 Upload queue
      p Queue length: {{ uploader.queue.length }}
      table.table
        thead
          tr
            th(width='50%') Name
            th(ng-if='uploader.isHTML5') Size
            th(ng-if='uploader.isHTML5') Progress
            th Status
            th Actions
        tbody
          tr(ng-repeat='item in uploader.queue')
            td
              input(type='text', ng-model='item.key')
            td(nowrap='', ng-if='uploader.isHTML5') {{ item.file.size/1024/1024|number:2 }} MB
            td(ng-if='uploader.isHTML5')
              .progress(style='margin-bottom: 0;')
                .progress-bar(ng-style='{ "width": item.progress + "%" }', role='progressbar')
            td.text-center
              span(ng-if='item.isSuccess')
                i.glyphicon.glyphicon-ok
              span(ng-if='item.isCancel')
                i.glyphicon.glyphicon-ban-circle
              span(ng-if='item.isError')
                i.glyphicon.glyphicon-remove
            td(nowrap='')
              button.btn.btn-success.btn-xs(ng-disabled='item.isReady || item.isUploading || item.isSuccess', ng-click='item.upload()', type='button')
                span.glyphicon.glyphicon-upload
                | &nbsp;Upload
              | &nbsp;
              button.btn.btn-warning.btn-xs(ng-disabled='!item.isUploading', ng-click='item.cancel()', type='button')
                span.glyphicon.glyphicon-ban-circle
                | &nbsp;Cancel
              | &nbsp;
              button.btn.btn-danger.btn-xs(ng-click='item.remove()', type='button')
                span.glyphicon.glyphicon-trash
                | &nbsp;Remove
      div
        p
          | Queue progress:
        .progress(style='')
          .progress-bar(ng-style='{ "width": uploader.progress + "%" }', role='progressbar')
        p
        button.btn.btn-success.btn-s(ng-disabled='!uploader.getNotUploadedItems().length', ng-click='uploader.uploadAll()', type='button')
          span.glyphicon.glyphicon-upload
          | &nbsp;Upload all
        | &nbsp;
        button.btn.btn-warning.btn-s(ng-disabled='!uploader.isUploading', ng-click='uploader.cancelAll()', type='button')
          span.glyphicon.glyphicon-ban-circle
          | &nbsp;Cancel all
        | &nbsp;
        button.btn.btn-danger.btn-s(ng-disabled='!uploader.queue.length', ng-click='uploader.clearQueue()', type='button')
          span.glyphicon.glyphicon-trash
          | &nbsp;Remove all
