<label class='btn checks' ng-class='klass()'>
  <input type='checkbox' ng-checked='isSelected' />
  <i class='fa fa-fw fa-check-square-o truthy' />
  <i class='fa fa-fw fa-square-o falsy' />
  &nbsp;<ng-transclude />
</label>
