<span>
  <div class='modal-header'>
    <button class='close' type='button' ng-click='$dismiss()' name='close'> &times;</button>
    <h4 class='modal-title'>Attribute Messages</h4>
  </div>
  <div class='modal-body columns-sv'>
    <span class='column statuses'>
      <h4 class='column-header status-bgcolor'>
        <i class='fa fa-check-square-o'></i>
        &nbsp;<span>{{status.name}}</span>
      </h4>
    </span>
    <span class='column segments'>
      <h4 class='column-header segment-bgcolor'>
        <i class='fa fa-puzzle-piece'></i>
        &nbsp;<span>{{segment}}</span>
      </h4>
    </span>
    <span class='column messages'>
      <h4 class='column-header message-bgcolor'>
        <i class='fa fa-envelope-o'></i>
        &nbsp;<span>Messages</span>
      </h4>
      <span class='column-body'>
        <ul class='list-unstyled'>
          <li class='clearfix' ng-repeat="step in steps | orderBy:'delay.delayInHours'" ng-class="{'bg-info': lead.step == step.id}">
            <div>
              <i class='fa fa-dot-circle-o' ng-if='lead.step == step.id && !job.doc.at' uib-popover="Current Message" popover-trigger='mouseenter' popover-placement='right' popover-append-to-body='true'></i>
              <b>&nbsp;{{step.name}}</b>
            </div>
            <div>
              <span class='pull-left'>
                <small ng-if="lead.step == step.id && job.doc.at"><i class='fa fa-fw fa-calendar'></i>{{job.doc.at | amCalendar}}</small>
                <small ng-if="lead.step != step.id && step.delay.display"><i class='fa fa-fw fa-calendar'></i>{{step.delay.display | amCalendar}}</small>
                <i class='fa fa-fw fa-exclamation-circle', ng-if='lead.step == step.id && job.doc.status == "processed"' uib-popover="Job has processed" popover-trigger='mouseenter' popover-placement='right' popover-append-to-body='true'></i>
              </span>
              <i class='pull-right'>
                <small>Delay {{step.delay.value}} {{step.delay.units}}(s)</small>
              </i>
            </div>
          </li>
        </ul>
      </span>
    </span>
  </div>
  <div class='modal-footer'>
    <button class='btn btn-default pull-right' ng-click='$dismiss()'>Close</button>
  </div>
</span>
