<span>
  <span ng-if="spinnerPosition == 'left'">
    <i class="fa fa-circle-o-notch fa-spin" ng-if="form.$submitting"></i>
    <span class="fa fa-fw fa-check text-success" ng-if="form.$saved && form.$pristine && !errorexists"></span>
  </span>
  <button class="btn" name="save" ng-class="btnClass" ng-click="save()" ng-disabled="form.$invalid || form.$pristine">Save</button>
  <span ng-if="spinnerPosition == 'right'">
    <i class="fa fa-circle-o-notch fa-spin" ng-if="form.$submitting"></i>
    <span class="fa fa-fw fa-check text-success" ng-if="form.$saved && form.$pristine"></span>
  </span>
</span>
