doctype html

.container-fluid(ng-controller='AttributesSummary')
  h3 Attributes Summary
  table.table.table-bordered.table-nested.centered
    thead
      tr
        td(colspan='10')
          form.form-inline.pull-right
            .form-group.fader(ng-if='$loading')
              .spinner.spinner-small
            .form-group
              .input-group(bs-datetime-picker, data-date-format='M/D/YYYY', data-date-pickTime='false', ng-model='range.from', ng-disabled='$loading')
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
            .form-group
              .input-group(bs-datetime-picker, data-date-format='M/D/YYYY', data-date-pickTime='false', ng-model='range.to', ng-disabled='$loading')
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
      tr
        th.text-left(width='26%') Status
        th(width='8%') Sends
        th(width='8%') Delivered
        th(width='8%') Opt-Outs
        th(width='8%') Opens
        th(width='8%')
          | Uq. Opens&nbsp;
          i.fa.fa-xs.fa-question-circle(uib-popover='Unq. Opens is the number of messages that are opened at least once. In other words, this number drops opens after the first open.', uib-popover-trigger='mouseenter', uib-popover-placement='bottom', uib-popover-append-to-body='true')
        th(width='9%')
          | Open %&nbsp;
          i.fa.fa-xs.fa-question-circle(uib-popover='Open % is taking the number of Unq. Opens, and dividing it by messages delivered.', uib-popover-trigger='mouseenter', uib-popover-placement='bottom', uib-popover-append-to-body='true')
        th(width='8%') Clicks
        th(width='8%')
          | Uq. Clicks&nbsp;
          i.fa.fa-xs.fa-question-circle(uib-popover='Unq. Clicks is the number of messages that are clicked at least once. In other words, this number drops clicks after the first click.', uib-popover-trigger='mouseenter', uib-popover-placement='bottom', uib-popover-append-to-body='true')
        th(width='9%')
          | Click %&nbsp;
          i.fa.fa-xs.fa-question-circle(uib-popover='Click % is taking the number of Unq. Clicks, and dividing it by messages delivered.', uib-popover-trigger='mouseenter', uib-popover-placement='bottom', uib-popover-append-to-body='true')
    tfoot
      tr
        td(colspan='10')
          p.pull-right.help-block * All statistics in the above table are based on the message being delivered within the selected date filter.
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='10')
          .spinner.spinner-center
      tr(ng-if='!summary.length && !$loading')
        td(colspan='10')
          | No summary statistics are available for selected date range.
      tr.depth-0(ng-if='!$loading', ng-repeat-start='group in summary', style='font-size: 1.25em')
        td.text-left
          a(href, ng-if='!group.attributes', ng-click='expand(group.key)')
            i.fa.fa-fw.fa-plus
          a(href, ng-if='group.attributes', ng-click='close(group.key)')
            i.fa.fa-fw.fa-minus
          b {{groups[group.key].name}}
        td {{group.stats.sends}}
        td {{group.stats.delivers}}
        td {{group.stats.optouts}}
        td {{group.stats.opens}}
        td {{group.stats.unqopens}}
        td {{group.stats.unqopens / group.stats.delivers | percentage}}
        td {{group.stats.clicks}}
        td {{group.stats.unqclicks}}
        td {{group.stats.unqclicks / group.stats.delivers | percentage}}
      tr.depth-1.loading(ng-if='!$loading && group.attributes.$loading')
        td(colspan='10', style='height: 111px')
          .spinner.spinner-center
      tr.depth-1(ng-if='!$loading', ng-repeat-start='attribute in group.attributes', style='font-size: 1.125em')
        td.text-left(style='padding-left: 2em') {{groups[group.key].attributes[attribute.key].name}}
        td {{attribute.stats.sends}}
        td {{attribute.stats.delivers}}
        td {{attribute.stats.optouts}}
        td {{attribute.stats.opens}}
        td {{attribute.stats.unqopens}}
        td {{attribute.stats.unqopens / attribute.stats.delivers | percentage}}
        td {{attribute.stats.clicks}}
        td {{attribute.stats.unqclicks}}
        td {{attribute.stats.unqclicks / attribute.stats.delivers | percentage}}
      tr(ng-repeat-end, ng-if='false')
      tr(ng-repeat-end, ng-if='false')
