doctype html

.container-fluid(ng-controller='ReportsBatches')
  h3 Batches

  table.table.table-bordered.table-striped.centered
    thead
      tr
        td(colspan='10')
          form.form-inline.pull-right
            sv-paging-range
      tr
        th.text-left(width='26%') Batch
        th(width='8%') Sends
        th(width='8%') Delivered
        th(width='8%') Opt-Outs
        th(width='8%') Opens
        th(width='8%' uib-popover='Uq. Opens is the number of messages that are opened at least once. In other words, this number drops opens after the first open.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | Uq. Opens&nbsp;
          i.fa.fa-xs.fa-question-circle
        th(width='9%' uib-popover='Open % is taking the number of Unq. Opens, and dividing it by messages delivered.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | Open %&nbsp;
          i.fa.fa-xs.fa-question-circle
        th(width='8%') Clicks
        th(width='8%' uib-popover='Uq. Clicks is the number of messages that are clicked at least once. In other words this number drops clicks after the first click.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | Uq. Clicks&nbsp;
          i.fa.fa-xs.fa-question-circle
        th(width='9%' uib-popover='Click % is taking the number of Unq. Clicks and dividing it by messages delivered.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | Click %&nbsp;
          i.fa.fa-xs.fa-question-circle
    tfoot
      tr
        td(colspan='10')
          p.pull-right.help-block * All statistics in the above table are based on the message being sent within the selected date filter.
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat="batch in batches | orderBy: '-deployed'" ng-hide='!summary[batch.id]')
        td.text-left
          .pull-right
            a(ng-href='/manage/batches/{{batch.id}}')
              i.fa.fa-pencil
              | &nbsp;Edit
          b {{batch.name}}
          br
          span #[i Deployed] {{batch.deployed | date:"MMM d, yyyy h:mm a"}}
        td
          a(ng-href='/reports/bymessage/sends?{{rangeqs()}}&batch={{batch.id}}')
            | {{summary[batch.id].sends}}
        td
          a(ng-href='/reports/bymessage/sends?{{rangeqs()}}&batch={{batch.id}}')
            | {{summary[batch.id].delivers | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/optouts?{{rangeqs()}}&batch={{batch.id}}')
            | {{summary[batch.id].optouts | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/opens?{{rangeqs()}}&batch={{batch.id}}')
            | {{summary[batch.id].opens | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/opens?{{rangeqs()}}&batch={{batch.id}}&unique')
            | {{summary[batch.id].unqopens}}
        td {{summary[batch.id].unqopens / summary[batch.id].delivers | percentage}}
        td
          a(ng-href='/reports/bymessage/clicks?{{rangeqs()}}&batch={{batch.id}}')
            | {{summary[batch.id].clicks | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/clicks?{{rangeqs()}}&batch={{batch.id}}&unique')
            | {{summary[batch.id].unqclicks}}
        td {{summary[batch.id].unqclicks / summary[batch.id].delivers | percentage}}
      tr(ng-if='!$loading && !batches.length')
        td.text-center.muted(colspan='10') No summary data for selected date range.

script(id='reports/batches/preview.html' type='text/ng-template')
  .modal-header
    button.close(type='button' ng-click='$dismiss()') &times;
    h4.modal-title Email View
  .modal-body
    iframe(frameBorder='0' style='width: 100%; height: 100%' preview-html ng-model='send.mail.html')
    a(href ng-click='showRaw = !showRaw') Raw
    pre(ng-show='showRaw') {{send | json}}
  .modal-footer
    button.btn.btn-default(type='button' ng-click='$dismiss()') Close
