html

.container(ng-controller='ReportsCustom')
  .row
    .col-xs-6.col-xs-offset-3
      h2 All Reports
  .row
    .col-xs-3.tabs-left
      ul.nav.nav-tabs.nav-stacked.text-right.pull-right(data-toggle='tab-hover')
        li.active: a(href='#popular' data-toggle='tab') Most Popular Reports
        li: a(href='#optout' data-toggle='tab') Opt-Out Reports
        li: a(href='#batch' data-toggle='tab') Batch Reports
        li: a(href='#bounce' data-toggle='tab') Bounce Reports

    .col-xs-6.tab-content
      #popular.tab-pane.active
        .list-group
          a.list-group-item
            h3.list-group-item-heading Performance Summary
            p.list-group-item-text This report shows you a summary of all campaign performance from high level down to each individual message. This is also an example of a multi-line description.
          a.list-group-item(href='/reports/attributes')
            h3.list-group-item-heading Attribute Performance
            p.list-group-item-text Description of the report goes here.
          a.list-group-item
            h3.list-group-item-heading Opt-Outs by Status
            p.list-group-item-text Description of the report goes here.
          a.list-group-item
            h3.list-group-item-heading Opt-Outs by Attribute
            p.list-group-item-text Description of the report goes here.
      #optout.tab-pane
      #batch.tab-pane
      #bound.tab-pane
