html
mixin link(url, text)
  a(href='#{url}')
    .panel-footer.announcement-bottom
      .row
        .col-xs-6
          = text
        .col-xs-6.text-right
          i.fa.fa-arrow-circle-right

.container(ng-controller='ReportsDashboard')
  .row
    .col-lg-3.col-md-6
      .panel.panel-info
        .panel-heading
          .row
            .col-xs-5
              i.fa.fa-envelope.fa-5x
            .col-xs-7.text-right
              p.announcement-heading {{summary['email.delivered'] | humanizeDashboard}}
              p.announcement-text Sends
        +link('/reports/realtime/sends', 'View Sends')
    .col-lg-3.col-md-6
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-5
              i.fa.fa-users.fa-5x
            .col-xs-7.text-right
              p.announcement-heading {{summary['users'] | humanizeDashboard}}
              p.announcement-text Base: 1 - 20
        +link('/admin/senders', 'View Senders')
    .col-lg-3.col-md-6
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-5
              i.fa.fa-ban.fa-5x
            .col-xs-7.text-right
              p.announcement-heading {{summary['optout'] | humanizeDashboard}}
              p.announcement-text Opt-Outs
        +link('/reports/realtime/optouts', 'View Opt-Outs')
    .col-lg-3.col-md-6
      .panel.panel-danger
        .panel-heading
          .row
            .col-xs-5
              i.fa.fa-exclamation-triangle.fa-5x
            .col-xs-7.text-right
              p.announcement-heading {{summary['errored'] | humanizeDashboard}}
              p.announcement-text API Errors
        +link('/reports/realtime/errors', 'View Errors')

  .row
    div(ng-repeat='status in graphs track by $index' class='col-lg-{{12 / graphs.length}}')
      .panel.panel-primary
        .panel-heading.clearfix
          h3.panel-title.pull-left
            i.fa.fa-bar-chart-o
            | &nbsp;{{statuses[status].name}} (Past 30 days)
          form.form-inline.btn-toolbar.pull-right.ng-cloak.dropdown(ng-if='status_array.length > 1')
            .dropdown-toggle(data-toggle='dropdown' aria-expanded='true')
              i.fa.fa-gear.fa-lg &nbsp;
              i.fa.fa-caret-down
            ul.dropdown-menu.dashGraph(ng-click='$event.stopPropagation()')
              li
                h5 Graph Options
              li#statusSelect
                select.input-sm.form-control(ng-model='graphs[$index]' ng-options='status.id as status.name for status in status_array | orderBy:"name"')
              li
                button.btn.btn-sm.btn-default(ng-if='graphs.length === 1' ng-click='graphs.push(status)')
                  | Add Graph&nbsp;
                  i.fa.fa-arrow-right
              li
                button.btn.btn-sm.btn-default(ng-if='$index === 1' ng-click='graphs.pop()')
                  i.fa.fa-times
                  | &nbsp;Remove Graph
              script $('.open').removeClass('open');
        .panel-body
          .chart(plot-graph='{{status}}')
            .spinner.spinner-center

  .row
    .col-lg-5
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            i.fa.fa-thumbs-o-up
            | &nbsp;Campaigns:&nbsp;
            b Top 3 Performers
        table.table.table-striped.table-hover
          thead
            tr
              th Status / Segment / Message
              th(width='15%') Opens
              th(width='15%') CTs
          tbody
            tr.loading(ng-if='!perf.best')
              td(colspan='3', style='height: 111px')
                .spinner.spinner-center
            tr(ng-repeat='perf in perf.best')
              td(uib-tooltip='{{statuses | asCampaign:perf}}' tooltip-append-to-body='true') {{statuses | asCampaign:perf | characters:40}}
              td {{perf.stats.opens}}
              td {{perf.stats.rate | percentage}}
            tr(ng-if='perf.best && !perf.best.length')
              td(colspan='3') No performance data.
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            i.fa.fa-thumbs-o-down
            | &nbsp;Campaigns:&nbsp
            b Bottom 3 Performers
        table.table.table-striped.table-hover
          thead
            tr
              th Status / Segment / Message
              th(width='15%') Opens
              th(width='15%') CTs
          tbody
            tr.loading(ng-if='!perf.worst')
              td(colspan='3', style='height: 111px')
                .spinner.spinner-center
            tr(ng-repeat='perf in perf.worst')
              td(uib-tooltip='{{statuses | asCampaign:perf}}' tooltip-append-to-body='true') {{statuses | asCampaign:perf | characters:40}}
              td {{perf.stats.opens}}
              td {{perf.stats.rate | percentage}}
            tr(ng-if='perf.worst && !perf.worst.length')
              td(colspan='3') No performance data.
    .col-lg-7
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            i.fa.fa-eye
            | &nbsp;Most Recent VuNotifications
        table.table.table-hover.table-striped.tablesorter
          thead
            tr
              th Date
              th Sender
              th Message
          tbody
            tr.loading(ng-if='!clicks')
              td(colspan='3', style='height: 444px')
                .spinner.spinner-center
            tr(ng-repeat='click in clicks')
              td(am-time-ago='click.at')
              td {{click.email.sender.firstname}} {{click.email.sender.lastname}}
              td(ng-if='!click.batch')
                i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
                | &nbsp;{{statuses[click.status].name}} - {{statuses[click.status].segments[click.segment].name}} - {{statuses[click.status].segments[click.segment].steps[click.step].name}}
              td(ng-if='click.batch')
                i.fa.fa-users(alt='Batch' uib-tooltip='Batch')
                | &nbsp;{{click.email.batch.name}}
            tr(ng-if='clicks && !clicks.length')
              td(colspan='3') No recent clicks.
