doctype html

.container-fluid(sv-paging='DirectSends' initial-size='30' ng-controller='ReportsDirect')
  h3 Direct Sends
  table.table.table-bordered.table-striped.centered(infinite-scroll='next()' infinite-scroll-disabled='$loading')
    thead
      tr
        td(colspan='6')
          //form.pull-left
            .col-xs-12
              button.btn.btn-primary(uib-popover-template='"uib-popover/direct/message-filter.html"' popover-trigger='outsideClick' popover-animation='false' popover-placement='right' popover-class='message-filter') Message Filter ({{filter.length}})
          form.form-inline.pull-right
            //.form-group
              | Show
              select.form-control.input-sm(ng-model='range.size')
                option(value='30') 30
                option(value='60') 60
                option(value='120') 120
            .form-group
              sv-paging-range
            //.form-group
              sv-paging-exporter(keys='message = message.name, sender = sender.email, recipient = recipient.email, delivered, opens = opened.length, clicks = clicked.length')
      tr
        th.text-left(width='20%') Message
        th(width='16%') Recipient
        th(width='16%') Sender
        th(width='14%') Delivered
        th(width='10%') Opens
        th(width='10%') Clicks
    tbody
      tr(ng-repeat='message in objects')
        td.text-left
          .pull-right
            a(ng-href='/manage/message-library/{{message.message.id}}/default/templates')
              i.fa.fa-pencil
              | &nbsp;Edit
          b {{message.message.name}}
        td {{message.recipient.email || message.lead.email}}
        td {{message.sender.email}}
        td {{message.delivered || message.updated | date:"MMM d, yyyy h:mm a"}}
        td {{message.opened.length || "0"}}
        td {{message.clicked.length || "0"}}
      tr(ng-if='objects.length')
        td(colspan='6') Showing: {{objects.length | humanizeComma}} of {{count}}
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading && !objects.length')
        td.text-center.muted(colspan='6') No send data for selected date range.

script(id='uib-popover/direct/message-filter.html' type='text/ng-template')
  div#message-filter
    .form-group.has-feedback
      input.input-sm.form-control(type='text' ng-model='search.name' placeholder='Filter...')
      i.fa.fa-times.form-control-feedback.form-control-clear(ng-click='search=""')
    div.outer
      ul.list-unstyled
        li(ng-repeat='message in filtered = (messagefilter | filter:search)')
          label
            input(type='checkbox' ng-model='message.checked' ng-change='selectedValues(messagefilter)')
            | &nbsp;{{message.name}}
        li(ng-if='!filtered.length') No messages found.
    div(style='padding-top: 10px')
      button(type='submit' class='btn btn-success btn-sm' ng-click='applyFilter()') Apply
      button(class='btn btn-warning btn-sm' ng-click='resetFilter(messagefilter)') Reset
