mixin link(url, name)
  a.btn.btn-default(ng-href='/reports/realtime/#{url}?{{query}}' ng-class='{active: state.params.report == "#{url}"}')= name

html

.container-fluid
  h3 Realtime Reports
  .row
    .col-xs-8
      .btn-group.btn-group-justified
        +link('sends', 'Sends')
        +link('clicks', 'Clicks')
        +link('opens', 'Opens')
        +link('bounces', 'Bounces')
        +link('optouts', 'Opt-Outs')
        +link('errors', 'Errors')
    .col-xs-4
      .btn-group.btn-group-justified
        +link('leads', 'Leads')
        +link('surveys', 'Surveys')

  div(ui-view='')
    p Report View
