doctype html

.container(ng-controller='ReportsStrategy')
  style.
    .node circle {
      cursor: pointer;
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .node text {
      font-size: 12px;
    }

    path {
      fill: none;
    }

    path.link {
      stroke: #ccc;
      stroke-width: 1.5px;
    }

    path.link.active {
      stroke: steelblue;
      stroke-width: 2.5px;
    }

  .row.columns-sv
    .col-xs-8.form-horizontal
      .form-group
        label.col-xs-2.control-label Status
        .col-xs-4
          select.form-control(ng-model='selected.status', ng-change='highlight()', ng-options='id as status.name for (id, status) in statuses')
      .form-group
        label.col-xs-2.control-label Attributes
        .col-xs-10
          .row
            .col-xs-4(ng-repeat='attribute in attributes | orderBy:"name"')
              select.form-control.input-sm(ng-model='selected.attributes[attribute.id]', ng-required='false', ng-change='highlight()', ng-options='value.id as value.name for value in attribute.values | orderBy:"name"')
                option(value='') [{{attribute.name}}]
          .row
            .col-xs-8
              p(ng-if='$no_match') No segment matches the selected attribute values.
              p(ng-if='selected.segment.$status') Status is selected.
              p(ng-if='selected.segment.$multiple_attributes') Selected segment has attributes that match #[b MULTIPLE] values.
              p(ng-if='selected.segment.$no_attributes') Selected segment has #[b NO] attribute values set.
              p(ng-if='!selected.segment.$multiple_attributes && !selected.segment.$no_attributes && !selected.segment.$status && !$no_match') Selected segment matches the #[b ABOVE] value(s).
      #graph
    .col-xs-4
      .column.messages
        .column-header.message-bgcolor
          i.fa.fa-envelope-o
          | &nbsp;Messages
        .column-body
          ul.list-unstyled.strategy-message
            li.ng-show(ng-hide='steps.length')
              b No Messages
            li.clearfix(ng-repeat='step in steps' ng-click='viewStep(step)')
             b {{step.name}}
             br
             i: small {{step.message.subject}}
             span(ng-if='step.message==undefined && step.message.id==undefined')
               | &nbsp;
               i.fa.fa-exclamation-triangle(style="color:#FF0000" uib-popover='The message associated with this message either no longer exists or has been placed in DRAFT mode.' uib-popover-trigger='mouseenter' uib-popover-placement='left'  uib-popover-append-to-body='true')
script(id='html-modal.html', type='text/ng-template')
  .modal-header
    button.close(ng-click='$dismiss()') &times;
    h4.modal-title Message Preview
  .modal-body.ng-cloak(style='height:600px')
    iframe#preview(preview-iframe, ng-hide='error', frameBorder='0', style='width: 100%; height: 100%;')

    div.ng-hide(ng-show='error')
      p.alert.alert-danger There was an error displaying this preview.
      pre {{error}}
