doctype html

.container-fluid(ng-controller='ReportsSummary')
  h3 Strategy Summary
  table.table.table-bordered.table-nested.centered
    thead
      tr
        td(colspan='11')
          form.pull-left
            bs-radios(ng-model='display.type')
              bs-radio2(value='message') By Message
              bs-radio2(value='attribute') By Attribute
          form.pull-left(ng-if='display.type == "message"')
            .col-xs-12
              button(class='btn btn-primary' uib-popover-template='"uib-popover/summary/attribute-filter.html"' popover-trigger='outsideClick' popover-animation='false' popover-placement='bottom' popover-class='attribute-filter') Attribute Filter ({{filter.length}})
          form.pull-left(ng-if='display.type == "attribute"')
            .col-xs-12
              button(class='btn btn-primary' uib-popover-template='"uib-popover/summary/message-filter.html"' popover-trigger='outsideClick' popover-animation='false' popover-placement='bottom' popover-class='message-filter') Message Filter ({{filter.length}})
          form.form-inline.pull-right
            sv-paging-range
      tr
        th.text-left(width='17%') Status
        th(width='8%') Sends
        th(width='8%') Delivered
        th(width='8%') Opt-Outs
        th(width='8%') Opens
        th(width='8%' uib-popover='Uq. Opens is the number of messages that are opened at least once. In other words, this number drops opens after the first open.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | Uq. Opens&nbsp;
          i.fa.fa-xs.fa-question-circle
        th(width='9%' uib-popover='Open % is taking the number of Unq. Opens, and dividing it by messages delivered.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | Open %&nbsp;
          i.fa.fa-xs.fa-question-circle
        th(width='8%') Clicks
        th(width='8%' uib-popover='Uq. Clicks is the number of messages that are clicked at least once. In other words this number drops clicks after the first click.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | Uq. Clicks&nbsp;
          i.fa.fa-xs.fa-question-circle
        th(width='9%' uib-popover='Click % is taking the number of Unq. Clicks and dividing it by messages delivered.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | Click %&nbsp;
          i.fa.fa-xs.fa-question-circle
        th(width='9%' uib-popover='Open to Click % is taking the number of Unq. Clicks and dividing it by Unq. Opens.' uib-popover-trigger='mouseenter' uib-popover-placement='bottom' uib-popover-append-to-body='true')
          | O2CT%&nbsp;
          i.fa.fa-xs.fa-question-circle
    tfoot
      tr
        td(colspan='11')
          p.pull-right.help-block * All statistics in the above table are based on the message being sent within the selected date filter.
    tbody(ng-if='display.type == "message"' ng-controller='StatusesSummary')
      tr.loading(ng-if='$loading')
        td(colspan='11')
          .spinner.spinner-center
      tr(ng-if='!summary.length && !$loading')
        td(colspan='11')
          | No summary statistics are available for selected date range.
      tr.depth-0(ng-if='!$loading && statuses[status.key].name.length', ng-repeat-start='status in summary|orderBy:"-stats.sends"', style='font-size: 1.25em')
        td.text-left(style='cursor: pointer' ng-if='!status.segments' ng-click='expand(status.key)')
          i.fa.fa-fw.fa-plus
          b {{statuses[status.key].name}}
        td.text-left(style='cursor: pointer' ng-if='status.segments' ng-click='close(status.key)')
          i.fa.fa-fw.fa-minus
          b {{statuses[status.key].name}}
        td
          a(ng-href='/reports/bymessage/sends?{{rangeqs()}}&status={{status.key}}')
            | {{status.stats.sends | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/sends?{{rangeqs()}}&status={{status.key}}')
            | {{status.stats.delivers | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/optouts?{{rangeqs()}}&status={{status.key}}')
            | {{status.stats.optouts | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/opens?{{rangeqs()}}&status={{status.key}}')
            | {{status.stats.opens | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/opens?{{rangeqs()}}&status={{status.key}}&unique')
            | {{status.stats.unqopens | humanizeComma }}
        td {{status.stats.unqopens / status.stats.delivers | percentage}}
        td
          a(ng-href='/reports/bymessage/clicks?{{rangeqs()}}&status={{status.key}}')
            | {{status.stats.clicks | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/clicks?{{rangeqs()}}&status={{status.key}}&unique')
            | {{status.stats.unqclicks | humanizeComma}}
        td {{status.stats.unqclicks / status.stats.delivers | percentage}}
        td {{status.stats.unqclicks / status.stats.unqopens | percentage}}
      tr.depth-1.loading(ng-if='!$loading && status.segments.$loading')
        td(colspan='11', style='height: 111px')
          .spinner.spinner-center
      tr.depth-1(ng-if='!$loading', ng-repeat-start='segment in status.segments|orderBy:"-stats.sends"', style='font-size: 1.125em')
        td.text-left(style='padding-left: 2em; cursor: pointer' ng-if='!segment.steps' ng-click='expand(status.key, segment.key)')
          i.fa.fa-fw.fa-plus
          | {{statuses[status.key].segments[segment.key].name}}
        td.text-left(style='padding-left: 2em; cursor: pointer' ng-if='segment.steps' ng-click='close(status.key, segment.key)')
          i.fa.fa-fw.fa-minus
          | {{statuses[status.key].segments[segment.key].name}}
        td
          a(ng-href='/reports/bymessage/sends?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}')
            | {{segment.stats.sends | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/sends?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}')
            | {{segment.stats.delivers | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/optouts?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}')
            | {{segment.stats.optouts | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/opens?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}')
            | {{segment.stats.opens | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/opens?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&unique')
            | {{segment.stats.unqopens | humanizeComma}}
        td {{segment.stats.unqopens / segment.stats.delivers | percentage}}
        td
          a(ng-href='/reports/bymessage/clicks?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}')
            | {{segment.stats.clicks | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/clicks?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&unique')
            | {{segment.stats.unqclicks | humanizeComma}}
        td {{segment.stats.unqclicks / segment.stats.delivers | percentage}}
        td {{segment.stats.unqclicks / segment.stats.unqopens | percentage}}
      tr.depth-2.loading(ng-if='!$loading && segment.steps.$loading')
        td(colspan='11', style='height: 111px')
          .spinner.spinner-center
      tr.depth-2(ng-if='!$loading', ng-repeat-start='step in segment.steps | orderBy:sortDelay(segment.key, status.key)')
        td.text-left(style='padding-left: 4em') {{statuses[status.key].segments[segment.key].steps[step.key].name | characters:45}}
        td
          a(ng-href='/reports/bymessage/sends?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&step={{step.key}}')
            | {{step.stats.sends | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/sends?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&step={{step.key}}')
            | {{step.stats.delivers | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/optouts?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&step={{step.key}}')
            | {{step.stats.optouts | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/opens?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&step={{step.key}}')
            | {{step.stats.opens | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/opens?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&step={{step.key}}&unique')
            | {{step.stats.unqopens | humanizeComma}}
        td {{step.stats.unqopens / step.stats.delivers | percentage}}
        td
          a(ng-href='/reports/bymessage/clicks?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&step={{step.key}}')
            | {{step.stats.clicks | humanizeComma}}
        td
          a(ng-href='/reports/bymessage/clicks?{{rangeqs()}}&status={{status.key}}&segment={{segment.key}}&step={{step.key}}&unique')
            | {{step.stats.unqclicks | humanizeComma}}
        td {{step.stats.unqclicks / step.stats.delivers | percentage}}
        td {{step.stats.unqclicks / step.stats.unqopens | percentage}}
      tr(ng-repeat-end, ng-if='false')
      tr(ng-repeat-end, ng-if='false')
      tr(ng-repeat-end, ng-if='false')
    tbody(ng-if='display.type == "attribute"' ng-controller='AttributesSummary')
      tr.loading(ng-if='$loading')
        td(colspan='11')
          .spinner.spinner-center
      tr(ng-if='!summary.length && !$loading')
        td(colspan='11')
          | No summary statistics are available for selected date range.
      tr.depth-0(ng-if='!$loading', ng-repeat-start='group in summary', style='font-size: 1.25em')
        td.text-left(style='cursor: pointer' ng-if='!group.attributes', ng-click='expand(group.key)')
          i.fa.fa-fw.fa-plus
          b {{groups[group.key].name}}
        td.text-left(style='cursor: pointer' ng-if='group.attributes', ng-click='close(group.key)')
          i.fa.fa-fw.fa-minus
          b {{groups[group.key].name}}
        td {{group.stats.sends | humanizeComma}}
        td {{group.stats.delivers | humanizeComma}}
        td {{group.stats.optouts | humanizeComma}}
        td {{group.stats.opens | humanizeComma}}
        td {{group.stats.unqopens | humanizeComma}}
        td {{group.stats.unqopens / group.stats.delivers | percentage}}
        td {{group.stats.clicks | humanizeComma}}
        td {{group.stats.unqclicks | humanizeComma}}
        td {{group.stats.unqclicks / group.stats.delivers | percentage}}
        td {{group.stats.unqclicks / group.stats.unqopens | percentage}}
      tr.depth-1.loading(ng-if='!$loading && group.attributes.$loading')
        td(colspan='11', style='height: 111px')
          .spinner.spinner-center
      tr.depth-1(ng-if='!$loading', ng-repeat-start='attribute in group.attributes', style='font-size: 1.125em')
        td.text-left(style='padding-left: 2em') {{groups[group.key].attributes[attribute.key].name}}
        td {{attribute.stats.sends | humanizeComma}}
        td {{attribute.stats.delivers | humanizeComma}}
        td {{attribute.stats.optouts | humanizeComma}}
        td {{attribute.stats.opens | humanizeComma}}
        td {{attribute.stats.unqopens | humanizeComma}}
        td {{attribute.stats.unqopens / attribute.stats.delivers | percentage}}
        td {{attribute.stats.clicks | humanizeComma}}
        td {{attribute.stats.unqclicks | humanizeComma}}
        td {{attribute.stats.unqclicks / attribute.stats.delivers | percentage}}
        td {{attribute.stats.unqclicks / attribute.stats.unqopens | percentage}}
      tr(ng-repeat-end, ng-if='false')
      tr(ng-repeat-end, ng-if='false')

script(id='uib-popover/summary/attribute-filter.html' type='text/ng-template')
  div#attribute-filter
    .form-group.has-feedback
      input.input-sm.form-control(type='text' ng-model='search.name' placeholder='Filter...')
      i.fa.fa-times.form-control-feedback.form-control-clear(ng-click='search=""')
    div.outer
      ul.list-unstyled
        li(ng-repeat='attr in filtered = (attributefilter | filter:search)')
          label
            input(type='checkbox' ng-model='attr.checked' ng-change='selectedValues(attributefilter)')
            | &nbsp;{{attr.name}}
        li(ng-if='!filtered.length') No messages found.
    div(style='padding-top: 10px')
      button(type='submit' class='btn btn-success btn-sm' ng-click='applyFilter()') Apply
      button(class='btn btn-warning btn-sm' ng-click='resetFilter(attributefilter)') Reset

script(id='uib-popover/summary/message-filter.html' type='text/ng-template')
  div#message-filter
    .form-group.has-feedback
      input.input-sm.form-control(type='text' ng-model='search.name' placeholder='Filter...')
      i.fa.fa-times.form-control-feedback.form-control-clear(ng-click='search=""')
    div.outer
      ul.list-unstyled
        li(ng-repeat='step in filtered = (stepfilter | filter:search)')
          label
            input(type='checkbox' ng-model='step.checked' ng-change='selectedValues(stepfilter)')
            | &nbsp;{{step.name}}
        li(ng-if='!filtered.length') No messages found.
    div(style='padding-top: 10px')
      button(type='submit' class='btn btn-success btn-sm' ng-click='applyFilter()') Apply
      button(class='btn btn-warning btn-sm' ng-click='resetFilter(stepfilter)') Reset
