/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 0;
    background-color: #fff;
}

#services {
  width: calc((100vw - 225px) * 0.25);
  position: fixed;
  right: 0;
}

.copyable { cursor: pointer; }

/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.json-popover {
  min-width: 300px;
  max-width: none;

  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.json-popover.popover.top .arrow:after {
  border-top-color: #f5f5f5;
}

.json-popover p {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  margin-bottom: 0;
  white-space: pre;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.not-valid {
  border-color: #f1614c;
}

/*
http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box
has-feedback style for fa/glyphicon input addons
*/
.has-feedback .form-control {
  padding-right: 34px;
}
.has-feedback .form-control.input-sm,
.has-feedback.form-group-sm .form-control {
  padding-right: 30px;
}
.has-feedback .form-control.input-lg,
.has-feedback.form-group-lg .form-control {
  padding-right: 46px;
}
.has-feedback-left .form-control {
  padding-right: 12px;
  padding-left: 34px;
}
.has-feedback-left .form-control.input-sm,
.has-feedback-left.form-group-sm .form-control {
  padding-left: 30px;
}
.has-feedback-left .form-control.input-lg,
.has-feedback-left.form-group-lg .form-control {
  padding-left: 46px;
}
.has-feedback-left .form-control-feedback {
  left: 0;
}
.form-control-feedback {
  line-height: 34px !important;
}
.input-sm + .form-control-feedback,
.form-horizontal .form-group-sm .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
}
.input-lg + .form-control-feedback,
.form-horizontal .form-group-lg .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px !important;
}
.has-feedback label.sr-only ~ .form-control-feedback,
.has-feedback label.sr-only ~ div .form-control-feedback {
  top: 0;
}
.form-control-clear {
  pointer-events: auto;
  &:hover {
    color: #777;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .form-inline .inline-feedback {
    position: relative;
    display: inline-block;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .has-feedback-left .form-control-feedback {
  left: 15px;
}

.aws_labels {
  padding-left: 7px;
}

/* end has-feedback styles */

/*________    _______    _________   _________ __          _____  _____
  \______ \   \      \  /   _____/  /   _____//  |_ __ ___/ ____\/ ____\
   |    |  \  /   |   \ \_____  \   \_____  \\   __\  |  \   __\\   __\
   |    `   \/    |    \/        \  /        \|  | |  |  /|  |   |  |
  /_______  /\____|__  /_______  / /_______  /|__| |____/ |__|   |__|
          \/         \/        \/          \/

  DNS Files:                                  Q1 2016 - njw

  webadmin\app.coffee                       ~ Line 500
  webadmin\public\stylesheets\sb-admin.css  ~ Line 250 (this file)
  shared\dns.coffee                         ~ Line 1
  webadmin\views\index.jade                 ~ Line 775
  webadmin\public\javascripts\index.coffee  ~ Line 950

*/
#edit-dns-link,
#client-tests-link,
#global-tests-link {
  color: #337ab7;
  text-decoration: none;
  margin-left: 17px;
  cursor: pointer;
  margin-right:20px;
}

#edit-dns-link:hover,
#client-tests-link:hover,
#global-tests-link:hover {
  text-decoration: underline;
}

#dns-record-template {
  display: none;
}

#edit-dns-div,
#client-tests-div,
#global-tests-div {
  display: none;
  z-index: 3;
  width: 800px;
  height: 660px;
  position: absolute;
  border: 1px solid #000;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 3px;
  padding: 20px 0 0 20px;
}

#close-dns-button,
#close-client-tests-button,
#close-global-tests-button,
#start-client-tests-button,
#start-global-tests-button {
  cursor: pointer;
  color: #fff;
  background-color: #faa519;
  padding: 1px 5px;
  border-radius: 3px;
  line-height: 1.5;
  font-size: 12px;
  width: 115px;
  text-align: center;
}

#close-dns-button:hover,
#close-client-tests-button:hover,
#close-global-tests-button:hover,
#start-global-tests-button:hover,
#start-global-tests-button:hover {
  background-color: #F9B23E;
}

.dns-record-checkbox {
  margin: 4px 0 0 18px !important;
}

.dns-record-select {
  margin-left: 5px;
  width: 100px;
}

.dns-record-input {
  font-size: 12px;
  margin-left: 5px;
}

.dns-name {
  width: 150px;
}

.dns-domain {
  width: 230px
}

.dns-value-div {
  padding: 5px;
  margin-top: 10px;
  float: left;
}

.dns-value-span {
  font-weight: bold;
}

.dns-value {
  width: 341px !important;
  margin-left: 0;
}

.dns-record-table {
  border-spacing: 1px;
  border-collapse: separate;
  width: 100%;
}

.dns-update,
.dns-delete,
.dns-verify,
#dns-refresh-aq,
#dns-update-aq,
#dns-update-settings,
.dns-verify-all-btn,
.dns-email-btn,
.dns-clear-btn,
#dns-refresh-settings {
  margin-left: 7px;
  color: #222;
  font-weight: bold;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7ddb4+1,f7c77b+40,f9b23e+100 */
  background: rgb(247,221,180); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(247,221,180,1) 1%, rgba(247,199,123,1) 40%, rgba(249,178,62,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(247,221,180,1) 1%,rgba(247,199,123,1) 40%,rgba(249,178,62,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(247,221,180,1) 1%,rgba(247,199,123,1) 40%,rgba(249,178,62,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ddb4', endColorstr='#f9b23e',GradientType=0 ); /* IE6-9 */
}

.dns-update:hover, 
.dns-delete:hover,
.dns-verify:hover,
#dns-refresh-aq:hover,
#dns-update-aq:hover,
#dns-update-settings:hover,
.dns-verify-all-btn:hover,
.dns-email-btn:hover,
.dns-clear-btn:hover,
#dns-refresh-settings:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4e2c6+0,f4ce95+41,f7bf65+100 */
  background: rgb(244,226,198); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(244,226,198,1) 0%, rgba(244,206,149,1) 41%, rgba(247,191,101,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(244,226,198,1) 0%,rgba(244,206,149,1) 41%,rgba(247,191,101,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(244,226,198,1) 0%,rgba(244,206,149,1) 41%,rgba(247,191,101,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e2c6', endColorstr='#f7bf65',GradientType=0 ); /* IE6-9 */
  color: #222 !important;
}

#dns-update-0 {
  float: right;
}

#dns-message-div,
#client-tests-message-div,
#global-tests-message-div {
  display: none;
  font-weight: bold;
  background-color: #666;
  border: 1px solid #333;
  color: yellow;
  margin: -28px 0 0 245px;
  padding: 5px 20px;
  border-radius: 5px;
  width: 400px;
  position: absolute;
}

.dns-container {
  float: left;
  border: 1px solid #bbb;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 8px;
  width: 760px;
  padding-left: 40px;
  background-color: #fff;
}

#dns-modal-body,
#dns-client-modal-body,
#dns-global-modal-body {
  width: 885px;
  height: 815px;
  overflow-y: scroll;
  background-color: #fff;
}

.dns-id {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 1;
  width: 45px;
  background-color: #ddd;
}

.dns-label {
  margin: 0 0 10px 8px;
}

.dns-checkbox-td {
  text-align: center;
  padding-right: 17px;
}

.dns-record-buttons-div {
  float: left;
  margin: 28px 0 0 17px;
  width: 230px;
}

.dns-type-td {
  width:125px;
}

.dns-modal {
}

.dns-stats {
  margin-left: 35px;
}

.dns-stat-div {
  float:left;
}

.dns-global-label,
.dns-client-label {
  float:left;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #bbb;
}

#dns-edit-globals,
#dns-edit-clients {
  float:left;
  padding: 2px 20px;
  font-weight: bold;
  font-size: 20px;
}

.dns-global-color {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8da3b5+0,5389b5+46,337ab7+100 */
  background: rgb(141,163,181); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(141,163,181,1) 0%, rgba(83,137,181,1) 46%, rgba(51,122,183,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(141,163,181,1) 0%,rgba(83,137,181,1) 46%,rgba(51,122,183,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(141,163,181,1) 0%,rgba(83,137,181,1) 46%,rgba(51,122,183,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8da3b5', endColorstr='#337ab7',GradientType=0 ); /* IE6-9 */
}

.dns-client-color {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88a085+1,60a056+46,51a146+100 */
  background: rgb(136,160,133); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(136,160,133,1) 1%, rgba(96,160,86,1) 46%, rgba(81,161,70,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(136,160,133,1) 1%,rgba(96,160,86,1) 46%,rgba(81,161,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(136,160,133,1) 1%,rgba(96,160,86,1) 46%,rgba(81,161,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88a085', endColorstr='#51a146',GradientType=0 ); /* IE6-9 */
}

.dns-red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef9b8f+0,ef7d6e+41,f1614c+100 */
  background: rgb(239,155,143); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(239,155,143,1) 0%, rgba(239,125,110,1) 41%, rgba(241,97,76,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(239,155,143,1) 0%,rgba(239,125,110,1) 41%,rgba(241,97,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(239,155,143,1) 0%,rgba(239,125,110,1) 41%,rgba(241,97,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9b8f', endColorstr='#f1614c',GradientType=0 ); /* IE6-9 */
}

.dns-edit-header,
.dns-edit-footer {
  background-color: lightgray;  
}
/*
.dns-header {
  float: left;
  width: 100%;
  margin-top: 1px;
}*/
.dns-header-text {
  float: left;
}

.dns-column-box {
  float: left;
  width: 785px;
  margin-right: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f7f7f+0,565656+40,333333+99 */
  background: rgb(127,127,127); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,127,127,1) 0%, rgba(86,86,86,1) 40%, rgba(51,51,51,1) 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 0%,rgba(86,86,86,1) 40%,rgba(51,51,51,1) 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(127,127,127,1) 0%,rgba(86,86,86,1) 40%,rgba(51,51,51,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

.dns-verify-header {
  float: left;
  margin-left: 657px;
}

.dns-2-columns {
  float: left;
  width: 100%;
}

.dns-left-column {
  float: left;
  width: 810px;
  /* margin-right: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px; */
}

.dns-verify-help-text {
  float: left;
  margin: 15px 0;
}

.dns-right-column {
  float: left;
  width: 375px;
}

.dns-right-column-box {
  float: left;
  width: 405px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  height: 420px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f7f7f+0,565656+40,333333+99 */
  background: rgb(127,127,127); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,127,127,1) 0%, rgba(86,86,86,1) 40%, rgba(51,51,51,1) 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 0%,rgba(86,86,86,1) 40%,rgba(51,51,51,1) 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(127,127,127,1) 0%,rgba(86,86,86,1) 40%,rgba(51,51,51,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

.dns-email-btn {
  float: right;
  margin-right: 4px;
}

.dns-verify-scrollable,
.dns-message-scrollable {
  overflow-y: scroll;
  background-color: #000;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px;
  font-family: 'Courier New';
}

.dns-verify-scrollable {
  height: 340px;
}

.dns-message-scrollable {
  height: 380px;
}

.dns-verify-div {
}

.dns-verify-footer {
  padding: 10px 0;
  float: left;
  width: 100%;
}

.dns-message-text {
}

#dns-client-select {
  font-weight:bold;
  width: 250px;
  float: left;
  margin-left: -3px;
  border-radius: 0 4px 4px 0;
}

.dns-client-span,
.dns-status-span,
.dns-cron-span {
  padding-top: 9px;
  font-weight: bold;
  width: 108px;
  float: left;
  height: 34px;
}

.dns-client-select-div {
  float: left;
}

#dns-records-div {
  float: left;
}

.dns-main-body {
  float: left;
  min-width: 1092px;
}

.actionqueue-div {
  float: left;
}

#dns-aq-status-input {
  width: 150px;
  margin: 0 20px 0 0;
}

#dns-aq-cron-input {
  width: 100px;
  margin: 0 20px 0 0;
}

.dns-status-span {
}

.dns-cron-span {
}

.dns-status-div,
.dns-cron-div {
  float: left;
}

.dns-settings-div {
  float: left;
}

.dns-settings-box {
}

.dns-settings-box-row1 {
}

.dns-settings-box-row2 {
}

.dns-zone-div {
}

.dns-email-div {
}

.dns-secret-div {
}

.dns-zone-span,
.dns-access-span,
.dns-email-span,
.dns-secret-span {
  font-weight: bold;
}

#dns-refresh-aq {
  margin: 0 5px 0 -7px;
}

#dns-settings-zone-input {
  width: 155px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#dns-settings-access-input {
  width: 561px;
}

#dns-settings-email-input {
  width: 561px;
}

#dns-settings-secret-input {
  width: 561px;
}

.dns-input {
  margin: 0;
}

.dns-settings-container {
  margin: 20px 0;
}

.dns-settings-input-div {
  width: 666px;
}

.dns-settings-span {
  width: 105px;
  font-weight: bold;
}

.actionqueue-div {
}

.dns-info-text {
  font-weight:bold;
  color: #444;
}

#dns-update-settings {
  float: right;
}

#dns-refresh-settings {
  float: right;
}

.dns-header-box {
  float: left;
  width: 100%;
}

.dns-helper-text {
  float: right;
  margin: 25px 94px 0;
  font-size: 16px;
  color: #999;
}

#dns-client-helper-text {
  font-weight: bold;
}

.dns-verify-all-btn {
  margin-left: 225px;
}

.dns-clear-btn {
  float: right;
  margin-right: 5px;
}

.green-text {
  color: #00ff00;
}

.yellow-text {
  color: #ffff00;
}

.red-text {
 color: #ff0000;
}

.dns-left-column-title {
  float: left;
  color: #fff;
}

@media screen and (max-width:1875px) {
  .dns-right-column {
    margin-top: 0;
  }
}
