/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.checks input, .checks i.truthy { display: none; }
.checks.checked i.truthy { display: inline; }
.checks.checked i.falsy { display: none; }

.form-inline .form-group + .form-group {
  margin-left: 5px;
}

.spinner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 6px solid rgba(0,174,239,.15);
  border-right: 6px solid rgba(0,174,239,.15);
  border-bottom: 6px solid rgba(0,174,239,.15);
  border-top: 6px solid rgba(0,174,239,.8);
  border-radius: 100%;
}

.spinner-small {
  height: 20px;
  width: 20px;
  border-width: 2px;
}

.spinner-center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

.spinner-center.spinner-small {
  margin-top: -10px;
  margin-left: -10px;
}

.spinner-fullscreen {
  position: fixed;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.fullScreen .fullScreen-editor {
  height: auto !important;
  width: auto !important;
  border: 0;
  margin: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000
}

.fullScreen {
  overflow: hidden
}

.row.xs-gutter [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:5px;
  padding-left:5px;
}
.row.xs-gutter [class*='col-']:first-child {
  padding-right:5px;
}
.row.xs-gutter [class*='col-']:last-child {
  padding-left:5px;
}

/* only for column content visible */
.col-lg-1>div {background-color:#ddd;}

table tr .btn-toolbar { opacity: 0; }
table tr:hover .btn-toolbar { opacity: 1; }
tbody.events tr.hover { background-color: #eee; }
.form-horizontal table tr td .radio,
.form-horizontal table tr td .checkbox { padding-top: 0 }

tr.loading td {
  height: 180px;
  position: relative;
}
