doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title SoftVu (#{env}): Superadmin

    base(href='/superadmin/')
    link(rel='shortcut icon', href='/favicon.ico')

    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-daterangepicker/daterangepicker.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
    link(rel='stylesheet', href='stylesheets/sb-admin.css')
    link(rel='stylesheet', href='stylesheets/style.css')

    block head
  body
    block container

    script(src='../bower_components/main.js')
    script(src='../bower_components/sockjs/sockjs.min.js')
    script(src='../bower_components/ace.min.js')

    block scripts
