extends layout

block content
  .container-fluid
    .row
      .col-xs-9(ng-view)
      #services.col-xs-3.ng-cloak(ng-controller='Services')
        h3 Services
        ul.list-group
          li.list-group-item(ng-class='{"list-group-item-danger": outdated(service)}', ng-repeat='service in services')
            div
              span.pull-right(am-time-ago='polls.{{service.name}}.at') Offline?
              b {{service.name}}
            div
              a.pull-right(href, ng-if='outdated(service)', ng-click='restart(service)') Restart?
              span(ng-if='!service.restarting')
                a(href, ng-if='!service.running', ng-click='start(service)') Start
                a(href, ng-if='service.running', ng-click='stop(service)') Stop
              span(ng-if='service.restarting') Restarting...

        h4 Pipeline Trend #[small oldest to newest]
        ul.list-group
          li.list-group-item(ng-repeat='execution in polls.pipeline.metrics.executions')
            ul.list-inline
              li {{execution.duration|number:4}}
              li: small ({{execution.trend|number:4}})
              li: small(am-time-ago='execution.at')

block scripts
  script(src='javascripts/index.js')

  script(id='dashboard.html', type='text/ng-template')
    table.table
      thead
        tr
          th Time
          th Type
          th Client
      tbody.events
        tr(ng-class='{"evt-ref-{{::event.lead || event.email}}": event.lead || event.email}' data-ref='{{::event.lead || event.email}}' ng-repeat='event in events | orderBy:"-at" track by $id(event)' ng-click='show(event)')
          td(am-time-ago='event.at')
          td
            | {{::event.type}}
            small.pull-right(ng-if='event.lead || event.email') #[em &nbsp;{{::event.lead || event.email}}]
          td
            span(uib-tooltip='{{::clients[event.client].name}}') {{::clients[event.client].short}}

  script(id='jobs.html', type='text/ng-template')
    i.fa.fa-2x.fa-spin.fa-spinner(ng-show='$reloading' style='position: absolute; top: 0; left: -7px')
    table.table
      thead
        tr
          th Time
          th Type
          th Client
          th Lead
          th &nbsp;
      tbody
        tr(ng-repeat='job in jobs' ng-click='show(job)')
          td(ng-if='job.data.triggered') Triggered
          td(ng-if='!job.data.triggered') {{job.at | amCalendar}}
          td {{job.action}}
          td {{clients[job.data.client].short}}
          td {{job.data.email}}
          td(ng-click='trigger(job); $event.stopPropagation()')
            a(href ng-if='!job.data.triggered') Trigger
        tr(ng-if='jobs.length >= 50')
          td(colspan='6') List is limited to next 50 jobs, there are more configured.
    a(go-back ng-if='client') < Back to Clients

  script(id='optouts.html' type='text/ng-template')
    form(name='forms.search' ng-submit='search()')
      h3 Search
      p.help-block.
        Use this function to look up if an address has been opted out.

      fieldset.form-group.has-feedback(ng-disabled='forms.search.$submitting')
        label.sr-only.control-label Email address search
        .input-group
          input.form-control(name='email' type='email' ng-model='search.email' placeholder='bill@example.com')
          .input-group-btn
            input.btn.btn-primary(type='submit' value='Search' ng-disabled='forms.search.$submitting')

        i.form-control-feedback.fa.fa-refresh.fa-spin(style='right: 71px' ng-if='forms.search.$submitting')

    .details(ng-if='details')
      h3 {{details.id}}

      p
        input(type='checkbox' bs-switch ng-model='details.global' switch-label='Global?' ng-change='set_global()')
        .help-block.
          Click on the switch above to change the global optout flag. This operation occurs immediately.

      .row
        .col-xs-5
          h4 Client Opt-outs

          .row.no-gutters(style='margin-bottom: 10px')
            .col-xs-9
              select.form-control.input-sm(ng-model='client')
                option(value='') Choose client...
                option(ng-repeat='client in clients_array|orderBy:"name"' value='{{client.id}}') {{client.name}} ({{client.short}})
            .col-xs-3
              button.btn.btn-sm.btn-default.pull-right(ng-click='optout(client)') Opt-out

          table.table
            tr(ng-if='!details.clients.length')
              td No opt-out clients found.
            tr(ng-repeat='client in details.clients')
              td {{clients[client].short}}
              td: a(href ng-click='optin(client)') Opt-in?

        .col-xs-7
          h4 History
            small &nbsp;Last 10
          table.table
            tr(ng-if='!details.history.length')
              td No opt-out history found.
            tr(ng-repeat='history in details.history|limitTo:10')
              td
                i.fa.fa-search(uib-popover-template='"optouts/history-pre.html"' popover-trigger='mouseenter' popover-class='json-popover')
                | &nbsp;
                span(am-time-ago='history.at' uib-tooltip='{{history.at | amDateFormat:"YYYY/MM/DD H:mm a"}}' tooltip-placement='bottom' tooltip-append-to-body='true')
              td {{history.type}}
              td {{history.from}}
              td {{clients[history.client].short}}

  script(id='optouts/history-pre.html' type='text/ng-template')
    p {{history|json}}

  script(id='client.html', type='text/ng-template')

    .modal.fade(id='dns-client-modal' tabindex='-1' role='dialog')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title.dns-modal Run Client Tests
            #client-tests-message-div
          .modal-body(id='dns-client-modal-body')
            button.btn.btn-primary(id='dns-client-start-button' type='button') Start Client Tests
          .modal-footer
            button.btn.btn-primary(type='button' data-dismiss='modal') Close

    .modal.fade(id='dns-global-modal' tabindex='-1' role='dialog')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4.modal-title.dns-modal Run Global Tests
            #global-tests-message-div
          .modal-body(id='dns-global-modal-body')
            button.btn.btn-primary(id='dns-global-start-button' type='button') Start Global Tests
          .modal-footer
            button.btn.btn-primary(type='button' data-dismiss='modal') Close

    h3
      a(href title='Goto strategy' set-client='{{client.id}}') {{client.id}}
      small &nbsp;
        i.fa.fa-clipboard.copyable(data-clipboard-text='{{client.id}}' title='Copied!')
      button.btn.btn-primary.pull-right(ng-click='import(client.id, client.short)') Import
    form(name='form')
      input.form-control(type='hidden', name='id', ng-model='client.id')
      input.form-control(type='hidden', name='version', ng-model='client.version')

      .row
        .col-xs-7
          .form-group
            label Client Name
            input.form-control.input-lg(type='text', name='name', ng-model='client.name', placeholder='Name')
          .form-group
            label Timezone
            select.form-control(ng-model='client.timezone')
              option(gmtAdjustment='GMT-08:00' useDaylightTime='1' value='America/Los_Angeles') (GMT-08:00) Pacific Time (US & Canada)
              option(gmtAdjustment='GMT-07:00' useDaylightTime='0' value='America/Phoenix') (GMT-07:00) Arizona
              option(gmtAdjustment='GMT-07:00' useDaylightTime='1' value='America/Denver') (GMT-07:00) Mountain Time (US & Canada)
              option(gmtAdjustment='GMT-06:00' useDaylightTime='1' value='America/Chicago') (GMT-06:00) Central Time (US & Canada)
              option(gmtAdjustment='GMT-05:00' useDaylightTime='1' value='America/New_York') (GMT-05:00) Eastern Time (US & Canada)
          .form-group
            label Privacy URL
            input.form-control(type='text', name='privacy_url', ng-model='client.privacy_url', placeholder='privacy url')

        .col-xs-5
          .form-group
            label Short Name
            input.form-control(type='text', name='short', ng-model='client.short', placeholder='Short Name')
            .row
              .col-xs-6
                .checkbox
                  label
                    input(type='checkbox', ng-model='client.archive')
                    | &nbsp;Archive?
          .form-group
            label Email Mode
            .row
              .col-xs-12
                .btn-group
                  label.btn.btn-default.btn-sm(ng-model='client.email_mode' uib-btn-radio="'Off'") Off
                  label.btn.btn-default.btn-sm(ng-if='client.email_mode != "Internal"' ng-model='client.email_mode' uib-btn-radio="'Internal'") Internal
                  label.btn.btn-warning.btn-sm(ng-if='client.email_mode == "Internal"' ng-model='client.email_mode' uib-btn-radio="'Internal'") Internal
                  label.btn.btn-default.btn-sm(ng-if='client.email_mode != "Debug"' ng-model='client.email_mode' uib-btn-radio="'Debug'") Debug
                  label.btn.btn-warning.btn-sm(ng-if='client.email_mode == "Debug"' ng-model='client.email_mode' uib-btn-radio="'Debug'") Debug
                  label.btn.btn-default.btn-sm(ng-if='client.email_mode != "Live"' ng-model='client.email_mode' uib-btn-radio="'Live'") Live
                  label.btn.btn-success.btn-sm(ng-if='client.email_mode == "Live"' ng-model='client.email_mode' uib-btn-radio="'Live'") Live
          .form-group
            label Manager Email
            input.form-control(type='text', name='manager', ng-model='client.manager', placeholder='Manager Email')

      .row
        .col-xs-6
          h3 AWS S3 Bucket
          
          div
            div.text-center(ng-if='!aws_buckets')
              i.fa.fa-2x.fa-spinner.fa-spin
            div(ng-if='aws_buckets')
              .form-horizontal
                .form-group
                  label.control-label.col-xs-3 Public Bucket
                  .col-xs-9
                    select.form-control(ng-model='client.credentials["aws"].bucket' ng-options='bucket for bucket in aws_buckets' placeholder='Select bucket')
                .form-group
                  label.control-label.col-xs-3 Private Folder
                  .col-xs-9
                    button.btn.btn-sm.btn-warning(ng-click='create_private_folder()' ng-if='!client.credentials["aws"].private' ng-disabled='creating_aws') Create private folder
                    span(ng-if='creating_aws')
                      | &nbsp;
                      i.fa.fa-spinner.fa-spin
                    input.form-control(ng-if='client.credentials["aws"].private && !creating_aws' type='text', name='private_folder', ng-model='private_folder', placeholder='Private Folder' ng-readonly='true')
              .form-horizontal(ng-if='client.credentials["aws"].key && client.credentials["aws"].secret')
                .form-group
                  label.control-label.col-xs-3 Key
                  .col-xs-9
                    input.form-control(type='text', name='key', ng-model='client.credentials["aws"].key', placeholder='Key' ng-readonly='true')
                .form-group
                  label.control-label.col-xs-3 Secret
                  .col-xs-9
                    input.form-control(type='text', name='secret', ng-model='client.credentials["aws"].secret', placeholder='Secret' ng-readonly='true')
              .form-group
                button.btn.btn-sm.btn-danger.pull-right(ng-click='clear_selection()') Remove
              .help-block

                div(ng-show="creatingBucket")
                  span(style="float:left" class="spinner spinner-small no-animate")
                  h3.small.right(style="float:left; margin-top:3px; margin-left:5px; color:#999") Creating your AWS Bucket
              
        .col-xs-6
          h3 Integration
          .form-group
            select.form-control(ng-model='client.integrations._current')
              option(value='') None
              option(value='velocify') Velocify - LeadManager
              option(value='marksman') Mortech - Marksman
              option(value='salesforce') Salesforce
              option(value='') Hubspot
              option(value='') Act-On
              option(value='') Infusionsoft
              option(value='') Inside Sales
              option(value='') LeadMailBox
              option(value='') Encompass
              option(value='') Mpower
              option(value='') Yardi
              option(value='') Sherpa
              option(value='') ClickPoint
              option(value='') You’ve Got Leads
          .row(ng-if='client.integrations._current == "velocify"')
            .col-xs-6
              .form-group
                label Username
                input.form-control(type='text', name='username', ng-model='client.integrations.velocify.username', placeholder='Username')
            .col-xs-6
              .form-group
                label Password
                input.form-control(type='password', name='password', ng-model='client.integrations.velocify.password', placeholder='Password')
          .row(ng-if='client.integrations._current == "salesforce"')
            .col-xs-6
              .form-group
                label Username
                input.form-control(type='text', name='username', ng-model='client.integrations.salesforce.username', placeholder='Username')
            .col-xs-6
              .form-group
                label Password
                input.form-control(type='password', name='password', ng-model='client.integrations.salesforce.password', placeholder='Password')
          .form-group(ng-if='client.integrations._current == "marksman"')
            label Client ID
            input.form-control(type='text', name='clientId', ng-model='client.integrations.marksman.clientId', placeholder='ClientId')

          h3 Webhooks
          .row
            .col-xs-3
              .checkbox
                label
                  input(type='checkbox' ng-model='client.webhooks.enabled')
                  | &nbsp;Enabled?
            .col-xs-9
              .checkbox(ng-if='client.webhooks.enabled && client.integrations._current')
                label
                  input(type='checkbox' ng-model='client.webhooks.use_integration')
                  | &nbsp;Use Integration Partner for webhooks

          .input-group
            span.input-group-addon www
            input.form-control(ng-if='!client.webhooks.use_integration' type='text' name='url' ng-model='client.webhooks.url' placeholder='Url')
            input.form-control(ng-if='client.webhooks.use_integration' type='text' placeholder='Url' value='Integration' disabled)

          .row.form-group(ng-if='client.webhooks.enabled')
            .col-xs-3
              .checkbox
                label
                  input(type='checkbox' ng-model='client.webhooks.options["email.queued"].enabled')
                  | &nbsp;Sends
            .col-xs-3
              .checkbox
                label
                  input(type='checkbox' ng-model='client.webhooks.options["email.opened"].enabled')
                  | &nbsp;Opens
            .col-xs-3
              .checkbox
                label
                  input(type='checkbox' ng-model='client.webhooks.options["email.clicked"].enabled')
                  | &nbsp;ClickVus
            .col-xs-3
              .checkbox
                label
                  input(type='checkbox' ng-model='client.webhooks.options.optout.enabled')
                  | &nbsp;Optouts
      .row
        .col-xs-8
          h3 ApiKeys
          table.table
            thead
              tr
                th Key
                th Issued
                th Revoked
            tbody
              tr(ng-repeat='key in apikeys')
                td {{key.key}}
                td {{key.issued}}
                td(ng-if='key.revoked') {{key.revoked}}
                td(ng-if='!key.revoked')
                  button.btn.btn-xs.btn-danger(bs-confirm-click='Are you sure you want to revoke this Api Key?' bs-confirm-click-permanent='true' ng-click='revoke(key)') Revoke?
        .col-xs-4
          h3 CNAMES
          textarea.form-control(rows='4' ng-model='client.cnames' ng-list-newline)
      .row
        .col-xs-6
          h3 DKIM
          .checkbox
            label
              input(type='checkbox' ng-model='client.dkim.enabled')
              | &nbsp;Enable DKIM?

          div(ng-if='client.dkim.enabled')
            table.table
              thead
                tr
                  th(style='width: 76px') Enabled?
                  th Selector
                  th &nbsp;
              tbody
                tr(ng-repeat-start='(domain, keys) in client.dkim.keys|groupBy:"domain"')
                  td &nbsp;
                  td(colspan='2')
                    b {{domain}}
                tr(ng-repeat='key in keys' ng-click='viewDKIM(key)')
                  td.text-center(ng-click='$event.stopPropagation()')
                    label
                      input(type='radio' name='domain-{{domain}}' ng-model='client.dkim.domain_selector[key.domain]' ng-value='key.selector')
                  td {{key.selector}}
                  td
                    button.btn.btn-xs.btn-danger(ng-click='removeDKIM(key)') Remove
                tr(ng-repeat-end ng-if='false')

            .form-group.btn-toolbar
              button.btn.btn-sm.btn-default(ng-click='addDKIM()') Add Key
              button.btn.btn-sm.btn-default(ng-click='generateDKIM()') Generate Key
        .col-xs-6
          h3 Email
          fieldset(ng-disabled='checking_dns')
            .checkbox
              label
                input(type='checkbox' ng-model='client.use_svemails')
                | &nbsp;Enable svemails?

            fieldset(ng-if='client.use_svemails')
              .row
                .col-xs-5
                  input.form-control(type='text' placeholder='Prefix...' ng-model='client.svemails.prefix')
                .col-xs-7
                  p.text-muted The prefix will be in front of 'svemails', #[br] e.g. #[b info@{{client.svemails.prefix || 'prefix'}}.svemails.com]

              .form-inline
                button.btn.btn-sm.btn-default(ng-click='setupDNS()')
                  | Setup/Check DNS
                  span(ng-if='checking_dns')
                    | &nbsp;
                    i.fa.fa-spinner.fa-spin
                span(ng-if='client.svemails.dnscheck.valid && client.svemails.dnscheck.prefix === client.svemails.prefix')
                  | &nbsp;
                  i.fa.fa-check.text-success
                  | &nbsp;{{client.svemails.dnscheck.checked | date:'medium'}}
                span(ng-if='!client.svemails.dnscheck.valid || client.svemails.dnscheck.prefix !== client.svemails.prefix')
                  | &nbsp;
                  i.fa.fa-times.text-danger
                  | &nbsp;DNS is not setup.

              p.help-block.
                #[b Note:] You need to make sure there is a DKIM key setup for #[i {{client.svemails.prefix}}.svemails.com].
                This will be automated in the future...

      .form-group
        bs-save-button(on-save='save()')
        | &nbsp;&nbsp;
        a(go-back) < Back to list

  script(id='client/addDKIM.html' type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title(ng-if='!ro') Add DKIM Key
      h4.modal-title(ng-if='ro') View DKIM Key
    fieldset.modal-body(ng-disabled='ro')
      .form-group
        label Domain
        input.form-control(type='text' name='domain' ng-model='key.domain' placeholder='Domain')
      .form-group
        label Selector
        input.form-control(type='text' name='selector' ng-model='key.selector' placeholder='Selector')
      .form-group
        label Private Key
        textarea.form-control(name='privkey' ng-model='key.privateKey' rows='16' style='font-family: monospace; white-space: pre; word-wrap: break-word; overflow-x: auto;')
      .form-group
        label Public Key
        textarea.form-control(name='pubkey' ng-model='key.publicKey' rows='7' wrap='hard' style='font-family: monospace; white-space: pre; word-wrap: break-word; overflow-x: auto;')
    .modal-footer(ng-if='!ro')
      button.btn.btn-primary(ng-click='add()') Add Key

  script(id='client/generateDKIM.html' type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title(ng-if='!ro') Generate DKIM Key
    fieldset.modal-body
      .form-group
        label Domain
        input.form-control(type='text' name='domain' ng-model='key.domain' placeholder='Domain')
      .form-group
        label Selector
        input.form-control(type='text' name='selector' ng-model='key.selector' placeholder='Selector')
    .modal-footer
      button.btn.btn-primary(ng-click='generate()') Generate Key

  script(id='clients.html', type='text/ng-template')
    table.table
      thead
        tr
          th
            | Short
            br
            input.form-control.input-sm(type='text', placeholder='Search...', ng-model='search.short')
          th
            | Name
            br
            input.form-control.input-sm(type='text', placeholder='Search...', ng-model='search.name')
          th
            | Integration?
            br
            select.form-control.input-sm(ng-model='search.integration')
              option(value='') Select...
              option(value='marksman') marksman
              option(value='velocify') velocify
          th.text-right
            .checkbox
              label
                input(type='checkbox', ng-model='show.archived', ng-change='toggleArchived()')
                | Show Archived?
      tbody
        tr(ng-repeat='meta in ordered | filter:showFilter | filter:search | orderBy:"short"', ng-init='id = meta.id; client = clients[meta.id];')
          td
            span(ng-if='client.debug')
              span.glyphicon.glyphicon-exclamation-sign.text-warning
              span &nbsp;
            span(ng-if='client.archive')
              span.fa.fa-archive
              span &nbsp;
            span(ng-if='client.use_svemails')
              i.fa.fa-pencil-square-o(title='Using svemails/dkim')
              span &nbsp;
            span
              | {{client.short}}
              br
              small.text-muted.copyable(data-clipboard-text='{{id}}' title='Copied!')
                em {{id}}&nbsp;

          td: a(href title='Goto strategy' set-client='{{id}}') {{client.name}}
          td {{client.integrations._current}}
          td.text-right
            .btn-toolbar
              if env !== 'production'
                .btn-group.pull-right(uib-dropdown)
                  button.btn.btn-sm.btn-danger(uib-dropdown-toggle)
                    | Cleanup&nbsp;
                    span.caret
                  ul(uib-dropdown-menu)
                    li: a(href, ng-click='deleteEvents(id)') Delete Events?
                    li: a(href, ng-click='deleteMessages(id)') Delete Messages?

              .btn-group.pull-right(uib-dropdown)
                a.btn.btn-sm.btn-primary(href='clients/{{id}}') Edit
                button.btn.btn-sm.btn-primary(uib-dropdown-toggle)
                  span.caret
                ul(uib-dropdown-menu)
                  li: a(href, ng-click='showAttributes(id)') Attributes
                  if settings['allow cloning']
                    li: a(href, ng-click='export(id, client.short)') Export
                  li: a(href='jobs/{{id}}') Jobs
                  li.divider(role='separator')
                  li(ng-if='!client.archive'): a(href, ng-click='archiveClient(id)') Archive
                  li(ng-if='client.archive'): a(href, ng-click='deleteClient(id)') Delete?

    .form-group.clearfix
      button.btn.btn-primary(ng-click='create()') Create Client

  script(id='client-create.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title New Client
    .modal-body
      form.form-horizontal(name='forms.client')
        .form-group
          .col-xs-12
            input.form-control.input-lg(type='text', name='name', ng-model='client.name', placeholder='Name *', ng-class="{'not-valid': formErrors.name && !$creating && !forms.client.$dirty}")
        .form-group
          .col-xs-12
            input.form-control(type='text', name='short', ng-model='client.short', placeholder='Short Name')
        .form-group
          .col-xs-12
            select.form-control.input-sm(ng-model='client.template')
              option(value='') Create client from industry template...
              option(value='mortgage') Mortgage
              option(value='6e2a0c50257c11e59604e772aaac09c0') Solar
              option(value='edu') Education
              option(value='debt_consolidation') Debt Consolidation
              option(value='debt_settlement') Debt Settlement
              option(value='senior_living') Senior Living
              option(value='insurance') Insurance
              option(value='multi-family') Multi-family Living
        .form-group
          .col-xs-12
            input.form-control(type='text', name='manager', ng-model='client.manager', placeholder='Manager Email', ng-class="{'not-valid': formErrors.manager && !$creating && !forms.client.$dirty}")
        .checkbox
          label
            input(type='checkbox', ng-model='client.debug')
            | &nbsp;Don't Send Emails
      | * Required fields
    fieldset.modal-footer(ng-disabled='$creating')
      i.fa.fa-spinner.fa-spin(ng-if='$creating')
      | &nbsp;
      span(ng-if='$creating') &nbsp;Creating&nbsp;
      i.fa.fa-exclamation-triangle.text-danger(ng-if='errorMessage && !$creating && !forms.client.$dirty') &nbsp;{{errorMessage}}&nbsp;
      i.fa.fa-exclamation-triangle.text-danger(ng-if='formErrors.name && !$creating && !forms.client.$dirty') &nbsp;Please enter a name&nbsp;
      i.fa.fa-exclamation-triangle.text-danger(ng-if='formErrors.manager && !$creating && !forms.client.$dirty') &nbsp;Invalid email&nbsp;
      i.fa.fa-check.text-success(ng-if='$created && !$creating && !forms.client.$dirty') &nbsp;Created!&nbsp;
      button.btn.btn-primary(ng-click='create()', ng-disabled='forms.client.$pristine') Create
      button.btn.btn-default(ng-click='close()') Close

  script(id='client-attributes.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Attributes
    .modal-body
      .row(ng-repeat='attribute in attributes')
        .col-xs-3
          b {{attribute.name}}
        .col-xs-9
          ul.list-unstyled
            li(ng-repeat='value in attribute.values')
              .radio
                label
                  input(type='radio', name='attr-{{attribute.id}}', ng-value='value.id', ng-model='path[attribute.id]')
                  | {{value.name}}
      pre {{make()}}
    .modal-footer
      button.btn.btn-default(ng-click='$dismiss()') Close

  script(id='users.html', type='text/ng-template')
    table.table
      thead
        tr
          th
            | Username
            br
            input.form-control.input-sm(type='text', placeholder='Search...', ng-model='filter.username')
          th
            | Name
            br
            input.form-control.input-sm(type='text', placeholder='Search...', ng-model='filter.fullname')
          th
            | Client(s)
            br
            select.form-control.input-sm(ng-model='filter.client')
              option(value='') Select...
              option(ng-value='id', ng-repeat='(id, client) in clients') {{client.short}}
          th.text-right
            .checkbox
              label
                input(type='checkbox', ng-model='search.disabled')
                | Show Disabled?
      tbody
        tr(ng-repeat='user in users | filter:searching | filter:filter')
          td
            i.fa.fa-fw.fa-ban.text-danger(ng-if='user.disabled')
            i.fa.fa-fw.fa-star.text-success(ng-if='user.isAdmin')
            | {{user.username}}
          td {{user.fullname}}
          td {{clients[user.client].short}}
          td.text-right
            .btn-toolbar
              .btn-group.pull-right(uib-dropdown ng-if='!user.disabled')
                a.btn.btn-sm.btn-primary(ng-click='edit(user)') Edit
                button.btn.btn-sm.btn-primary(uib-dropdown-toggle)
                  span.caret
                ul(uib-dropdown-menu)
                  li: a(href, ng-click='disable(user)')
                    i.fa.fa-fw.fa-ban.text-danger
                    | Disable
              a.btn.btn-sm.btn-primary(ng-click='edit(user)' ng-if='user.disabled') Edit

    .form-group
      button.btn.btn-primary(ng-click='create()') Add User

  script(id='user-edit.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title(ng-if='$isNewUser') Add User
      h4.modal-title(ng-if='!$isNewUser') Edit User
    .modal-body
      form(name='forms.user')
        .form-group
          input.form-control.input-lg(type='text', ng-model='user.username', placeholder='Username *', ng-class="{'not-valid': !$editing && formErrors.username && !forms.user.$dirty}")
        .form-group
          input.form-control(type='text', ng-model='user.firstname', placeholder='Firstname')
        .form-group
          input.form-control(type='text', ng-model='user.lastname', placeholder='Lastname')
        .form-group
          input.form-control(type='hidden', ng-model='user.hash')
          input.form-control(type='password', ng-required='$isNewUser', ng-model='user.password', placeholder='Password *', ng-class="{'not-valid': !$editing && formErrors.password && !forms.user.$dirty &&  $isNewUser}")
        .form-group
          select.form-control(ng-model='user.client')
            option(value='', ng-if='!user.client') Choose...
            option(value='{{id}}', ng-selected='user.client == id', ng-repeat='(id, client) in clients') {{client.name}} ({{client.short}})
        .row
          .col-xs-6
            .checkbox
              label
                input(type='checkbox', ng-model='user.isAdmin', value='true')
                | Admin?
          .col-xs-6.text-right
            .checkbox
              label
                input(type='checkbox', ng-model='user.disabled', value='true')
                | Disabled?
        | * Required fields
    fieldset.modal-footer(ng-disabled='$editing')
      i.fa.fa-spinner.fa-spin(ng-if='$editing')
      | &nbsp;
      span(ng-if='$editing') &nbsp;Editing&nbsp;
      i.fa.fa-exclamation-triangle.text-danger(ng-if='errorMessage && !$editing && !forms.user.$dirty') &nbsp;{{errorMessage}}&nbsp;
      i.fa.fa-exclamation-triangle.text-danger(ng-if='formErrors.username && !$editing && !forms.user.$dirty') &nbsp;Please enter a username&nbsp;
      i.fa.fa-exclamation-triangle.text-danger(ng-if='formErrors.password && !$editing && !forms.user.$dirty') &nbsp;Please enter a password&nbsp;
      i.fa.fa-check.text-success(ng-if='$saved && !$editing && !forms.user.$dirty') &nbsp;Saved!&nbsp;
      button.btn.btn-primary(ng-click='save()', ng-disabled='forms.user.$pristine')
        span(ng-if='$isNewUser') Add
        span(ng-if='!$isNewUser') Update
      button.btn.btn-default(ng-click='close()') Close

  script(id='apikeys.html', type='text/ng-template')
    table.table
      thead
        tr
          th
            | Client
            br
            input.form-control.input-sm(type='text', placeholder='Search...', ng-model='filter.client')
          th
            | API Key
            br
            input.form-control.input-sm(type='text', placeholder='Search...', ng-model='filter.apikey')
          th
            | Issued
      tbody
        tr(ng-repeat='key in keys | filter:filter')
          td: a(href='clients/{{key.id}}') {{key.client}}
          td: a(href='clients/{{key.id}}') {{key.apikey}}
          td {{key.issued | date:'medium'}}

  script(id='billing.html', type='text/ng-template')
    table.table
      thead
        tr
          td(colspan='5')
            form.form-inline.pull-right
              sv-paging-range
        tr
          th Short
          th Name
          th.text-center Uq. Senders
          th.text-center Volume
          th.text-center Notifications
      tbody
        tr(ng-repeat='client in activeClients|orderBy:"short"')
          td {{client.short}}
          td {{client.name}}
          td.text-center(colspan='3' ng-if='!client.billing')
            .spinner.spinner-small
          td.text-center(ng-if='client.billing') {{client.billing.users|number}}
          td.text-center(ng-if='client.billing') {{client.billing.sends|number}}
          td.text-center(ng-if='client.billing') {{client.billing.clicks|number}}

  script(id='templates.html', type='text/ng-template')
    form(name='forms.templates')
      h4 VuNotifications
      .form-group
        label Subject
        input.form-control(ng-model='templates.vunotification.subject')
      .form-group
        pre(ui-ace='{onLoad: aceLoaded}', ng-model='templates.vunotification.hbs', style='height: 300px; width: 100%; margin: 0; padding: 0;')

      hr
      h4 DailyVu
      .form-group
        label Subject
        input.form-control(ng-model='templates.dailyvu.subject')
      .form-group
        pre(ui-ace='{onLoad: aceLoaded}', ng-model='templates.dailyvu.hbs', style='height: 300px; width: 100%; margin: 0; padding: 0;')

      hr
      h4 Survey Complete
      .form-group
        label Subject
        input.form-control(ng-model='templates["form.response"].subject')
      .form-group
        pre(ui-ace='{onLoad: aceLoaded}', ng-model='templates["form.response"].hbs', style='height: 300px; width: 100%; margin: 0; padding: 0;')
      bs-save-button(on-save='save()')

  script(id='dns.html', type='text/ng-template')
    div(id='dns-record-template')
      .dns-container(id='dns-container-{id}')
        table.dns-record-table
          tr
            td
              label.dns-label Id
            td 
              label.dns-label Global
            td
              label.dns-label Name
            td.dns-type-td
              label.dns-label Type
            td
              label.dns-label Domain
          tr
            td
              input.dns-record-input.form-control.dns-id(value='{id}')
            td.dns-checkbox-td
              input.dns-record-checkbox(type='checkbox' id='isglobal-{id}')
            td
              input.dns-record-input.dns-name.form-control(type='input' id='dns-name-{id}' value='{name}')
            td
              select.dns-record-select.form-control(id='dns-type-{id}')
                option(value='CNAME') CNAME
                option(value='MX') MX
                option(value='TXT') TXT
            td
              input.dns-record-input.dns-domain.form-control(type='input' id='dns-domain-{id}' value='{domain}')
          tr
            td(colspan='5')
              div.input-group.dns-value-div
                span.input-group-addon.dns-value-span Value
                input.dns-record-input.dns-value.form-control.input-lg(type='input' id='dns-value-{id}' value='{value}')
              div.dns-record-buttons-div
                .dns-delete.btn.btn-primary(id='dns-delete-{id}') Delete
                .dns-verify.btn.btn-primary(id='dns-verify-{id}') Verify
                .dns-update.btn.btn-primary(id='dns-update-{id}') Update
    .dns-main-body
      .dns-2-columns
        .dns-left-column
          .dns-header-box
            h3.dns-header-text DNS Actionqueue
            h4.dns-helper-text Links to <b>dns.coffee</b> action in job table
          .dns-column-box
            .dns-container.dns-red
              .input-group.dns-status-div
                span.input-group-addon.dns-status-span Status
                input.dns-record-input.form-control(id='dns-aq-status-input')
              .input-group.dns-cron-div
                span.input-group-addon.dns-cron-span Cron
                input.dns-record-input.form-control(id='dns-aq-cron-input')
              #dns-refresh-aq.btn.btn-primary Refresh
              #dns-update-aq.btn.btn-primary Update
          h3.dns-header-text DNS Settings
          .dns-column-box
            .dns-container.dns-red
              .dns-info-text Separate multiple email addresses with a comma e.g. luke@rebels.org, darth@empire.gov, etc.
              .dns-settings-container
                .input-group.dns-settings-input-div
                  span.input-group-addon.dns-settings-span Email To
                  input.dns-input.form-control(id='dns-settings-email-input')
              .dns-settings-container
                .input-group.dns-settings-input-div
                  span.input-group-addon.dns-settings-span Zone ID
                  input.dns-input.form-control(id='dns-settings-zone-input')
                  #dns-update-settings.btn.btn-primary Update
                  #dns-refresh-settings.btn.btn-primary Refresh
          h3.dns-header-text Select Client
          .dns-column-box
            .dns-container.dns-red
              .dns-client-select-div
                .input-group-addon.dns-client-span Client
                select.form-control(id='dns-client-select')
                  option(value='default') Global &amp; Default
              .dns-verify-all-btn.btn.btn-primary Verify All
          h3.dns-header-text DNS Records 
          h4.dns-helper-text(id='dns-client-helper-text') Global &amp; Default
          .dns-column-box
            #dns-records-div 
        .dns-right-column
          h3.dns-header-text DNS Verify Results
          .dns-right-column-box
            .dns-verify-scrollable
              <!-- Verify Messages are appended inside this div -->
            .dns-verify-footer
              .dns-email-btn.btn.btn-primary Email Results
              .dns-clear-btn.btn.btn-primary Clear Results
          h3.dns-header-text DNS Messages
          .dns-right-column-box
            .dns-message-scrollable
              <!-- DNS Messages are appended inside this div -->
  
  script(id='aws.html', type='text/ng-template')
    .row
      .col-md-4
        h3 Select Bucket
        select.form-control(ng-if='aws_buckets' ng-model='aws_bucket' ng-options='bucket for bucket in aws_buckets' placeholder='Select bucket')
        h3 Select files
        div(ng-if='uploader.isHTML5 && uploader.bucket')
          .well.my-drop-zone(nv-file-over uploader='uploader')
            | Base drop zone
        | Multiple
        input(type='file' name='file' multiple aws-file-select uploader='uploader' bucket='aws_bucket')
        br
        | Single
        input(type='file' name='file' aws-file-select uploader='uploader' bucket='aws_bucket')
      .col-md-8(style='margin-bottom: 40px')
        h3 Upload queue
        p Queue length: {{ uploader.queue.length }}
        table.table
          thead
            tr
              th(width='50%') Name
              th(ng-if='uploader.isHTML5') Size
              th(ng-if='uploader.isHTML5') Progress
              th Status
              th Actions
          tbody
            tr(ng-repeat='item in uploader.queue')
              td
                input(type='text', ng-model='item.key')
              td(nowrap='', ng-if='uploader.isHTML5') {{ item.file.size/1024/1024|number:2 }} MB
              td(ng-if='uploader.isHTML5')
                .progress(style='margin-bottom: 0;')
                  .progress-bar(ng-style='{ "width": item.progress + "%" }', role='progressbar')
              td.text-center
                span(ng-if='item.isSuccess')
                  i.glyphicon.glyphicon-ok
                span(ng-if='item.isCancel')
                  i.glyphicon.glyphicon-ban-circle
                span(ng-if='item.isError')
                  i.glyphicon.glyphicon-remove
              td(nowrap='')
                button.btn.btn-success.btn-xs(ng-disabled='item.isReady || item.isUploading || item.isSuccess', ng-click='item.upload()', type='button')
                  span.glyphicon.glyphicon-upload
                  | &nbsp;Upload
                | &nbsp;
                button.btn.btn-warning.btn-xs(ng-disabled='!item.isUploading', ng-click='item.cancel()', type='button')
                  span.glyphicon.glyphicon-ban-circle
                  | &nbsp;Cancel
                | &nbsp;
                button.btn.btn-danger.btn-xs(ng-click='item.remove()', type='button')
                  span.glyphicon.glyphicon-trash
                  | &nbsp;Remove
        div
          p
            | Queue progress:
          .progress(style='')
            .progress-bar(ng-style='{ "width": uploader.progress + "%" }', role='progressbar')
          p
          button.btn.btn-success.btn-s(ng-disabled='!uploader.getNotUploadedItems().length', ng-click='uploader.uploadAll()', type='button')
            span.glyphicon.glyphicon-upload
            | &nbsp;Upload all
          | &nbsp;
          button.btn.btn-warning.btn-s(ng-disabled='!uploader.isUploading', ng-click='uploader.cancelAll()', type='button')
            span.glyphicon.glyphicon-ban-circle
            | &nbsp;Cancel all
          | &nbsp;
          button.btn.btn-danger.btn-s(ng-disabled='!uploader.queue.length', ng-click='uploader.clearQueue()', type='button')
            span.glyphicon.glyphicon-trash
            | &nbsp;Remove all

  script(id='dialogs/confirm.html', type='text/ng-template')
    .modal-header
      h4 Confirm?
    .modal-body
      p {{message}}
      p(ng-if='permanent')
        b Note:&nbsp;
        em This action cannot be undone.
    .modal-footer
      .row.xs-gutter
        .col-xs-3.col-xs-offset-6
          button.btn.btn-block.btn-default(type='button', ng-click='$dismiss()') Cancel
        .col-xs-3
          button.btn.btn-block.btn-primary(type='button', ng-click='$close()') Ok

  script(id='paging/range.html' type='text/ng-template')
    button.btn.btn-sm.btn-default
      i.fa.fa-calendar
      | &nbsp;&nbsp;{{range.from | amDateFormat:'MMMM D, YYYY'}} - {{range.to | amDateFormat:'MMMM D, YYYY'}}&nbsp;&nbsp;
      b.caret

  script(id='json/raw.html' type='text/ng-template')
    .modal-header
      button.close(type='button' ng-click='$dismiss()') &times;
      h4.modal-title Raw JSON
    .modal-body
      pre {{obj | json}}

  script(id='dismissCheck-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='dismiss()') &times;
      h4.modal-title Unsaved Changes!
    .modal-body
      | Are you sure you want to close?
      br
      br
      b Note:&nbsp;
      | All unsaved changes will be ignored.
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='dismiss()') No
      
  script(id='client-import.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='$dismiss()') &times;
      h4.modal-title Import Client
    .modal-body.form-horizontal
      .form-group
        .col-xs-12
          p Client import allows you to import an exported client's data, including attributes, templates, policies, landing pages, messages, and statuses.
          br
          .step
            h4 STEP 1: Download
            | If you have not done exported a client's data yet, go to SuperAdmin, click the Clients tab, and click Export in the Edit Dropdown next to the desired client.  This will save a JSON file containing that client's data.
            br
            br
          .step
            h4 STEP 2: Upload your file
            p Once you have the client JSON file, upload it here.  This will import all the exported client's data into this client.
            .input-group.fileinput.fileinput-new(data-provides='fileinput', ng-class='{"has-error": typeerror}')
              .form-control(data-trigger='fileinput')
                i.glyphicon.glyphicon-file.fileinput-exists
                span.fileinput-filename {{json.name}}
              span.input-group-addon.btn.btn-default.btn-file
                span.fileinput-new Select file
                span.fileinput-exists Change
                input(type='file', accept='.json', readfile='forms.upload.json', ng-model='attribute.file')
            span.text-danger(ng-if='typeerror') The file you are uploading is not a JSON file.
    .modal-footer
      span.text-danger(ng-if='!forms.upload.json') Please select a file above. &nbsp;
      button.btn.btn-primary(type='submit', ng-click='upload()', ng-disabled='!forms.upload.json') Upload
      button.btn.btn-default(ng-click='$dismiss()') Close
