extends base

mixin link(path, name, icon)
  li(ng-class='{active: isActive("#{path}")}')
    a(href='.#{path}')
      i(class='fa fa-fw fa-#{icon}')
      | &nbsp;#{name}

block container
  #wrapper
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') SoftVu Superadmin
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right.navbar-user
            li.navbar-text #[b Environment] #{env}
            li.navbar-text #[b Version] #{version.long}
            li.dropdown.user-dropdown
              a.dropdown-toggle(href data-toggle='dropdown')
                i.fa.fa-user
                | &nbsp;#{req.user._id}&nbsp;
                b.caret
              ul.dropdown-menu
                li
                  a(href='/logout' target='_self')
                    i.fa.fa-fw.fa-power-off
                    | Log Out
          ul.nav.navbar-nav.side-nav
            mixin link('/dashboard', 'Dashboard', 'dashboard')
            mixin link('/jobs', 'Jobs', 'bar-chart-o')
            mixin link('/users', 'Users', 'users')
            mixin link('/clients', 'Clients', 'suitcase')
            mixin link('/apikeys', 'API Keys', 'key')
            mixin link('/billing', 'Billing', 'usd')
            mixin link('/templates', 'Templates', 'file-code-o')
            mixin link('/dns', 'DNS', 'cubes')
            mixin link('/optouts', 'Opt-outs', 'filter')
            mixin link('/aws', 'AWS', 'cloud-upload')

    #page-wrapper
      block content
