extends layout

block head
  link(rel='stylesheet', href='/stylesheets/login.css')

block container
  .login
    .well
      img(src='images/softvulogo.png')
      form.form-signin(action='/login', method='post')
        if req.query.return
          input(type='hidden', name='return', value='#{req.query.return}')
        input.username.form-control(type='email', name='username', placeholder='Email', required='required', autofocus='autofocus')
        input.password.form-control(type='password', name='password', placeholder='Password', required='required')
        if error
          p.alert.alert-danger= error
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
