doctype html

div(ng-controller='ReportBounces' sv-paging='RealtimeBounces')
  h3 Bounces

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='100')
          .pull-left
            sv-paging-filter
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd')
            .form-group
              sv-paging-exporter(keys='bounced, email, message, error' rows='exportRow(row)')
      tr
        th Date
        th Email
        th From
        th Message
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='bounce in objects')
        td {{bounce.at | date:'medium'}}
        td {{bounce.email.mail.to}}
        td(ng-if='bounce.email.type == "drip"')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{get_message_name(bounce.email) || bounce.email.message.name}}
        td(ng-if='bounce.email.type == "batch"')
          i.fa.fa-fw.fa-users(alt='Batch' uib-tooltip='Batch')
          | &nbsp;{{bounce.email.batch.name}}
        td(ng-if='bounce.email.type == "direct"')
          i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
          | &nbsp;{{bounce.email.message.name}}
        td {{bounce.error}}

      tr(ng-if='!$loading && !objects.length')
        td.text-center.muted(colspan='100') No more data...

  .text-center
    sv-paging-pager
