doctype html

div(ng-controller='ReportClicks' sv-paging='RealtimeClicks')
  h3 Clicks

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='100')
          .pull-left
            sv-paging-filter
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd')
            .form-group
              sv-paging-exporter(keys='sent, clicked, sender, recipient, message, link' rows='exportRow(row)')
      tr
        th Sent
        th Clicked
        th Sender
        th Recipient
        th Link
        th Message
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='click in objects')
        td {{click.email.queued | date:"MMM d, yyyy h:mm a"}}
        td
          | {{click.at | date:"MMM d, yyyy h:mm a"}}
          span.pull-right
            i.fa.fa-fw.fa-asterisk.text-success(ng-if='click.first' uib-tooltip='Unique (First click)')
        td {{click.email.sender.email}}
        td(ng-if='click.email.lead.id')
          a(href ng-click='showLead.open(click.email.lead.id)') {{click.email.recipient.email}}
        td(ng-if='!click.email.lead.id') {{click.email.recipient.email}}
        td
          a(href='{{click.redirect}}' title='{{click.redirect}}' target='_blank') {{click.redirect | characters:30}}
        td(ng-if='click.email.type == "drip"')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{click.email.status.name}} - {{click.email.segment.name}} - {{click.email.step.name}}
        td(ng-if='click.email.type == "batch"')
          i.fa.fa-fw.fa-users(alt='Batch' uib-tooltip='Batch')
          | &nbsp;{{click.email.batch.name}}
        td(ng-if='click.email.type == "direct"')
          i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
          | &nbsp;{{click.email.message.name}}
      tr(ng-if='!$loading && !objects.length')
        td.text-center.muted(colspan='100') No clicks found. Try changing the date range?

  .text-center
    sv-paging-pager
