doctype html

div(ng-controller='ReportsErrors' sv-paging='Errors')
  h3 Errors

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='100')
          .pull-left
            sv-paging-filter
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd')
            .form-group
              sv-paging-exporter(keys='Date, Error Message, Error Type, Error Stack', rows='getErrorMessage(row)')
      tr
        th Date
        th Message
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='event in objects' ng-click='show(event)')
        td {{event.at | date:'medium'}}
        td {{event.error.message || event.error || event.data.error.message}}
      tr(ng-if='!$loading && !objects.length')
        td.text-center.muted(colspan='100') No more data...

  .text-center
    sv-paging-pager

  script(id='errors/raw.html' type='text/ng-template')
    .modal-header
      button.close(type='button' ng-click='$dismiss()') &times;
      h4.modal-title Raw Error
    .modal-body
      pre {{error | json}}
