doctype html

div(ng-controller='ReportsLeads')
  div.row
    h3.col-md-6 Leads
    form.col-md-4.pull-right(name='forms.leadSearch' ng-submit='search()')
      br
      .form-group.has-feedback
        label.sr-only.control-label Email address search
        input.form-control(type='email', ng-model='form.leadSearch' placeholder='Search')
        i.fa.fa-times.form-control-feedback.form-control-clear(ng-if='form.leadSearch.length && !forms.leadSearch.$submitting' ng-click='search(form.leadSearch = \'\')')
        i.fa.fa-search.form-control-feedback(ng-if='!form.leadSearch.length && !forms.leadSearch.$submitting')
        i.form-control-feedback.fa.fa-refresh.fa-spin(ng-if='forms.leadSearch.$submitting')
      .details(ng-if='searched && form.leadSearch')
        .alert.alert-warning(ng-if='searched.notfound')
          b Email Address was not found.

  table.table.table-bordered.table-striped(ng-hide='!form.leadSearch || !searched')
    thead
      tr
        th Updated
        th Agent
        th Lead Email
        th(uib-popover='Click on an attribute below to see the associated messages.' popover-trigger='mouseenter' popover-placement='bottom' popover-append-to-body='true')
          | Attributes &nbsp;
          i.fa.fa-xs.fa-question-circle
        th Status / Segment
    tbody(ng-if='loadLeads')
      tr.loading
        td(colspan='100')
          .spinner.spinner-center
    tbody(ng-if='!loadLeads')
      tr.depth-0(ng-repeat-start='lead in leads | orderBy: "-updated"' ng-if='searched')
        td(ng-click='leadInfo(lead)')
          i.fa.fa-xs.fa-plus(ng-if='expand[lead.id] != true')
          i.fa.fa-xs.fa-minus(ng-if='expand[lead.id] == true')
          | &nbsp;{{lead.updated | date:'medium'}}
        td(ng-click='show(lead)') {{lead.agent || "Unassigned"}}
        td(ng-click='show(lead)') {{lead.recipient.email}}
        td
          a(href ng-click='showAttribute.open(lead, statuses)')
            span(ng-repeat='(name, value) in lead.attributes', title='{{name}}')
              | {{value}}
              span(ng-hide='$last') ,&nbsp;
        td(ng-click='show(lead)') {{statuses[lead.$status || lead.status].name}} /&nbsp;
          | {{statuses[lead.$status || lead.status].segments[lead.segment].name || "No segment"}}
          i.fa.fa-fw.fa-exclamation-circle.text-warning(ng-if='!lead.segment')
      tr.depth-1(ng-if='expand[lead.id] == true')
        td.loading(colspan='5', ng-if='$loadingMessages[lead.id]')
          .spinner.spinner-small
        td(colspan='5', ng-if='!$loadingMessages[lead.id]')
          table.table.table-bordered.table-striped
            thead(ng-if='searched')
              th Sent
              th Queued
              th Sender
              th Recipient
              th Message
            tbody
              tr(ng-repeat='send in details[lead.id]', ng-if='details[lead.id].noMessage != true')
                td
                  a(href ng-click='showMessage(send)')
                    i.fa.fa-fw.fa-search
                  | &nbsp;{{send.delievered || send.queued | date:'medium'}}
                td {{send.queued | date:"MMM d, yyyy h:mm a"}}
                td {{send.sender.email}}
                td
                  a(href ng-click='showLead.open(lead.id)') {{send.recipient.email}}
                td(ng-if='send.type == "drip"')
                  i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
                  | &nbsp;{{send.status.name}} - {{send.segment.name}} - {{send.step.name}}
                td(ng-if='send.type == "direct"')
                  i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
                  | &nbsp;{{send.message.name}}
              tr(ng-if='details[lead.id].noMessage == true')
                td.text-center.muted(colspan='5') No emails.
      tr(ng-repeat-end, ng-if='false')

  div(sv-paging='Leads' ng-if='!form.leadSearch || !searched')
    table.table.table-bordered.table-striped
      thead
        tr
          td(colspan='5')
            .pull-left
              sv-paging-filter
            form.form-inline.pull-right
              .form-group
                sv-paging-range(format='yyyy-mm-dd')
              .form-group
                sv-paging-exporter(export-keys='updated, recipient = recipient.email, agent')
        tr
          th Updated
          th Agent
          th Lead Email
          th(uib-popover='Click on an attribute below to see the associated messages.' popover-trigger='mouseenter' popover-placement='bottom' popover-append-to-body='true')
            | Attributes &nbsp;
            i.fa.fa-xs.fa-question-circle
          th Status / Segment
      tbody(ng-if='$loading')
        tr.loading
          td(colspan='100')
            .spinner.spinner-center
      tbody(ng-if='!$loading')
        tr.depth-0(ng-repeat-start='lead in objects' ng-if='!leads || !searched')
          td(ng-click='leadInfo(lead)')
            i.fa.fa-xs.fa-plus(ng-if='expand[lead.id] != true')
            i.fa.fa-xs.fa-minus(ng-if='expand[lead.id] == true')
            | &nbsp;{{lead.updated | date:'medium'}}
          td(ng-click='show(lead)') {{lead.agent || "Unassigned"}}
          td
            a(href ng-click='showLead.open(lead.id)') {{lead.recipient.email}}
          td
            a(href ng-click='showAttribute.open(lead, statuses)')
              span(ng-repeat='(name, value) in lead.attributes', title='{{name}}')
                | {{value}}
                span(ng-hide='$last') ,&nbsp;
          td(ng-click='show(lead)') {{statuses[lead.$status || lead.status].name}} /&nbsp;
            | {{statuses[lead.$status || lead.status].segments[lead.segment].name || "No segment"}}
            i.fa.fa-fw.fa-exclamation-circle.text-warning(ng-if='!lead.segment')
        tr.depth-1(ng-if='expand[lead.id] == true')
          td.loading(colspan='5', ng-if='$loadingMessages[lead.id]')
            .spinner.spinner-small
          td(colspan='5', ng-if='!$loadingMessages[lead.id]')
            table.table.table-bordered.table-striped
              thead
                tr
                  th Sent
                  th Queued
                  th Sender
                  th Recipient
                  th Message
              tbody
                tr(ng-repeat='send in details[lead.id]', ng-if='details[lead.id].noMessage != true')
                  td
                    a(href ng-click='showMessage(send)')
                      i.fa.fa-fw.fa-search
                    | &nbsp;{{send.delievered || send.queued | date:'medium'}}
                  td {{send.queued | date:"MMM d, yyyy h:mm a"}}
                  td {{send.sender.email}}
                  td {{send.recipient.email}}
                  td(ng-if='send.type == "drip"')
                    i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
                    | &nbsp;{{send.status.name}} - {{send.segment.name}} - {{send.step.name}}
                  td(ng-if='send.type == "direct"')
                    i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
                    | &nbsp;{{send.message.name}}
                tr(ng-if='details[lead.id].noMessage == true')
                  td.text-center.muted(colspan='5') No emails.
        tr(ng-repeat-end, ng-if='false')
        tr(ng-if='!objects.length')
          td.text-center.muted(colspan='5') No leads found.

    .text-center
      sv-paging-pager

    script(id='preview-modal.html', type='text/ng-template')
      .modal-header
        button.close(type='button', ng-click='$dismiss()') &times;
        h4.modal-title Email View
      .modal-body
        h3(uib-tooltip='{{send.mail.subject}}')
          | {{send.mail.subject | characters:50}}
          small.pull-right {{send.queued | date:'medium'}}
        p
          span {{send.agent.email}} #[b to] {{send.mail.to}}
          span.pull-right(ng-if='send.type == "drip"')
            i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
            | &nbsp;{{send.status.name}} - {{send.segment.name}} - {{send.step.name}}
          span.pull-right(ng-if='send.type == "batch"')
            i.fa.fa-fw.fa-users(alt='Batch' uib-tooltip='Batch')
            | &nbsp;{{send.batch.name}}
          span.pull-right(ng-if='send.type == "direct"')
            i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
            | &nbsp;{{send.message.name}}

        ul.nav.nav-tabs(ng-if='send.mail.html && send.mail.text')
          li.active: a(href='#tab-html', data-toggle='tab') HTML
          li: a(href='#tab-text', data-toggle='tab') Plain Text
          li: a(href='#emailLinks', data-toggle='tab', ng-click='display(send)') Links
        .tab-content
          #tab-html.tab-pane.active
            iframe(ng-if='send.mail.html', preview-html, ng-model='send.mail.html', frameBorder='0', style='width: 100%; height: 440px; border: 1px solid #ccc')
          #tab-text.tab-pane(ng-if='send.mail.text', ng-class='{active: !send.mail.html}')
            pre(style='width: 100%; height: 440px; margin-bottom: 0;') {{send.mail.text}}
          #emailLinks.tab-pane
            table.linksTable.table.table-bordered.table-striped
              thead.linksHead
                tr
                  th.linksId ID
                  th.linksUrl Redirect URL
              tbody.linksBody
                tr(ng-repeat='link in send.links')
                  td.linksId {{link.id}}
                  td.linksUrl
                    a(href='{{link.original_url}}') {{link.original_url}}
        p
          a(ng-href='/view/{{send.client}}/{{send.id}}', target='_blank') 'View in Browser' link
          a.pull-right(href, ng-click='showRaw = !showRaw') Raw
        pre(ng-if='showRaw') {{send | json}}


    script(id='lead-modal.html', type='text/ng-template')
      .modal-header
        button.close(type='button', ng-click='$dismiss()') &times;
        h4.modal-title Raw View
      .modal-body
        pre {{lead | json}}
      .modal-footer
        button.btn.btn-default(type='button', ng-click='$dismiss()') Close
