doctype html

div(ng-controller='ReportOpens' sv-paging='RealtimeOpens')
  h3 Opens

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='100')
          .pull-left
            sv-paging-filter
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd')
            .form-group
              sv-paging-exporter(keys='sent, opened, sender, recipient, message' rows='exportRow(row)')
      tr
        th Sent
        th Opened
        th Sender
        th Recipient
        th Message
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='open in objects')
        td {{open.email.queued | date:"MMM d, yyyy h:mm a"}}
        td
          | {{open.at | date:"MMM d, yyyy h:mm a"}}
          span.pull-right
            i.fa.fa-fw.fa-asterisk.text-success(ng-if='open.first' uib-tooltip='Unique (First open)')
        td {{open.email.sender.email}}
        td(ng-if='open.email.lead.id')
          a(href ng-click='showLead.open(open.email.lead.id)') {{open.email.recipient.email}}
        td(ng-if='!open.email.lead.id') {{open.email.recipient.email}}
        td(ng-if='open.email.type == "drip"')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{open.email.status.name}} - {{open.email.segment.name}} - {{open.email.step.name}}
        td(ng-if='open.email.type == "batch"')
          i.fa.fa-fw.fa-users(alt='Batch' uib-tooltip='Batch')
          | &nbsp;{{open.email.batch.name}}
        td(ng-if='open.email.type == "direct"')
          i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
          | &nbsp;{{open.email.message.name}}
      tr(ng-if='!$loading && !objects.length')
        td.text-center.muted(colspan='100') No opens found. Try changing the date range?

  .text-center
    sv-paging-pager
