doctype html

div(sv-paging='RealtimeOptOuts')
  h3 Opt-Outs

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='100')
          .pull-left
            sv-paging-filter
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd')
            .form-group
              sv-paging-exporter(export-keys='optout = at, address, from')
      tr
        th Date
        th Email
        th From
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='optout in objects')
        td {{optout.at | date:'medium'}}
        td {{optout.address || optout.email}}
        td(ng-if='optout.email.type == "drip"')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{optout.email.status.name}} - {{optout.email.segment.name}} - {{optout.email.step.name}}
        td(ng-if='optout.email.type == "batch"')
          i.fa.fa-fw.fa-users(alt='Batch' uib-tooltip='Batch')
          | &nbsp;{{optout.email.batch.name}}
        td(ng-if='optout.email.type == "direct"')
          i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
          | &nbsp;{{optout.email.message.name}}
        td(ng-if='optout.from != "unsub"') {{optout.from}}

      tr(ng-if='!$loading && !objects.length')
        td.text-center.muted(colspan='100') No more data...

  .text-center
    sv-paging-pager
