doctype html

div(ng-controller='ReportsSends')
  div.row
    h3.col-md-6 Sends
    form.col-md-4.pull-right(name='forms.sendSearch' ng-submit='search()')
      br
      .form-group.has-feedback.input-group
        span.input-group-btn
          bs-radio-sends(ng-model='form.searchType', value='sender', title='Sender')
          bs-radio-sends(ng-model='form.searchType', value='recipient', title='Recipient')
        label.sr-only.control-label Email address search
        input.form-control(type='email', ng-model='form.sendSearch' placeholder='{{form.searchType}} search')
        i.fa.fa-times.form-control-feedback.form-control-clear(ng-if='form.sendSearch.length && !forms.sendSearch.$submitting' ng-click='search(form.sendSearch = \'\')')
        i.fa.fa-search.form-control-feedback(ng-if='!form.sendSearch.length && !forms.sendSearch.$submitting')
        i.form-control-feedback.fa.fa-refresh.fa-spin(ng-if='forms.sendSearch.$submitting')
      .sendData(ng-if='sendData && form.sendSearch')
        .alert.alert-warning(ng-if='sendData.notfound')
          b Email Address was not found.

  table.table.table-bordered.table-striped(ng-if='form.sendSearch && sends')
    thead
      tr
        th(style='width: 235px') Sent
        th Last Update
        th Sender
        th Recipient
        th Message
    tbody(ng-if='loadSends')
      tr.loading
        td(colspan='100')
          .spinner.spinner-center
    tbody(ng-if='!loadSends')
      tr(ng-repeat="message in sends | orderBy:'-queued'")
        td
          a(href ng-click='show(message)')
            i.fa.fa-fw.fa-search
          | &nbsp;{{message.queued | date:"MMM d, yyyy h:mm a"}}
          span.pull-right
            i.fa.fa-fw.fa-circle-o(alt='Opened' ng-if='message.opened && !message.clicked' uib-tooltip='Opened')
            i.fa.fa-fw.fa-dot-circle-o(alt='Clicked' ng-if='message.clicked' uib-tooltip='Clicked')
            i.fa.fa-fw.fa-pencil.text-warning(ng-if='message.sample' uib-tooltip='Sample')
        td
          i.fa.fa-fw.fa-send(ng-if='!(message.delivered || message.sent || message.bounced || message.errored)' uib-tooltip='Sending')
          i.fa.fa-fw.fa-check.text-success(ng-if='(message.sent || message.delivered) && !message.errored' uib-tooltip='Delivered')
          i.fa.fa-fw.fa-exclamation.text-warning(ng-if='message.bounced' uib-tooltip='Bounced')
          i.fa.fa-fw.fa-exclamation.text-danger(ng-if='message.errored' uib-tooltip='Errored')
          | &nbsp;{{message.delivered || message.sent || message.bounced || message.errored[0].at || message.queued | date:"MMM d, yyyy h:mm a"}}
        td {{message.sender.email}}
        td(ng-if='message.lead.id')
          a(href ng-click='showLead.open(message.lead.id)') {{message.recipient.email}}
        td(ng-if='!message.lead.id') {{message.recipient.email}}
        td
          i.fa.fa-fw.fa-eyedropper(ng-if='message.type == "drip"' alt='Drip' uib-tooltip='Drip')
          i.fa.fa-fw.fa-users(ng-if='message.type == "batch"' alt='Batch' uib-tooltip='Batch')
          i.fa.fa-fw.fa-share(ng-if='message.type == "direct"' alt='Direct' uib-tooltip='Direct')
          | {{get_message_name(send)}}

  div(sv-paging='RealtimeSends' whitelist='whitelist' ng-if='!form.sendSearch || !sends')
    table.table.table-bordered.table-striped
      thead
        tr
          td(colspan='5')
            .pull-left
              sv-paging-filter
            form.form-inline.pull-right
              .form-group
                sv-paging-range(format='yyyy-mm-dd')
              .form-group
                sv-paging-exporter(keys='Sent, Sender, Recipient, First Name, Last Name, Subject, Message' rows='getExportedRow(row)')
        tr
          th(style='width: 235px') Sent
          th Last Update
          th Sender
          th Recipient
          th Message
      tbody
        tr.loading(ng-if='$loading')
          td(colspan='100')
            .spinner.spinner-center
        tr(ng-if='!$loading' ng-repeat='send in objects')
          td
            a(href ng-click='show(send)')
              i.fa.fa-fw.fa-search
            | &nbsp;{{send.queued | date:"MMM d, yyyy h:mm a"}}
            span.pull-right
              i.fa.fa-fw.fa-circle-o(alt='Opened' ng-if='send.opened && !send.clicked' uib-tooltip='Opened')
              i.fa.fa-fw.fa-dot-circle-o(alt='Clicked' ng-if='send.clicked' uib-tooltip='Clicked')
              i.fa.fa-fw.fa-pencil.text-warning(ng-if='send.sample' uib-tooltip='Sample')
          td
            i.fa.fa-fw.fa-send(ng-if='!(send.delivered || send.sent || send.bounced || send.errored)' uib-tooltip='Sending')
            i.fa.fa-fw.fa-check.text-success(ng-if='(send.sent || send.delivered) && !send.errored' uib-tooltip='Delivered')
            i.fa.fa-fw.fa-exclamation.text-warning(ng-if='send.bounced' uib-tooltip='Bounced')
            i.fa.fa-fw.fa-exclamation.text-danger(ng-if='send.errored' uib-tooltip='Errored')
            | &nbsp;{{send.delivered || send.sent || send.bounced || send.errored[0].at || send.queued | date:"MMM d, yyyy h:mm a"}}
          td {{send.sender.email}}
          td(ng-if='send.lead.id')
            a(href ng-click='showLead.open(send.lead.id)') {{send.recipient.email}}
          td(ng-if='!send.lead.id') {{send.recipient.email}}
          td
            i.fa.fa-fw.fa-eyedropper(ng-if='send.type == "drip"' alt='Drip' uib-tooltip='Drip')
            i.fa.fa-fw.fa-users(ng-if='send.type == "batch"' alt='Batch' uib-tooltip='Batch')
            i.fa.fa-fw.fa-share(ng-if='send.type == "direct"' alt='Direct' uib-tooltip='Direct')
            | &nbsp;{{get_message_name(send)}}
        tr(ng-if='!$loading && !objects.length')
          td.text-center.muted(colspan='100') No sends found. Try changing the date range?

    .text-center
      sv-paging-pager

    script(id='preview-modal.html', type='text/ng-template')
      .modal-header
        button.close(type='button', ng-click='$dismiss()') &times;
        h4.modal-title Email View
      .modal-body
        h3(uib-tooltip='{{send.mail.subject}}')
          | {{send.mail.subject | characters:50}}
          small.pull-right {{send.queued | date:'medium'}}
        p
          span {{send.agent.email}} #[b to] {{send.mail.to}}
          span.pull-right(ng-if='send.type == "drip"')
            i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
            | &nbsp;{{send.status.name}} - {{send.segment.name}} - {{send.step.name}}
          span.pull-right(ng-if='send.type == "batch"')
            i.fa.fa-fw.fa-users(alt='Batch' uib-tooltip='Batch')
            | &nbsp;{{send.batch.name}}
          span.pull-right(ng-if='send.type == "direct"')
            i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
            | &nbsp;{{send.message.name}}

        ul.nav.nav-tabs(ng-if='send.mail.html && send.mail.text')
          li.active: a(href='#tab-html', data-toggle='tab') HTML
          li: a(href='#tab-text', data-toggle='tab') Plain Text
          li: a(href='#emailLinks', data-toggle='tab', ng-click='display(send)') Links
        .tab-content
          #tab-html.tab-pane.active
            iframe(ng-if='send.mail.html' preview-html ng-model='send.mail.html' frameBorder='0' style='width: 100%; height: 440px; border: 1px solid #ccc')
          #tab-text.tab-pane(ng-if='send.mail.text', ng-class='{active: !send.mail.html}')
            pre(style='width: 100%; height: 440px; margin-bottom: 0;') {{send.mail.text}}
          #emailLinks.tab-pane
            table.linksTable.table.table-bordered.table-striped
              thead.linksHead
                tr
                  th.linksId ID
                  th.linksUrl Redirect URL
              tbody.linksBody
                tr(ng-repeat='link in send.links')
                  td.linksId {{link.id}}
                  td.linksUrl
                    a(href='{{link.original_url}}' ng-if='link.title')  {{link.title}}: {{link.original_url}}
                    a(href='{{link.original_url}}' ng-if='!link.title && link.name')  {{link.name}}: {{link.original_url}}
                    a(href='{{link.original_url}}' ng-if='!link.title && !link.name') {{link.original_url}}
        p
          a(ng-href='/view/{{send.client}}/{{send.id}}', target='_blank') 'View in Browser' link
          a.pull-right(href, ng-click='showRaw = !showRaw') Raw
        pre(ng-if='showRaw') {{send | json}}
