doctype html

div(ng-controller='ReportsSurveys' sv-paging='Survey')
  h3 Surveys

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='5')
          .pull-left
            sv-paging-filter
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd')
            .form-group
              sv-paging-exporter(export-keys='at, id = email.lead.external.id, recipient = email.mail.to, response = body.form')
      tr
        th Date
        th Sender
        th Recipient
        th Message
        th &nbsp;
    tbody(ng-if='$loading')
      tr.loading
        td(colspan='100')
          .spinner.spinner-center
    tbody(ng-if='!$loading')
      tr(ng-repeat='survey in objects', ng-click='show(survey)')
        td {{survey.at | date:'medium'}}
        td {{survey.email.sender.email}}
        td(ng-if='survey.email.lead.id')
          a(href ng-click='showLead.open(survey.email.lead.id)') {{survey.email.mail.to}}
        td(ng-if='!survey.email.lead.id') {{survey.email.mail.to}}
        td {{survey.email.step.name}}
        td.text-center(ng-click='view(survey)')
          a(href)
            i.fa.fa-search
            | &nbsp;View Response
      tr(ng-if='!objects.length')
        td.text-center.muted(colspan='5') No more data...

  .text-center
    sv-paging-pager

  script(id='reports/surveys/view.html' type='text/ng-template')
    .modal-header
      h4 Survey Response
    .modal-body
      p(ng-repeat='(q, a) in survey.body.form')
        em {{q}}&nbsp;
        b {{a}}
    .modal-footer
      button.btn.btn-default(ng-click='$dismiss()') Close
