@charset "UTF-8";
/*
Status title (blue): #22688c
Segments title (green): #51a146
Messages title (purple): #ad6dad
Management toolbar background, left side (dk grey): #324b56
Management toolbar background, right side (light grey): #445a56
Main nav bar elements (blue): #22688c
Background color for Status/Segment/Messages drop downs: #e6e7ec
Red "Off" notification w/in the Segments drop down: #f1614c

*Possible background color to the drop down button/downward arrow icon, (orange): #faa519
- this is a nice accent… if we don't use it here, we should find a way to shoehorn it in there somewhere. The warm tone of this orange offsets all of the dominant cool colors.

font on status list Dark Grey is  #445762
Light Grey is #e6e7ec
*/
/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

/* firefox hack for fieldsets */
/* http://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content/17863685#17863685 */
@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  height: calc(100% - 180px);
  background: white;
  color: #5C5C7F;
  overflow-x: hidden;
  overflow-y: scroll; }
  body .default-text {
    color: #5BC0DE !important; }

#header {
  background-color: #fff; }

#content {
  display: inline-block;
  width: 100%;
  margin-top: 110px;
  margin-bottom: 60px; }
  #content .view {
    padding-top: 20px; }

#admin-footer, #user-footer {
  height: 50px; }

#user-footer {
  color: #fff;
  background-color: #324b56; }

#user-footer ul a {
  color: #fff; }

#admin-footer p, #user-footer p {
  margin-top: 5px; }

#admin-footer > ul, #admin-footer > div, #user-footer ul {
  line-height: 50px; }

#admin-footer ul {
  margin: 0 auto; }

#admin-footer .form-group {
  vertical-align: top; }

#admin-footer .popover-content, #admin-footer .tooltip-inner {
  line-height: 1.4;
  /* reset to body style */ }

.admin-search {
  min-width: 280px;
  max-width: none; }
  .admin-search .outer {
    height: 280px;
    overflow-y: auto; }
    .admin-search .outer ul li {
      margin-top: 0.3em;
      margin-bottom: 0.3em; }

.message-filter, .attribute-filter {
  min-width: 350px;
  max-width: none; }
  .message-filter label, .attribute-filter label {
    font-weight: normal; }
  .message-filter .outer, .attribute-filter .outer {
    height: 280px;
    overflow-y: auto; }
    .message-filter .outer ul li, .attribute-filter .outer ul li {
      margin-top: 0.3em;
      margin-bottom: 0.3em; }

.status-color {
  color: #22688c !important; }

.status-bgcolor {
  background-color: #22688c !important; }

.segment-color {
  color: #51a146 !important; }

.segment-bgcolor {
  background-color: #51a146 !important; }

.message-color {
  color: #ad6dad !important; }

.message-bgcolor {
  background-color: #ad6dad !important; }

table + .tags {
  display: inline-block;
  color: #fff;
  background-color: #faa519;
  font-weight: bold;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-left: 5px;
  position: relative;
  top: -20px; }

table + .tags a {
  display: inline-block;
  color: #fff;
  padding: 8px 8px 6px; }

.list-pills {
  margin-left: 0; }

* .list-pills:last-child {
  margin-bottom: 0; }

.list-pills li {
  border-radius: 4px;
  background: #445762;
  color: #e6e7ec;
  font-size: 12px;
  display: inline-block;
  padding: 4px 16px;
  margin-right: 8px;
  margin-bottom: 4px; }

.panel-body.has-list-pills {
  padding-bottom: 11px; }

.attribute {
  cursor: pointer; }
  .attribute .default-value {
    background-color: #5BC0DE !important;
    color: white !important; }
  .attribute .more-value {
    max-height: 260px;
    overflow-y: scroll; }
  .attribute .panel-heading .btn-toolbar {
    opacity: 0; }
  .attribute .panel-heading:hover .btn-toolbar {
    opacity: 1; }

.top-buffer {
  margin-top: 20px; }

dd.has-list-pills {
  margin-bottom: -4px; }

.panel {
  border-color: #bbb; }

.panel-footer {
  color: #fff; }

.panel-header {
  color: #fff;
  padding: 10px 15px !important;
  font-size: 20px; }

.panel .announcement-heading,
.panel .announcement-text {
  color: #000; }

/* Nav Announcements */
/* http://startbootstrap.com/templates/sb-admin/ */
.panel .announcement-heading {
  font-size: 50px;
  margin: 0; }

.panel .announcement-subheading {
  font-size: 18px;
  margin: 0; }

.panel .announcement-text {
  margin: 0; }

.panel-info > .panel-heading {
  color: #22688c;
  background-color: #fff;
  border-color: #fff; }

.panel-info .panel-footer {
  background-color: #22688c; }

.panel-info .panel-header {
  background-color: #22688c; }

.panel-warning > .panel-heading {
  color: #faa519;
  background-color: #fff;
  border-color: #fff; }

.panel-warning .panel-footer {
  background-color: #faa519; }

.panel-warning .panel-header {
  background-color: #faa519; }

.panel-success > .panel-heading {
  color: #51a146;
  background-color: #fff;
  border-color: #fff; }

.panel-success .panel-footer {
  background-color: #51a146; }

.panel-success .panel-header {
  background-color: #51a146; }

.panel-danger > .panel-heading {
  color: #f1614c;
  background-color: #fff;
  border-color: #fff; }

.panel-danger .panel-footer {
  background-color: #f1614c; }

.panel-danger .panel-header {
  background-color: #f1614c; }

.panel-primary {
  border-color: #22688c; }

.panel-primary > .panel-heading {
  background-color: #22688c; }

.panel-primary > .panel-header {
  background-color: #22688c; }

.panel-primary > .panel-footer {
  color: #22688c;
  background-color: #fff;
  border-color: #bbb !important; }

* dl:last-child, * p:last-child {
  margin-bottom: 0; }

.fullScreen .fullScreen-editor {
  height: auto !important;
  width: auto !important;
  border: 0;
  margin: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000; }

.fullScreen {
  overflow: hidden; }

.nav-tabs > li > b {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 17px;
  line-height: 20px;
  margin-right: 2px;
  display: block;
  padding: 10px 25px;
  position: relative; }

.template-list.one-line {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px; }

.template-list.one-line .template {
  float: none;
  /*width: 16.6667%;*/ }

.template-list .template {
  cursor: pointer; }

.template-list .template .actions {
  display: none;
  position: absolute;
  top: 5px;
  right: 20px; }

.template-list .template .tags {
  position: absolute;
  bottom: 15px;
  left: 20px; }

.template-list .template > :last-child {
  margin-bottom: 10px; }

.template-list .template.selected {
  border-bottom: 2px solid #faa519; }

.template-list .template.selected .img-thumbnail {
  background-color: #f3f3f3; }

.input-group .fa {
  z-index: 2; }

.fa.ng-hide-add, .fa.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important; }

.fa.ng-hide-add.ng-hide-add-active,
.fa.ng-hide-remove {
  opacity: 0; }

.fa.ng-hide-add,
.fa.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

.slide {
  position: relative;
  left: 0;
  width: 100%; }

.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: 650ms ease all;
  -moz-transition: 650ms ease all;
  -ms-transition: 650ms ease all;
  -o-transition: 650ms ease all;
  transition: 650ms ease all; }

.slide.ng-hide {
  display: none !important; }

.slide.ng-enter {
  left: 100%;
  position: absolute; }

.slide.ng-enter-active {
  left: 0; }

.slide.ng-leave {
  left: 0;
  position: absolute; }

.slide.ng-leave-active {
  left: -100%; }

.slide-up-in.ng-enter,
.slide-down-in.ng-enter,
.slide-up-out.ng-enter,
.slide-down-out.ng-enter,
.slide-up-in.ng-leave,
.slide-down-in.ng-leave,
.slide-up-out.ng-leave,
.slide-down-out.ng-leave {
  position: absolute;
  max-height: calc(100vh - 180px);
  overflow: hidden;
  width: 100%;
  -webkit-transition: 650ms ease all;
  -moz-transition: 650ms ease all;
  -ms-transition: 650ms ease all;
  -o-transition: 650ms ease all;
  transition: 650ms ease all; }

.slide-up-in.container,
.slide-up-out.container,
.slide-down-in.container,
.slide-down-out.container {
  position: relative;
  width: 1170px; }

.slide-down-in.ng-enter {
  top: calc(-1 * 100vh);
  z-index: -1; }

.slide-down-in.ng-enter.ng-enter-active {
  top: 0;
  z-index: -1; }

.slide-up-in.ng-enter {
  top: calc(100vh);
  z-index: -1; }

.slide-up-in.ng-enter.ng-enter-active {
  top: 0;
  z-index: -1; }

.slide-down-out.ng-leave {
  top: 0;
  z-index: 1; }

.slide-down-out.ng-leave.ng-leave-active {
  top: calc(100vh);
  z-index: 1; }

.slide-up-out.ng-leave {
  top: 0;
  z-index: 1; }

.slide-up-out.ng-leave.ng-leave-active {
  top: calc(-1 * 100vh);
  z-index: 1; }

.double-wide .modal-dialog {
  width: 90% !important;
  min-width: 900px; }

.form-horizontal .input-group-addon .radio-inline {
  padding-top: 0; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle; }

.tab-warning {
  background-color: #eea236 !important; }

#step-modal h4 {
  padding: 5px; }

li .btn + .btn, td .btn + .btn, .form-group button.btn + button.btn, .pager li + li {
  margin-left: 5px; }

.nav-tabs + .tab-content {
  margin-top: 16px; }

.well .form-group:last-child, .well .form-group .help-block:last-child {
  margin-bottom: 0; }

table.centered th, table.centered td, tbody.centered th, tbody.centered td {
  text-align: center; }

table.centered th.text-left, table.centered td.text-left, tbody.centered th.text-left, tbody.centered td.text-left {
  text-align: left; }

table.table-nested tr.depth-0 {
  background: #fff; }

table.table-nested tr.depth-1 {
  background: #eee; }

table.table-nested tr.depth-2 {
  background: #fff; }

/* bootstrap fix inline forms with compiled source */
.form-inline .form-group + .form-group {
  margin-left: 5px; }

/* not an ideal name, but .fade conflicts with bootstrap fade */
.fader.ng-enter, .fader.ng-leave {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.fader.ng-enter, .fader.ng-leave.ng-leave-active {
  opacity: 0; }

.fader.ng-leave, .fader.ng-enter.ng-enter-active {
  opacity: 1; }

tr.loading td {
  height: 180px;
  position: relative; }

.page-controls {
  margin-bottom: 2em; }

/*
http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box
has-feedback style for fa/glyphicon input addons
*/
.has-feedback .form-control {
  padding-right: 34px; }

.has-feedback .form-control.input-sm,
.has-feedback.form-group-sm .form-control {
  padding-right: 30px; }

.has-feedback .form-control.input-lg,
.has-feedback.form-group-lg .form-control {
  padding-right: 46px; }

.has-feedback-left .form-control {
  padding-right: 12px;
  padding-left: 34px; }

.has-feedback-left .form-control.input-sm,
.has-feedback-left.form-group-sm .form-control {
  padding-left: 30px; }

.has-feedback-left .form-control.input-lg,
.has-feedback-left.form-group-lg .form-control {
  padding-left: 46px; }

.has-feedback-left .form-control-feedback {
  left: 0; }

.form-control-feedback {
  line-height: 34px !important; }

.input-sm + .form-control-feedback,
.form-horizontal .form-group-sm .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px !important; }

.input-lg + .form-control-feedback,
.form-horizontal .form-group-lg .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px !important; }

.has-feedback label.sr-only ~ .form-control-feedback,
.has-feedback label.sr-only ~ div .form-control-feedback {
  top: 0; }

.form-control-clear {
  pointer-events: auto; }
  .form-control-clear:hover {
    color: #777;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer; }

@media (min-width: 768px) {
  .form-inline .inline-feedback {
    position: relative;
    display: inline-block; }
  .form-inline .has-feedback .form-control-feedback {
    top: 0; } }

.form-horizontal .has-feedback-left .form-control-feedback {
  left: 15px; }

/* end has-feedback styles */
.steps .step {
  margin: 18px 0; }

.steps .step a {
  margin: 10px 0; }

.modal-body .form-horizontal .form-group:last-child {
  margin-bottom: 0; }

.context-menu {
  z-index: 1031; }

.modal-footer .fa + .btn, .modal-footer .fa + .fa, .modal-footer .spinner + .btn {
  margin-left: 5px; }

/* http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3 */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0; }

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none; }

.tab-content > .active,
.pill-content > .active {
  display: block; }

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd; }

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0; }

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent; }

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd; }

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px; }

.tabs-left > .nav-tabs {
  border-right: 1px solid #ddd; }

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee; }

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff; }

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd; }

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd; }

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff; }

.checks i {
  display: inline; }

.checks input, .checks i.truthy {
  display: none; }

.checked i.truthy {
  display: inline-block; }

.checked i.falsy {
  display: none; }

/* some bootstrap ace corrections */
.ace_search {
  box-sizing: initial; }

.ace_search input, .ace_search button {
  color: initial; }

.input-group-file .btn-file {
  position: relative;
  overflow: hidden; }

.input-group-file .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

.input-group-file input[type=text] {
  background-color: #fff;
  cursor: text; }

.list-inline .checks label {
  padding: 3px 8px; }

.list-inline .checks input, .list-inline .checks i.truthy {
  display: none; }

.list-inline .checked i.truthy {
  display: inline; }

.list-inline .checked i.falsy {
  display: none; }

.list-inline-packed li {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0 5px 0 0; }

.list-inline-packed li:first-child {
  padding-left: 5px; }

dl.filter, dl.message, dl.message dl {
  margin-bottom: 0; }

dl.filter dt {
  margin: 7px 0; }

dl.message dd > dl {
  margin-left: 20px; }

.filter-dropdown {
  padding: 5px; }

table tr .outside-left {
  position: absolute;
  left: -35px;
  padding-right: 35px;
  display: inline-block;
  opacity: 0; }
  table tr .outside-left i {
    cursor: pointer; }

table tr:hover .outside-left {
  opacity: 1; }

table tr.hover-pointer {
  cursor: pointer; }

.alerts {
  background-color: #fff;
  opacity: 1;
  padding-top: 20px;
  z-index: 1029; }
  .alerts .alert {
    margin-bottom: 0; }

.threequarters-height {
  height: calc(100vh * 0.75); }

.not-valid {
  border-color: #f1614c; }

._valid {
  border-color: #51A146; }

.bulkUpload {
  margin-right: 5px !important; }

.form-control-attributes {
  float: none !important; }

.strategy-message li:hover {
  background-color: #445762;
  color: #FFF;
  cursor: pointer; }

.strategy-message li:hover b {
  background-color: #445762;
  color: #FFF;
  cursor: pointer; }

.strategy-message li:hover i small {
  background-color: #445762;
  color: #FFF;
  cursor: pointer; }

.templateTabs {
  padding-top: 25px; }

.batchAlert {
  margin-top: 32px; }

.batchError {
  margin-top: 3%; }

.templateCheckError {
  margin-top: 10px; }

.dashGraph {
  text-align: center !important;
  color: black;
  padding-bottom: 15px; }
  .dashGraph #statusSelect {
    padding-bottom: 10px; }

.linksTable {
  table-layout: fixed; }
  .linksTable .linksId {
    width: 33%; }
  .linksTable .linksUrl {
    width: 67%;
    word-wrap: break-word; }

.statusSpinner {
  margin-left: auto;
  margin-right: auto;
  display: inherit !important; }

.requiredSign {
  padding-left: 0px;
  margin-top: 8px; }

.requiredSignContact {
  padding-left: 0px; }

.table .table {
  margin-bottom: 0px; }

.statusAlias {
  display: inline-block; }

.contactSpinner {
  margin-top: 30px !important; }

.assets {
  margin-top: 10px !important; }

.sendSearch {
  border-radius: 0px !important; }

.leadName {
  margin-top: 0px; }

.leadTable {
  padding: 0px !important; }

.lead-info {
  padding-right: 0px !important;
  padding-left: 0px !important;
  font-weight: bold; }

.contacts-table {
  margin-bottom: 0px; }

.contact-data {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

.panel-bottom {
  margin-bottom: 15px; }

.panel-table {
  margin-bottom: 0px; }

.spinner-lead-info {
  left: 50%;
  top: 50%;
  margin-left: -30px; }

.batch_delete .fa-trash-o:hover {
  color: #f1614c !important; }

.batch_cancel .fa-ban:hover {
  color: #faa519 !important; }

.spinner {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  -webkit-animation: rotation 0.8s infinite linear;
  -moz-animation: rotation 0.8s infinite linear;
  -o-animation: rotation 0.8s infinite linear;
  animation: rotation 0.8s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, 0.15);
  border-right: 6px solid rgba(0, 174, 239, 0.15);
  border-bottom: 6px solid rgba(0, 174, 239, 0.15);
  border-top: 6px solid rgba(0, 174, 239, 0.8);
  border-radius: 100%; }

.spinner-small {
  height: 20px;
  width: 20px;
  border-width: 2px; }

.spinner-center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px; }

.spinner-center.spinner-small {
  margin-top: -10px;
  margin-left: -10px; }

.spinner-fullscreen {
  position: fixed; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.navbar-sv {
  background-color: #fff;
  border: 0; }
  .navbar-sv .navbar-main {
    border: solid #22688c;
    border-width: 3px 0 0 0;
    padding-top: 27px;
    margin-bottom: 10px; }
    .navbar-sv .navbar-main .navbar-nav {
      margin-left: 20px; }
      .navbar-sv .navbar-main .navbar-nav .dropdown-sv > a {
        color: #22688c;
        padding: 4px 16px;
        margin-top: 7px; }
  .navbar-sv .navbar-sub {
    background-color: #445a56; }
    .navbar-sv .navbar-sub .navbar-default .navbar-nav > li > a {
      color: #777777; }
    .navbar-sv .navbar-sub .navbar-nav > li > a {
      color: #fff;
      line-height: 20px;
      padding: 5px 20px;
      position: relative; }
    .navbar-sv .navbar-sub .navbar-nav > li.active > a {
      color: #445762;
      background-color: #e6e7ec; }
    .navbar-sv .navbar-sub .navbar-nav > li:first-child {
      width: 100px; }
    .navbar-sv .navbar-sub .navbar-nav .navbar-brand {
      color: #fff;
      float: left;
      font-size: 14px;
      height: auto;
      line-height: 20px;
      padding: 5px 20px 5px 0; }
    .navbar-sv .navbar-sub .left-bg {
      position: absolute;
      left: 0;
      height: 30px;
      background-color: #324b56; }
    .navbar-sv .navbar-sub .arrow {
      position: absolute;
      left: calc(100% - 50% - 385px);
      width: 0;
      height: 0;
      border-bottom: 15px solid transparent;
      /* left arrow slant */
      border-top: 15px solid transparent;
      /* right arrow slant */
      border-left: 15px solid #324b56;
      /* bottom, add background color here */
      font-size: 0;
      line-height: 0; }
  .navbar-sv .navbar-text {
    margin-top: 7px;
    margin-bottom: 0; }

@media (min-width: 768px) {
  .navbar-sv .navbar-sub .left-bg {
    width: calc(100% - 50% - 285px); }
  .navbar-sv .navbar-sub .arrow {
    left: calc(100% - 50% - 285px); } }

@media (min-width: 992px) {
  .navbar-sv .navbar-sub .left-bg {
    width: calc(100% - 50% - 395px); }
  .navbar-sv .navbar-sub .arrow {
    left: calc(100% - 50% - 395px); } }

@media (min-width: 1200px) {
  .navbar-sv .navbar-sub .left-bg {
    width: calc(100% - 50% - 495px); }
  .navbar-sv .navbar-sub .arrow {
    left: calc(100% - 50% - 495px); } }

.fixed-height .columns-sv,
.fixed-height .columns-sv > div > div {
  /* note: this doesn't seem to work in safari... can't really figure out why */
  height: calc(100vh - 200px); }

#container.has-alerts .fixed-height .columns-sv,
#container.has-alerts .fixed-height .columns-sv > div > div {
  /* note: this doesn't seem to work in safari... can't really figure out why */
  height: calc(100vh - (200px + 72px)); }

.columns-sv li.ui-sortable-helper {
  background-color: #fff; }

.columns-sv .column .column-header {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 6px 12px;
  line-height: 32px;
  background-color: #aaa; }
  .columns-sv .column .column-header i {
    line-height: 32px; }
  .columns-sv .column .column-header .fa-question-circle {
    font-size: 0.8em; }

.columns-sv .column .column-search {
  position: relative;
  border: 3px solid #888; }
  .columns-sv .column .column-search input {
    width: 100%;
    padding: 6px 30px 6px 10px;
    font-size: 18px; }
  .columns-sv .column .column-search span {
    position: absolute;
    right: 0px;
    line-height: 16px;
    padding-top: 8px;
    padding-right: 10px;
    pointer-events: none;
    opacity: .7; }
  .columns-sv .column .column-search ::-webkit-input-placeholder {
    font-size: 16px;
    font-style: italic; }
  .columns-sv .column .column-search :-moz-placeholder {
    font-size: 16px;
    font-style: italic; }
  .columns-sv .column .column-search ::-moz-placeholder {
    font-size: 16px;
    font-style: italic; }
  .columns-sv .column .column-search :-ms-input-placeholder {
    font-size: 16px;
    font-style: italic; }

.columns-sv .column .column-body {
  max-height: calc(100% - 130px);
  overflow-y: scroll; }
  .columns-sv .column .column-body > ul {
    margin-bottom: 0; }
  .columns-sv .column .column-body > ul > li {
    color: #445762;
    border: solid #888;
    border-width: 1px 2px;
    border-collapse: collapse;
    font-size: 16px;
    padding: 12px; }
    .columns-sv .column .column-body > ul > li .badge {
      vertical-align: text-bottom; }
  .columns-sv .column .column-body > ul > li.ui-sortable-helper {
    border-width: 1px 2px; }
  .columns-sv .column .column-body > ul > li:first-child {
    border-top-width: 0; }
  .columns-sv .column .column-body > ul > li:last-child {
    border-bottom-width: 2px; }
  .columns-sv .column .column-body > ul > li a.context {
    color: #445762; }
  .columns-sv .column .column-body > ul > li.selected {
    background-color: #445762;
    border-color: #445762;
    color: #e6e7ec; }
    .columns-sv .column .column-body > ul > li.selected .badge {
      vertical-align: text-bottom;
      color: #777;
      background-color: #fff; }
    .columns-sv .column .column-body > ul > li.selected a {
      color: #e6e7ec; }
  .columns-sv .column .column-body > ul > li:last-child {
    margin-bottom: 0; }
  .columns-sv .column .column-body li.selected .list-pills li {
    color: #445762;
    background-color: #e6e7ec; }

.columns-sv .column .column-footer {
  display: inline-block;
  color: #fff;
  background-color: #ccc;
  font-weight: bold;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-left: 5px; }
  .columns-sv .column .column-footer a {
    display: inline-block;
    color: #fff;
    padding: 8px 8px 6px; }

.statuses .column-body ul li, .segments .column-body ul li {
  cursor: pointer; }

.login {
  margin: 0 auto;
  padding-top: 100px;
  width: 400px;
  text-align: center; }

.form-signin {
  padding: 15px 15px 0; }
  .form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px; }
  .form-signin .checkbox {
    font-weight: normal; }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .form-signin .form-control:focus {
    z-index: 2; }
  .form-signin .username {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .form-signin .password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.need-help {
  margin-top: 10px; }

.new-account {
  display: block;
  margin-top: 10px; }
