extends base

block container
  .login
    .well.clearfix
      img(src='images/softvulogo@2x.png' height='41' width='175')
      p.help-block.text-left.small.
        Sorry, the landing page you are trying to view is not available.  Please try again later!
