extend base

block container
  include navbar

  #content(ng-class='{"has-alerts": system.offline || system.debug}')
    .container.ng-cloak(ng-if='system.offline')
      .row
        .col-xs-12.alerts
          .alert.alert-danger
            p(ng-if='system.groups == 0')
              | You have no groups set up. Visit&nbsp;
              a(href='/admin/groups') Admin > Groups
              | &nbsp;to set up the groups for your senders.
            p(ng-if='system.senders == 0')
              | You have no senders set up. Visit&nbsp;
              a(href='/admin/senders') Admin > Senders
              | &nbsp;to set up your senders.
            p(ng-if='system.attributes == 0')
              | You have no attributes configured. Visit&nbsp;
              a(href='/manage/attributes') Manage > Attributes
              | &nbsp;to configure the attributes available for your status segments.
            p(ng-if='system.statuses == 0')
              | You have no statuses configured. Visit&nbsp;
              a(href='/manage/statuses') Manage > Statuses
              | &nbsp;to configure the statuses available for your leads.

    unless (req.user && req.user.isAdmin)
      .container.ng-cloak(ng-if='system.debug || system.email_mode == "Debug"')
        .row
          .col-xs-12.alerts
            .alert.alert-warning
              | This system is in #[b Debug] mode. Emails are sent to the #[b Manager Email Address] or error if one is not specified.
      .container.ng-cloak(ng-if='system.email_mode == "Internal"')
        .row
          .col-xs-12.alerts
            .alert.alert-warning
              | This system is in #[b Internal] mode. Emails will process normally, but will #[b not] be sent outside of the system.
      .container.ng-cloak(ng-if='system.email_mode == "Off"')
        .row
          .col-xs-12.alerts
            .alert.alert-warning
              | This system is in #[b Off] mode. All emails will be #[b canceled].

    .slide.view.ng-cloak(ui-view='' autoscroll='false')
      block content

    p.fader(ng-if='$viewLoading' style='position: fixed; bottom: 70px; left: 25px;')
      i.fa.fa-2x.fa-spin.fa-spinner

block scripts
  script(src='/bower_components/ace.min.js?v=#{version.short}')

  script CKEDITOR_BASEPATH = window['CKEDITOR_BASEPATH'] = '/bower_components/ckeditor/'
  script(src='/bower_components/ckeditor.js?v=#{version.short}')

  script(src='/app/app.js?v=#{version.short}')
