doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    if settings['load analytics']
      script(src='/javascripts/newrelic.js')

    if !(env == 'production')
      script(src='/bower_components/Faker/build/build/faker.min.js')

    if (req.user && req.user.isAdmin)
        title SoftVu (#{env})
    else
        title SoftVu

    base(href='/')
    link(rel='shortcut icon' href='/favicon.ico')

    link(rel='stylesheet' href='/bower_components/main.css?v=#{version.short}')
    link(rel='stylesheet' href='/stylesheets/app.css?v=#{version.short}')

    block head

  body
    block container

    include footer

    script(src='/bower_components/main.js?v=#{version.short}')
    script(async src='/bower_components/sockjs/sockjs.min.js?v=#{version.short}')

    script(async src='/bower_components/d3/d3.min.js?v=#{version.short}')
    block scripts

    if settings['load analytics']
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53511404-1', 'auto');
        ga('send', 'pageview');

  script(id='dismissCheck-modal.html', type='text/ng-template')
    .modal-header
      button.close(ng-click='dismiss()') &times;
      h4.modal-title Unsaved Changes!
    .modal-body
      p Close without saving?
    .modal-footer
      button.btn.btn-default(ng-click='save()') Save and Close
      button.btn.btn-primary(ng-click='confirm()') Confirm
  
  script(id='leadInfo-modal.html', type='text/ng-template')
    mixin header(text, score)
      .panel-header
        .row
          .col-xs-8
            = text
          .col-xs-4.text-right
            = score
    .modal-header
      button.close(ng-click='dismiss()') &times;
      h4.modal-title Lead Information
    .modal-body(ng-if='$loading')
      .row
        .col-xs-12
          .spinner.spinner-lead-info
    .modal-body(ng-if='!$loading')
      .row.leadTable
        .col-xs-4
          .col-xs-12
            h3.leadName {{lead.recipient.firstname}} {{lead.recipient.lastname}}
            p {{lead.recipient.email}}
          .col-xs-3.lead-info.text-right
            .small Created:
            .small Updated:
            .small Attributes:
          .col-xs-9
            .small {{lead.created | date:'MM/dd/yyyy HH:mm:ss'}}
            .small {{lead.updated | date:"MM/dd/yyyy HH:mm:ss"}}
            .small
              span(ng-repeat='(name, value) in lead.attributes', title='{{name}}')
                | {{value}}
                span(ng-hide='$last') &nbsp;/&nbsp;

        .col-xs-4
          .panel.panel-warning.panel-bottom
            +header('Address')
            .panel-heading.contact-data
              .row
                .col-xs-12(ng-if='lead.recipient.address')
                  p.announcement-text {{lead.recipient.address.line1}}
                  p.announcement-text(ng-if='lead.recipient.address.line2') {{lead.recipient.address.line2}}
                  p.announcement-text {{lead.recipient.address.city}}, {{lead.recipient.address.state}} {{lead.recipient.address.zip}}
                  br(ng-if='!lead.recipient.address.line2')
                .col-xs-12(ng-if='!lead.recipient.address')
                  p.announcement-text N/A
                  br
                  br
                  
        .col-xs-4
          .panel.panel-success.panel-bottom
            +header('Phone')
            .panel-heading.contact-data
              .row
                .col-xs-3
                  p.announcement-text Home: 
                .col-xs-9
                  p.announcement-text {{lead.recipient.phones.home || "N/A"}}
              .row
                .col-xs-3
                  p.announcement-text Work: 
                .col-xs-9
                  p.announcement-text {{lead.recipient.phones.work || "N/A"}}
              .row
                .col-xs-3
                  p.announcement-text Mobile: 
                .col-xs-9
                  p.announcement-text {{lead.recipient.phones.mobile || "N/A"}}
        //          
          .col-xs-4
            .panel.panel-primary.panel-bottom
              +header('Lead Scoring', '{{lead.scoring.total || "N/A"}}')
              .panel-footer
                .row
                  .col-xs-12
                    p.announcement-text Campaign Engagement: {{lead.scoring.engagement || "N/A"}}
                    p.announcement-text Positive Advancement: {{lead.scoring.positive || "N/A"}}
                    p.announcement-text Negative Events: {{lead.scoring.negative || "N/A"}}
        
      .row
        .col-xs-12
          .panel.panel-primary.panel-table
            .panel-heading.clearfix
              h3.panel-title.pull-left
                i.fa.fa-bar-chart-o
                | &nbsp;Campaign Engagement
            .panel-body.leadTable.contact-data
              table.table.table-striped.contacts-table.table-hover
                thead
                  tr
                    th Event Date
                    th Event Type
                    th Sender
                    th Message
                tbody(ng-if='$loading')
                  tr.loading
                    td(colspan='100')
                      .spinner.spinner-center
                tbody(ng-if='!$loading')
                  tr(ng-repeat="event in email_events | orderBy: '-at'" ng-if='email_events.length')
                    td
                      a(href ng-click='show(event)')
                        i.fa.fa-fw.fa-search
                      | &nbsp;{{event.at | date:'medium'}}
                    td {{event.event}}
                    td {{event.sender}}
                    td(ng-if="event.type === 'drip'")
                      i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
                      span(uib-tooltip='{{statuses | asCampaign:event}}' uib-tooltip-append-to-body='true') &nbsp;{{statuses | asCampaign:event | characters:40}}
                    td(ng-if="event.type === 'direct'")
                      i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
                      span(uib-tooltip='{{event.message}}' uib-tooltip-append-to-body='true') &nbsp;{{event.message}}
                  tr(ng-if='!email_events.length')
                    td.text-center.contact-data(colspan='4') No Campaign Engagement
      br
      .row
        .col-xs-12
          .panel.panel-primary.panel-table
            .panel-heading.clearfix
              h3.panel-title.pull-left
                i.fa.fa-bar-chart-o
                | &nbsp;Contact History
            .panel-body.leadTable.contact-data
              table.table.table-striped.contacts-table.table-hover
                thead
                  tr
                    th Date
                    th Update Type
                    th Update Made
                tbody(ng-if='$loading')
                  tr.loading
                    td(colspan='100')
                      .spinner.spinner-center
                tbody(ng-if='!$loading')
                  tr(ng-repeat="event in events| orderBy: '-at'" ng-if='events.length')
                    td {{event.at | date:'medium'}}
                    td {{event.type}}
                    td(ng-if="event.type === 'lead.status.changed'") 
                      | Status: {{statuses[event.status].name}}
                    td(ng-if="event.type === 'lead.timedout'")
                      | End of drip campaign
                    td(ng-if="event.type === 'lead.created'")
                      | Contact created
                    td(ng-if="event.type === 'lead.updated'")
                      | Contact updated
                    td(ng-if="event.type === 'lead.segmented'")
                      | Segment: {{statuses[event.status].segments[event.segment].name}}
                  tr(ng-if='!events.length')
                    td.text-center(colspan='4') No Contact History
  
  script(id='previewLead-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='$dismiss()') &times;
      h4.modal-title Email View
    .modal-body
      h3(uib-tooltip='{{send.mail.subject}}')
        | {{send.mail.subject | characters:50}}
        small.pull-right {{send.queued | date:'medium'}}
      p
        span {{send.agent.email}} #[b to] {{send.mail.to}}
        span.pull-right(ng-if='send.type == "drip"')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{send.status.name}} - {{send.segment.name}} - {{send.step.name}}
        span.pull-right(ng-if='send.type == "batch"')
          i.fa.fa-fw.fa-users(alt='Batch' uib-tooltip='Batch')
          | &nbsp;{{send.batch.name}}
        span.pull-right(ng-if='send.type == "direct"')
          i.fa.fa-fw.fa-share(alt='Direct' uib-tooltip='Direct')
          | &nbsp;{{send.message.name}}

      ul.nav.nav-tabs(ng-if='send.mail.html && send.mail.text')
        li.active: a(href='#tab-html', data-toggle='tab') HTML
        li: a(href='#tab-text', data-toggle='tab') Plain Text
        li: a(href='#emailLinks', data-toggle='tab', ng-click='display(send)') Links
      .tab-content
        #tab-html.tab-pane.active
          iframe(ng-if='send.mail.html', preview-html, ng-model='send.mail.html', frameBorder='0', style='width: 100%; height: 440px; border: 1px solid #ccc')
        #tab-text.tab-pane(ng-if='send.mail.text', ng-class='{active: !send.mail.html}')
          pre(style='width: 100%; height: 440px; margin-bottom: 0;') {{send.mail.text}}
        #emailLinks.tab-pane
          table.linksTable.table.table-bordered.table-striped
            thead.linksHead
              tr
                th.linksId ID
                th.linksUrl Redirect URL
            tbody.linksBody
              tr(ng-repeat='link in send.links')
                td.linksId {{link.id}}
                td.linksUrl
                  a(href='{{link.original_url}}' ng-if='link.title')  {{link.title}}: {{link.original_url}}
                  a(href='{{link.original_url}}' ng-if='!link.title && link.name')  {{link.name}}: {{link.original_url}} 
                  a(href='{{link.original_url}}' ng-if='!link.title && !link.name') {{link.original_url}}
      p
        a(ng-href='/view/{{send.client}}/{{send.id}}', target='_blank') 'View in Browser' link
        a.pull-right(href, ng-click='showRaw = !showRaw') Raw
      pre(ng-if='showRaw') {{send | json}}
  
  script(id='profile-modal.html', type='text/ng-template')
    .modal-header
      h4.modal-title Custom Profiles
    form.modal-body(name='forms.profile')
      p Profiles can be altered to contain a variety of custom fields. From this location, you can identify those fields and determine if they are required or not.
      p #[b NOTE:] Renaming a custom field will remove the custom field data from the profiles. However, reverting back to the original name will return the values.
      .form-group.row(ng-repeat='field in fields')
        .col-xs-6
          .input-group
            input.form-control(ng-model='field.name', type='text', placeholder='Type')
            span.input-group-btn
              button.btn.btn-default(ng-click='delete(fields, field)'): i.glyphicon.glyphicon-remove
        .col-xs-2
          .checkbox
            label
              input(type='checkbox', ng-model='field.required')
              | Required
      div
        button.btn.btn-sm.btn-primary(ng-click='add(fields, {required: false})') Add Field
    .modal-footer
      i.fa.fa-fw.fa-check.text-success(ng-if='$submitted && forms.profile.$pristine') 
      span.text-success(ng-if='$submitted && forms.profile.$pristine') &nbsp;Saved!
      button.btn.btn-primary(ng-click='save()', ng-disabled='forms.profile.$pristine') Save
      button.btn.btn-default(ng-click='close()') Close
