if (req.user && req.user.isAdmin)
  case env
    when 'production'
      - klass = 'bg-danger'
    default
      - klass = 'bg-success'

  #admin-footer.navbar-fixed-bottom(class='#{klass}')
    .container
      ul.list-inline
        li #[b Environment] #{env}
        li: a(href='/superadmin', target='_blank') Superadmin
        li #[b Version] #{version.long}
        li(ng-if='system.id' ng-cloak)
          b Client
          | &nbsp;&bull;&nbsp;
          a(href='#' uib-popover-template='"popover/footer/select-client.html"' popover-trigger='outsideClick' popover-class='admin-search') {{system.name |characters: 24 :true}} ({{system.short}})
          span(ng-if='system.debug || system.email_mode == "Debug"')
            | &nbsp;
            i.fa.fa-fw.fa-exclamation-circle.text-warning(uib-tooltip-template='"tooltip/footer/debug.html"' tooltip-placement='top' tooltip-trigger='mouseenter' tooltip-append-to-body='true')
          span(ng-if='system.email_mode == "Internal"')
            | &nbsp;
            i.fa.fa-fw.fa-exclamation-circle.text-warning(uib-tooltip-template='"tooltip/footer/internal.html"' tooltip-placement='top' tooltip-trigger='mouseenter' tooltip-append-to-body='true')
          span(ng-if='system.email_mode == "Off"')
            | &nbsp;
            i.fa.fa-fw.fa-exclamation-circle.text-warning(uib-tooltip-template='"tooltip/footer/off.html"' tooltip-placement='top' tooltip-trigger='mouseenter' tooltip-append-to-body='true')
          | &nbsp;&bull;&nbsp;
          a.copyable(href='#' data-clipboard-text='#{session.client_id}' title='Copied!') {{system.id}}

  script(id='tooltip/footer/debug.html' type='text/ng-template')
    div
      span This system is in Debug mode. Emails are sent to the #[b *Manager Email Address*] or error if one is not specified.

  script(id='tooltip/footer/internal.html' type='text/ng-template')
    div
      span This system is in Internal mode. Emails will process normally, but will #[b *not*] be sent outside of the system.

  script(id='tooltip/footer/off.html' type='text/ng-template')
    div
      span This system is in Off mode. All emails will be #[b *canceled*].

  script(id='popover/footer/select-client.html' type='text/ng-template')
    div#admin-search(ng-controller='ClientSearch')
      h5 Switch client:
      div.outer
        ul.list-unstyled
          li(ng-repeat='client in filtered = (system.clients|filter:search)')
            span(ng-if='system.client == client.id') &bull;&nbsp;
            a(href set-client='{{client.id}}' title='{{client.name}}') {{client.name | characters: 32 :true}}
          li(ng-if='!filtered.length') No clients found.
      p: input.input-sm.form-control(type='text' ng-model='search.name' autofocus placeholder='Filter...')
else
  #user-footer.navbar-fixed-bottom
    .container
      p.pull-right
        | Copyright &copy; 2000 - #{new Date().getFullYear()} SoftVu LLC.
        br
        span.pull-right All rights reserved.

      ul.list-inline
        li: a(href='https://support.softvu.com/' target='_blank') Help
        li: a(href='https://support.softvu.com/' target='_blank') FAQs
        li: a(href='https://www.softvu.com/privacy-policy/' target='_blank') Privacy Policy
        li: a(href='mailto:support@softvu.com') support@softvu.com
        li: a(href='tel:18776110104') 1.877.611.0104
