extends base

block container
  .login
    .well.clearfix
      img(src='images/softvulogo@2x.png' height='41' width='175')
      form.form-signin(action='/login', method='post')
        if req.query.return
          input(type='hidden', name='return', value='#{req.query.return}')
        input.username.form-control(type='email', name='username', placeholder='Email', required='required', autofocus='autofocus')
        input.password.form-control(type='password', name='password', placeholder='Password', required='required')
        if error
          p.alert.alert-danger= error
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        .checkbox.pull-left
          label
            input(type='checkbox', name='remember')
            | Remember me
        a.pull-right.need-help(href='#') Need help?
    //- a.text-center.new-account(href='/register') Create an account
