mixin link(url, name)
  li(ng-class='{active: isActive("#{url}")}')
    a(href='#{url}')= name

#header(ng-controller='Header')
  .navbar.navbar-default.navbar-fixed-top.navbar-sv
    .navbar-main
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/reports/dashboard')
            img(src='/images/softvulogo@2x.png', alt='SoftVu Logo', height='41', width='175')
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.dropdown-sv
              a.dropdown-toggle(href='/reports/dashboard' data-toggle='dropdown' data-target='#')
                | Reports&nbsp;
                b.caret
              ul.dropdown-menu
                +link('/reports/dashboard', 'Dashboard')
                +link('/reports/summary', 'Drip Summary')
                +link('/reports/batches', 'Batches')
                +link('/reports/direct', 'Direct Sends')
                +link('/reports/realtime', 'Realtime Events')
                +link('/reports/strategy', 'Strategy')
            li.dropdown-sv
              a.dropdown-toggle(href='/manage/statuses' data-toggle='dropdown' data-target='#')
                | Manage&nbsp;
                b.caret
              ul.dropdown-menu
                +link('/manage/contacts', 'Contacts')
                +link('/manage/statuses', 'Statuses')
                +link('/manage/attributes', 'Attributes')
                +link('/manage/templates', 'Templates')
                +link('/manage/assets', 'Assets')
                +link('/manage/pages', 'Landing Pages')
                +link('/manage/message-library', 'Message Library')
                +link('/manage/batches', 'Batch Sends')
            li.dropdown-sv
              a.dropdown-toggle(href='/admin/settings' data-toggle='dropdown' data-target='#')
                | Admin&nbsp;
                b.caret
              ul.dropdown-menu
                +link('/admin/settings', 'Account Settings')
                +link('/admin/groups', 'Groups')
                +link('/admin/senders', 'Senders')
                +link('/admin/policies', 'Policies')
                +link('/admin/optouts', 'Opt-Outs')
                li.divider
                li.dropdown-header API
                +link('/admin/shortform', 'Shortform')
                +link('/admin/integration', 'Integration')
          .navbar-right
            .navbar-text.navbar-user
              i.fa.fa-user
              | &nbsp;#{session.username} (#{req._client.short})&nbsp;&nbsp;

              a.btn.btn-sm.btn-danger(href='/logout', target='_self')
                i.fa.fa-power-off
                | &nbsp;Log Out

    .navbar-sub(ng-cloak ng-if='!route.notfound && category')
      .container
        .left-bg
        .arrow
        ul.nav.navbar-nav(ng-if='category == "reports"')
          li
            b.navbar-brand Reports
          +link('/reports/dashboard', 'Dashboard')
          +link('/reports/summary', 'Drip Summary')
          +link('/reports/batches', 'Batches')
          +link('/reports/direct', 'Direct Sends')
          +link('/reports/realtime', 'Realtime Events')
          +link('/reports/strategy', 'Strategy')
        ul.nav.navbar-nav(ng-if='category == "manage"')
          li
            b.navbar-brand Manage
          +link('/manage/contacts', 'Contacts')
          +link('/manage/statuses', 'Statuses')
          +link('/manage/attributes', 'Attributes')
          +link('/manage/templates', 'Templates')
          +link('/manage/assets', 'Assets')
          +link('/manage/pages', 'Landing Pages')
          +link('/manage/message-library', 'Message Library')
          +link('/manage/batches', 'Batch Sends')
        ul.nav.navbar-nav(ng-if='category == "admin"')
          li
            b.navbar-brand Admin
          +link('/admin/settings', 'Account Settings')
          +link('/admin/groups', 'Groups')
          +link('/admin/senders', 'Senders')
          +link('/admin/policies', 'Policies')
          +link('/admin/optouts', 'Opt-Outs')
          +link('/admin/shortform', 'Shortform')
          +link('/admin/integration', 'Integration')
