extends base

block container
  .login
    .well.clearfix
      img(src='images/softvulogo@2x.png' height='41' width='175')
      h3 You have been unsubscribed
      p.text-left.
        We are sorry to see you go! The email address #[b #{email}] has been unsubscribed from future mailings.
        Please allow 72hrs for your request to process (it's usually immediately!).
