extends base

block container
  .login
    .well.clearfix
      img(src='images/softvulogo@2x.png' height='41' width='175')
      form.form-signin(action='/unsubscribe' method='post')
        p.help-block.text-left.
          Use this form to unsubscribe from all emails originating from our system. (or client) Fill in your email
          address above then click the Unsubscribe button below.
        .form-group
          input.form-control(type='email' name='email' value='#{email || ""}' placeholder='Email' required='required' autofocus='autofocus')
        .form-group
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Unsubscribe
