doctype html

div(sv-paging='MessageClicks')
  h3 Clicks&nbsp;
    small(ng-if='batch')
      i.fa.fa-users(alt='Batch' uib-tooltip='Batch')
      | &nbsp;{{batch.name}}

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='100')
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd' readonly)
            .form-group
              sv-paging-exporter(keys='sent = email.queued, clicked = at, sender = email.sender.email, recipient = email.recipient.email, firstname = email.recipient.firstname, lastname = email.recipient.lastname, link = link.original_url')
      tr
        th Sent
        th Clicked
        th Sender
        th Recipient
        th Link
        th(ng-if='!batch') Message
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='click in resource')
        td {{click.email.queued | date:"MMM d, yyyy h:mm a"}}
        td
          | {{click.at | date:"MMM d, yyyy h:mm a"}}
          span.pull-right
            i.fa.fa-fw.fa-asterisk.text-success(ng-if='click.first' uib-tooltip='Unique (First click)')
        td {{click.email.sender.email}}
        td(ng-if='click.email.lead.id')
          a(href ng-click='showLead(click.email.lead.id)') {{click.email.recipient.email}}
        td(ng-if='!click.email.lead.id') {{click.email.recipient.email}}
        td
          a(href='{{click.redirect}}' title='{{click.redirect}}' target='_blank') {{click.redirect | characters:30}}
        td(ng-if='!batch')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{click.email.status.name}} - {{click.email.segment.name}} - {{click.email.step.name}}
      tr(ng-if='!$loading && !resource.length')
        td.text-center.muted(colspan='100') No click data found.
