doctype html

div(sv-paging='MessageOpens')
  h3 Opens&nbsp;
    small(ng-if='batch')
      i.fa.fa-users(alt='Batch' uib-tooltip='Batch')
      | &nbsp;{{batch.name}}

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='5')
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd' readonly)
            .form-group
              sv-paging-exporter(keys='sent = email.queued, opened = at, sender = email.sender.email, recipient = email.recipient.email, firstname = email.recipient.firstname, lastname = email.recipient.lastname')
      tr
        th Sent
        th Opened
        th Sender
        th Recipient
        th(ng-if='!batch') Message
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='open in resource')
        td {{open.email.queued | date:"MMM d, yyyy h:mm a"}}
        td
          | {{open.at | date:"MMM d, yyyy h:mm a"}}
          span.pull-right
            i.fa.fa-fw.fa-asterisk.text-success(ng-if='open.first' uib-tooltip='Unique (First open)')
        td {{open.email.sender.email}}
        td(ng-if='open.email.lead.id')
          a(href ng-click='showLead(open.email.lead.id)') {{open.email.recipient.email}}
        td(ng-if='!open.email.lead.id') {{open.email.recipient.email}}
        td(ng-if='!batch')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{open.email.status.name}} - {{open.email.segment.name}} - {{open.email.step.name}}
      tr(ng-if='!$loading && !resource.length')
        td.text-center.muted(colspan='100') No open data found.
