doctype html

div(sv-paging='MessageOptouts')
  h3 Opt-Outs&nbsp;
    small(ng-if='batch')
      i.fa.fa-users(alt='Batch' uib-tooltip='Batch')
      | &nbsp;{{batch.name}}

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='5')
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd' readonly)
            .form-group
              sv-paging-exporter(keys='sent = email.queued, opt-out = at, sender = email.sender.email, recipient = email.recipient.email, firstname = email.recipient.firstname, lastname = email.recipient.lastname')
      tr
        th Sent
        th Opt-Out
        th Sender
        th Recipient
        th(ng-if='!batch') Message
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='optout in resource')
        td {{optout.email.queued | date:"MMM d, yyyy h:mm a"}}
        td {{optout.at | date:"MMM d, yyyy h:mm a"}}
        td {{optout.email.sender.email}}
        td {{optout.email.recipient.email}}
        td(ng-if='!batch')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{statuses[optout.email.status._id].name}} - {{statuses[optout.email.status._id].segments[optout.email.segment.id].name}} - {{statuses[optout.email.status._id].segments[optout.email.segment.id].steps[optout.email.step.id].name}}
      tr(ng-if='!$loading && !resource.length')
        td.text-center.muted(colspan='5') No optout data found.
