doctype html

div(sv-paging='MessageSends' ng-controller='ReportsSends')
  h3 Sends&nbsp;
    small(ng-if='batch')
      i.fa.fa-users(alt='Batch' uib-tooltip='Batch')
      | &nbsp;{{batch.name}}

  table.table.table-bordered.table-striped
    thead
      tr
        td(colspan='5')
          form.form-inline.pull-right
            .form-group
              sv-paging-range(format='yyyy-mm-dd' readonly)
            .form-group
              sv-paging-exporter(rows='getExportedRow(row)' keys='sent, sender, recipient, firstname, lastname, subject, message')
      tr
        th(style='width: 235px') Sent
        th Last Update
        th Sender
        th Recipient
        th(ng-if='!batch') Message
    tbody
      tr.loading(ng-if='$loading')
        td(colspan='100')
          .spinner.spinner-center
      tr(ng-if='!$loading' ng-repeat='send in objects')
        td
          a(href ng-click='show(send)')
            i.fa.fa-fw.fa-search
          | &nbsp;{{send.queued | date:"MMM d, yyyy h:mm a"}}
          span.pull-right
            i.fa.fa-fw.fa-circle-o(alt='Opened' ng-if='send.opened && !send.clicked' uib-tooltip='Opened')
            i.fa.fa-fw.fa-dot-circle-o(alt='Clicked' ng-if='send.clicked' uib-tooltip='Clicked')
            i.fa.fa-fw.fa-pencil.text-warning(ng-if='send.sample' uib-tooltip='Sample')
        td
          i.fa.fa-fw.fa-send(ng-if='!(send.delivered || send.sent || send.errored)' uib-tooltip='Sending')
          i.fa.fa-fw.fa-check.text-success(ng-if='(send.sent || send.delivered) && !send.errored' uib-tooltip='Delivered')
          i.fa.fa-fw.fa-exclamation.text-danger(ng-if='send.errored' uib-tooltip='Errored')
          | {{send.delivered || send.sent || send.errored || send.queued | date:"MMM d, yyyy h:mm a"}}
        td {{send.sender.email}}
        td(ng-if='send.lead.id')
          a(href ng-click='showLead(send.lead.id)') {{send.recipient.email}}
        td(ng-if='!send.lead.id') {{send.recipient.email}}
        td(ng-if='!batch')
          i.fa.fa-fw.fa-eyedropper(alt='Drip' uib-tooltip='Drip')
          | &nbsp;{{send.status.name}} - {{send.segment.name}} - {{send.step.name}}
      tr(ng-if='!$loading && !objects.length')
        td.text-center.muted(colspan='5') No sends found.

  script(id='preview-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='$dismiss()') &times;
      h4.modal-title Email View
    .modal-body
      h3(uib-tooltip='{{send.mail.subject}}')
        | {{send.mail.subject | characters:50}}
        small.pull-right {{send.queued | date:'medium'}}
      p
        span {{send.agent.email}} #[b to] {{send.mail.to}}
        span.pull-right(ng-if='!send.batch') {{send.status.name}} - {{send.segment.name}} - {{send.step.name}}
        span.pull-right(ng-if='send.batch')
          i.fa.fa-users(alt='Batch' uib-tooltip='Batch')
          | &nbsp;{{batches[send.batch].name}}

      ul.nav.nav-tabs(ng-if='send.mail.html && send.mail.text')
        li.active: a(href='#tab-html', data-toggle='tab') HTML
        li: a(href='#tab-text', data-toggle='tab') Plain Text
        li: a(href='#emailLinks', data-toggle='tab', ng-click='display(send)') Links      
      .tab-content(style='margin-bottom: 5px;')
        #tab-html.tab-pane.active  
          iframe(ng-if='send.mail.html', preview-html, ng-model='send.mail.html', frameBorder='0', style='width: 100%; height: 440px; border: 1px solid #ccc')
        #tab-text.tab-pane(ng-if='send.mail.text', ng-class='{active: !send.mail.html}')
          pre(style='width: 100%; height: 440px; margin-bottom: 0;') {{send.mail.text}}
        #emailLinks.tab-pane
          table.linksTable.table.table-bordered.table-striped
            thead.linksHead
              tr
                th.linksId ID
                th.linksUrl Redirect URL
            tbody.linksBody
              tr(ng-repeat='link in send.links')
                td.linksId {{link.id}}
                td.linksUrl 
                  a(href='{{link.original_url}}') {{link.original_url}}
      p
        a(ng-href='/view/{{send.client}}/{{send._id}}', target='_blank') 'View in Browser' link
        a.pull-right(href, ng-click='showRaw = !showRaw') Raw
      pre(ng-if='showRaw') {{send | json}}
