doctype html

.container(ng-controller='AdminGroups')
  .row
    .col-xs-12
      table.table.table-bordered.table-striped
        thead
          th Name
          th Contact
          th Address
        tbody
          tr.hover-pointer(ng-repeat='group in groups|orderBy:"name"' ng-click='edit(group)')
            td
              .outside-left
                i.fa.fa-lg.fa-fw.fa-trash(ng-click='delete(group);$event.stopPropagation()')
                i.fa.fa-lg.fa-fw.fa-pencil(ng-click='edit(group);$event.stopPropagation()')
              | {{group.name}}
            td
              | {{group.email}}
              br
              span(ng-repeat='(type, number) in group.phones')
                span {{number}}&nbsp;
                small: b ({{type}})
                span(ng-show='!$last') &nbsp;&nbsp;
            td
              p(ng-show='group.address')
                | {{group.address.address1}}
                br
                | {{group.address.address2}}
                br(ng-show='group.address.address2.length')
                | {{group.address.city}}, {{group.address.state}}  {{group.address.zip}}
              p(ng-if='!group.address'): em No Address
          tr(ng-if='!groups.length')
            td.text-center.muted(colspan='4') No groups configured.
      .tags
        a(href ng-click='create()')
          i.fa.fa-plus
          | &nbsp;New Group

  script(id='group-modal.html', type='text/ng-template')
    form.form.form-horizontal(name='forms.group' novalidate)
      .modal-header
        button.close(type='button', ng-click='close()') &times;
        h4.modal-title(ng-if='!group.id') New Group
        h4.modal-title(ng-if='group.id') Edit Group
      .modal-body
        h4 Name *
        .form-group.has-feedback
          .col-xs-12(ng-class='{"has-warning": forms.group.name.$touched && forms.group.name.$invalid}')
            input.form-control(ng-model='group.name' type='text' placeholder='Name of the Group' name='name' required)
            span.glyphicon.glyphicon-warning-sign.form-control-feedback(aria-hidden='true' ng-if='forms.group.name.$touched && forms.group.name.$invalid')
        h4 Group Email
        .form-group
          .col-xs-9
            input.form-control(ng-model='group.email' type='email' placeholder='Email Address' name='email' ng-class="{'not-valid': forms.group.submitted && forms.group.email.$invalid && !forms.group.$dirty}")
          .col-xs-3
            input.form-control(ng-model='group.role' type='text' placeholder='Role' name='role' ng-class="{'not-valid': forms.group.submitted && forms.group.email.$invalid && !forms.group.$dirty}")
        h4 Phone Numbers
        .form-group.row(ng-repeat='phone in phones')
          .col-xs-2
            .input-group
              input.form-control(ng-model='phone.type', type='text', placeholder='Type')
              .input-group-btn
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown'): span.caret
                ul.dropdown-menu
                  li: a(href, ng-click='phone.type = "main"') main
                  li: a(href, ng-click='phone.type = "cell"') cell
                  li: a(href, ng-click='phone.type = "fax"') fax
          .col-xs-4
            input.form-control(ng-model='phone.number', type='text', placeholder='Number')
        .form-group
          .col-xs-12
            button.btn.btn-primary(ng-click='phones.push({})') Add Number
        h4 Mailing Address
        .form-group
          .col-xs-12
            input.form-control(ng-model='group.address.address1', type='text', placeholder='Address')
        .form-group
          .col-xs-12
            input.form-control(ng-model='group.address.address2', type='text', placeholder='Suite, PO Box, etc.')
        .form-group
          .col-xs-7
            input.form-control(ng-model='group.address.city', type='text', placeholder='City')
          .col-xs-2
            select.form-control(ng-model='group.address.state')
              option AL
              option AK
              option AZ
              option AR
              option CA
              option CO
              option CT
              option DE
              option DC
              option FL
              option GA
              option HI
              option ID
              option IL
              option IN
              option IA
              option KS
              option KY
              option LA
              option ME
              option MD
              option MA
              option MI
              option MN
              option MS
              option MO
              option MT
              option NE
              option NV
              option NH
              option NJ
              option NM
              option NY
              option NC
              option ND
              option OH
              option OK
              option OR
              option PA
              option RI
              option SC
              option SD
              option TN
              option TX
              option UT
              option VT
              option VA
              option WA
              option WV
              option WI
              option WY
          .col-xs-3
            input#txtMailingAddressZip.form-control(ng-model='group.address.zip', type='text', placeholder='Zip')
        h4 Signature
        .form-group
          .col-xs-12: textarea.form-control(ckeditor, ng-model='group.signature')
        | * Required Fields
      .modal-footer
        bs-modal-save-button(on-save='save()', error-alert='{{formErrors}}')
        button.btn.btn-default(ng-click='close()') Close

  script(id='confirm-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='dismiss()') &times;
      h4.modal-title Confirm?
    .modal-body
      p
        | Are you sure you want to delete this group?
        br
        b Note&nbsp;
        | Senders will not be deleted.
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='dismiss()') No
