mixin showjson(what)
  a(href='#' ng-if='!showing.#{what}' ng-click='showing.#{what} = true') Show JSON Example

  pre(ng-if='showing.#{what}')
    a.pull-right(href='#' ng-click='showing.#{what} = false') Hide
    | {{::examples.#{what}|json}}

doctype html

.container(ng-controller='AdminIntegration')
  .row
    .col-lg-7
      section.intro
        h2 API Integration
        p
          | Our API is an HTTPS REST API which is hosted at the following base endpoint below. POST and PUT methods
          | will accept JSON (application/json).
        .well.well-sm
          p
            | https://api.softvu.com/v1/:object

        p
          | You will need to use the HTTP #[em Authorization] header to submit your API key with your request.
        .well.well-sm
          p
            | Authorization = Key :key
            br
            small(ng-if='apikeys[0]') #[b e.g.] Authorization = Key {{apikeys[0].key | alphanum}}

      section.keys
        h3 API Key(s)
          small
            | &nbsp;
            a(href='#') What are these?
        button#new-apikey.btn.btn-primary(ng-click='newKey()') Create New API Key
        table.table
          thead
            tr
              th Key
              th Issued
              th &nbsp;
          tbody
            tr(ng-repeat='key in apikeys')
              td {{::key.key | alphanum}}
              td(am-time-ago='::key.issued')
              td.text-right
                button.btn.btn-xs.btn-danger Revoke?
        p #[b Note:] Revoking a key will cause our API to fail all requests that are using that key.

      section.objects
        h3 REST Objects

        p
          | As stated above, these objects are setup as REST endpoints.
          .well.well-sm
            code https://api.softvu.com/v1/:object
        dl
          hr
          dt: h4 /leads
          dd
            p
              span.label.label-success GET
              | &nbsp;
              span.label.label-warning POST
            p.
              POST JSON to this endpoint to insert a new lead into a drip campaign, setup by status. We will examine the
              status and attributes of the lead to determine which segment in the campaign this lead will receive messages from.
              If the status of the lead changes, any scheduled messages will be canceled, and the lead will be re-segmented.
            p.
              It is important that when you are adding leads, you supply the external source and id of this lead.
              Typically, the #[em: b source] is a string identifying the system where the lead resides, and the #[em: b id] is
              a value which is unique to that system.
            p #[b Note] POSTing will behave as an #[em upsert] if you supply a different source, id combination.
            +showjson('lead')

            div(ng-if='integration == "velocify"')
              a(href='#' ng-if='!showing.velocifylead' ng-click='showing.velocifylead = true') Show Velocify XML Example

              pre(ng-if='showing.velocifylead')
                a.pull-right(href='#' ng-click='showing.velocifylead = false') Hide
                | {{::examples.velocify.lead}}

            .row
              .col-xs-11.col-xs-offset-1
                h5 ?external=
                p #[span.label.label-success GET] https://api.softvu.com/v1/leads?external={{egexternal}}
                p.
                  Pass in a JSON object as the <b>external</b> query parameter
                  which has a <em><b>source</b></em> and <em><b>id</b></em> field defined. These values
                  should be the exact same as used when creating the lead. The external JSON object will be parsed
                  and must be valid JSON.
          hr
          dt: h4 /optouts
          dd
            p
              span.label.label-success GET
              | &nbsp;
              span.label.label-warning POST
            p
              | Use these objects to query and add opt-outs to your opt-out database. Any email that SoftVu attempts to send
              | to an address in this database will be canceled.
            +showjson('optout')
            .row
              .col-xs-11.col-xs-offset-1
                h5 /:email
                p #[span.label.label-success GET] https://api.softvu.com/v1/optouts/test%40example.com
                p Return opt-out information about a specific email address.
            .row
              .col-xs-11.col-xs-offset-1
                h5 ?since=
                p #[span.label.label-success GET] https://api.softvu.com/v1/optouts?since={{egutc}}
                p
                  | Pass in a UTC date formatted&nbsp;
                  a(href='http://en.wikipedia.org/wiki/ISO_8601' target='_blank') as ISO 8601 (YYYY-MM-DDTHH:MM:SSZ)
                  | &nbsp;to receive all opt-outs that have occured since that date.
          hr
          dt: h4 /groups
          dd
            p
              span.label.label-success GET
              | &nbsp;
              span.label.label-warning POST
              | &nbsp;
              span.label.label-primary PUT
              | &nbsp;
              span.label.label-danger DELETE
            p Manipulate the groups associated with your account. Senders may be assigned to a specific group to inherit these values.
            +showjson('group')
          dt: h4 /senders
          dd
            p
              span.label.label-success GET
              | &nbsp;
              span.label.label-warning POST
              | &nbsp;
              span.label.label-primary PUT
              | &nbsp;
              span.label.label-danger DELETE
            p.
              Manipulate the senders associated with your account. Senders must have a unique email address.
              When posting leads or setting up batch sends, the sender email address is used to pull template values
              which can be used in replacement variables.
            +showjson('sender')

            .row
              .col-xs-11.col-xs-offset-1
                h5 /active
                p #[span.label.label-success GET] https://api.softvu.com/v1/senders/active
                p User this query to get only the active senders in the account #[em (active: true)].
    .col-lg-5
      section.hooks
        h3 Web Hooks
        p
          | We will post JSON back to a URL you provide below. This JSON will have
          | information regarding the event that occured, and may be used to keep
          | your systems up-to-date, or trigger other actions.&nbsp;
          a(href='#') Visit our documentation
          | &nbsp;for more information on the hooks we provide.

        form(name='forms.webhooks')
          .form-group
            bs-checkboxb(ng-model='webhooks.enabled', title='Enabled?')
          .input-group
            .has-feedback
              input.form-control(ng-if='!webhooks.integration' required type='text' name='url' placeholder='Url' ng-model='webhooks.url' ng-disabled='!webhooks.enabled' ng-class='{ "not-valid": forms.webhooks.error && webhooks.enabled }')
              input.form-control(ng-if='webhooks.integration' type='text' value='Integration' disabled)
              i.form-control-feedback.icon-success.fa.fa-check.text-success.ng-hide(ng-show='forms.webhooks.$submitted && forms.webhooks.$pristine')
              i.form-control-feedback.icon-error.fa.fa-exclamation-triangle.text-danger.ng-hide(ng-show='forms.webhooks.error && forms.webhooks.$pristine')
            .input-group-btn
              button.btn.btn-primary(type='submit' ng-click='updateWebhooks()' ng-disabled='forms.webhooks.$pristine || forms.webhooks.$invalid || !webhooks.enabled') Update
          p.text-danger(ng-if='forms.webhooks.error') Webhooks URL update failed. Please enter a valid url and try again.
      section.events
        h3 Webhook Events
        dl
          dt email.queued
          dd An email has been sent to our outbound mail queues.
          dt email.errored
          dd An email failed to process, and will not be sent.
          dt email.delivered
          dd
            | An email was delivered to the recipients inbound servers, this is does
            b &nbsp;not&nbsp;
            | indicate the email is in the inbox, but does indicate that we have done everything we can.
          dt email.bounced
          dd An email was unable to be delivered, and will never be delivered to that email address.
          dt email.deferred
          dd An email was temporarily rejected by the recipient server, and will be retryed at a later date.
          dt email.opened
          dd An email was opened. The client or recipient server downloaded our embedded tracking pixel.
          dt email.clicked
          dd A url within the email was clicked.
          dt email.reported
          dd An email was reported by the recipient server as spam or the user clicked on the spam button.
          br

          dt email.optedin
          dd An email address was opted-in through a manual process or through a opt-in form.
          dt email.optedout
          dd
            | An email address has either opted-out through our optout link, a hard bounce, or we caught a spam report message through a&nbsp;
            a(href='http://en.wikipedia.org/wiki/Feedback_loop_(email)', target='_blank') FBL
            | .
          br

          dt lead.segmented
          dd A lead was successfully segmented and will begin receiving the emails defined in that segment.
          dt lead.timedout
          dd A lead has reached the end of a segment, and no more triggered messages will be sent.
          br

          dt batch.started
          dd A batch send was started, and all records associated with that batch are being processed.
          dt batch.failed
          dd A record within a batch send failed.
          dt batch.finished
          dd A batch send was completely processed, and all records were sent to the email engine. They will receive email events defined above.

  .clear-fix
