doctype html

.container(ng-controller='AdminOptOuts')
  .row
    .col-lg-8.col-lg-offset-2
      h3 By email
      form(name='forms.optout')
        .form-group.has-feedback(ng-class='{ "has-success": opted }')
          label.sr-only.control-label Email address optout
          .input-group
            input.form-control(type='text' ng-model='form.optout' placeholder='bill@example.com, sally@example.org')
            .input-group-btn
              button.btn.btn-primary.optout(ng-click='optout()' ng-disabled='forms.optout.$submitting') Opt-Out
          i.form-control-feedback.fa.fa-refresh.fa-spin(style='right: 77px' ng-if='forms.optout.$submitting')
          i.form-control-feedback.fa.fa-check.text-success(style='right: 77px' ng-if='forms.optout.$success')
          i.form-control-feedback.fa.fa-exclamation-triangle.text-danger(style='right: 77px' ng-if='forms.optout.error')
          p.help-block Seperate each email address with a comma.
          span.text-danger(ng-if='forms.optout.error') Optout failed. Please enter a valid email address.

      form
        h3 By file
        .form-group
          // turn off import button if one is running
          .help-block Use bulk import to upload a CSV file of opt-outs. Information about what the file should look like is on the next screen.
          button.btn.btn-default(ng-disabled='runningImport' ng-click='upload()') Bulk Opt-out

          table.table
            thead
              tr
                th Start
                th Finish
                th.col-xs-2.text-center Total
                th.col-xs-2.text-center Imported
                th.col-xs-2.text-center Errors
                th.text-center Options
            tbody
              tr(ng-repeat='import in imports' ng-if='imports.length')
                td(am-time-ago='import.started')
                td(colspan='4' ng-if='!import.finished && !stopping && !stopped') Running...
                td(colspan='4' ng-if='!import.finished && !stopped && stopping') Stopping...
                td(ng-if='import.finished' am-time-ago='import.finished')
                td.text-center(ng-if='import.finished && import.total') 
                  | {{import.total}} {{import.stopped}}
                  i.fa.fa-fw.fa-stop.text-warning(ng-if='import.stopped')
                td.text-center(ng-if='import.finished && !import.total') 
                  | {{import.errors + import.imported}} {{import.stopped}}
                  i.fa.fa-fw.fa-stop.text-warning(ng-if='import.stopped')
                td.text-center(ng-if='import.finished') {{import.imported}}
                td.text-center(ng-if='import.finished')
                  a(href='/api/optouts/{{import.errorId}}/error' target='_self' ng-if='import.errors') {{import.errors}}
                  span(ng-if='!import.errors') 0
                td.text-center
                  a(href='/api/optouts/{{import.id}}/download' target='_self' ng-if='import.finished && !import.$job') Download
                  button.btn.btn-sm.btn-danger(ng-if='!import.finished && import.$job && !stopping && !stopped' ng-click='stop(import)') Stop
              tr(ng-if='!imports.length')
                td.text-center(colspan='6') No bulk opt-outs
      hr

      form(name='forms.search' ng-submit='search()')
        h3 Search
        p.help-block.
          Use this function to look up if an address has been opted out.
          You will also be able to opt-in an address by using the 'opt-in' link.
        .form-group.has-feedback
          label.sr-only.control-label Email address search
          .input-group
            input.form-control(type='text', ng-model='form.search' placeholder='bill@example.com')
            .input-group-btn
              input.btn.btn-primary(type='submit' value='Search' ng-disabled='forms.search.$submitting')
          i.form-control-feedback.fa.fa-refresh.fa-spin(style='right: 71px' ng-if='forms.search.$submitting')
        .details(ng-if='details')
          div(ng-if='!details.notfound')
            .alert.alert-success
              b Email Address was found.

            div
              | Address was&nbsp;
              span(ng-switch on='details.last.type')
                span(ng-switch-when='optout') opted out
                span(ng-switch-when='optin') opted in

              b &nbsp;{{details.updated|amCalendar}}&nbsp;
              a.optin(href ng-click='confirm = true') Opt In?

              span.confirm.ng-hide(ng-show='confirm')
                b &nbsp;Confirm Opt In -&nbsp;
                a(href ng-click='optin(); comfirm = false') Yes
                | &nbsp;/&nbsp;
                a(href ng-click='confirm = false') No

          .alert.alert-warning(ng-if='details.notfound')
            b Email Address was not found.

  script(id='admin/optouts/stats-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='close()') &times;
      h4.modal-title
        i.fa.fa-check.text-success
        | &nbsp;Upload Stats
    .modal-body
      p The list you uploaded was successful! Below are the statistics of the upload:
      ul
        li
          b Total emails processed:&nbsp;
          | {{stats.total}}
        li(ng-if='stats.errors.length')
          b Valid emails:&nbsp;
          | {{stats.total - stats.errors.length}}
        li(ng-if='stats.errors.length')
          b Invalid emails:&nbsp;
          | {{stats.errors.length}}
        li(ng-if='stats.errors.length')
          ul
            li(ng-repeat='error in stats.errors')
              em {{error.address}}
              | &nbsp;-&nbsp;{{error.message}}
              // {{error.err}}
    .modal-footer
      button.btn.btn-default(ng-click='close()') Close
    
  script(id='admin/bulk-import-modal.html' type='text/ng-template')
    form(name='forms.import')
      .modal-header
        button.close(type='button' ng-click='$dismiss()') &times;
        h4.modal-title Bulk Import
      .modal-body.steps
        p Bulk import allows you to input all of your opt-outs into a CSV file and upload all the information at once.
        .step
          h4 STEP 1: Input Opt-Out Information
          p Input the email address for all of your opt-outs. #[b DO NOT] add any column headers or include any other information other than an email address, or your information will not be mapped correctly.
          
        .step
          h4 STEP 2: Upload your file
          p Once you have made the necessary changes to your opt-outs, just upload the CSV file. We will take care of mapping your inputs into the necessary fields.
          .input-group.fileinput.fileinput-new(data-provides='fileinput' ng-class='{"has-error": typeerror}')
            .form-control(data-trigger='fileinput')
              i.glyphicon.glyphicon-file.fileinput-exists
              span.fileinput-filename {{csv.name}}
            span.input-group-addon.btn.btn-default.btn-file
              span.fileinput-new Select file
              span.fileinput-exists Change
              input(type='file' accept='.csv' readfile='forms.import.csv')
          span.text-danger(ng-if='typeerror') The file you are importing is not a CSV file.
      .modal-footer
        span.spinner.spinner-small.no-animate(ng-if='$saving')
        span.text-danger(ng-if='!forms.import.csv') Please select a file&nbsp;
        button.btn.btn-primary(ng-click='import()' ng-disabled='$saving || typeerror || !forms.import.csv') Import
        button.btn.btn-default(ng-click='$dismiss()') Close
