doctype html

.container(ng-controller='AdminPolicies')
  .row.columns-sv
    .col-xs-6.col-xs-offset-3
      .column
        .column-header.segment-bgcolor
          i.fa.fa-file-text-o
          | &nbsp;Policies
        .column-body
          ul.list-unstyled
            li.ng-cloak(ng-if='!policies.length')
              b No policies configured.
            li(ng-repeat='policy in policies|orderBy:"-updated"')
              .pull-right
                button.btn.btn-xs.btn-primary(ng-click='edit(policy)')
                  i.glyphicon.glyphicon-pencil
                  | &nbsp;Edit
                button.btn.btn-xs.btn-danger(ng-click='delete(policy)')
                  i.glyphicon.glyphicon-trash
                  | &nbsp;Delete?
              i.fa.fa-file-code-o(ng-if='policy.use == "html"' uib-tooltip='HTML')
              i.fa.fa-file-o(ng-if='policy.use == "text"' uib-tooltip='Text')
              b &nbsp;{{policy.name}}
              br
              i: small Updated&nbsp;&nbsp;
              span(am-time-ago='policy.updated')
        .column-footer.segment-bgcolor
          a(href, ng-click='create()')
            i.fa.fa-plus
            | &nbsp;New Policy

  script(id='policy-modal.html', type='text/ng-template')
    form.form-horizontal(name='forms.policy' novalidate)
      .modal-header
        h4.modal-title Policy
      .modal-body
        .form-group
          label.requiredSign.col-xs-1.control-label Name *
          .col-xs-11: input.input-lg.form-control(ng-model='policy.name', type='text', name='name', placeholder='Name...', required ng-class="{'not-valid': forms.policy.submitted && forms.policy.name.$invalid && !forms.policy.$dirty}")
        .form-group
          label.col-xs-1.control-label Type
          .col-xs-11
            ul.list-inline.list-inline-packed
              li(bs-radio, ng-model='policy.use', value='html', title='HTML')
              li(bs-radio, ng-model='policy.use', value='text', title='Text')
            span.help-block Please choose the type of this specific policy. If you would like a HTML and Text policy, you will need to create two policies.
        .form-group(ng-if='policy.use == "html"')
          .col-xs-12: textarea.form-control(ckeditor, ng-model='policy.$html')
        .form-group(ng-if='policy.use == "text"')
          .col-xs-12: textarea.form-control(ng-model='policy.value', ng-trim='false', rows='10')
        | * Required Fields
      .modal-footer
        .btn-toolbar
          bs-modal-save-button(on-save='save()')
          button.btn.btn-default(ng-click='close()') Close

  script(id='confirm-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='dismiss()') &times;
      h4.modal-title Confirm?
    .modal-body
      p Are you sure you want to delete this policy?
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='dismiss()') No
