doctype html

mixin sortcol(name, col)
  th(ng-click='sortby("#{col}", "#{name}")')
    | #{name}&nbsp;
    i.fa.fa-chevron-up(ng-if='sort.header == "#{name}" && !sort.desc')
    i.fa.fa-chevron-down(ng-if='sort.header == "#{name}" && sort.desc')

.container(ng-controller='AdminSenders')
  .row.page-controls
    .col-xs-5
      .has-feedback
        label.sr-only.control-label Search
        input.form-control(type='text' ng-model='search.name' placeholder='Search')
        i.fa.fa-times.form-control-feedback.form-control-clear(ng-if='search.name.length' ng-click='search.name = \'\'')
        i.fa.fa-search.form-control-feedback(ng-if='!search.name.length')

    .col-xs-7
      .btn-toolbar.pull-right
        button.btn.btn-default(ng-click='upload()') Bulk Download / Upload
        button.btn.btn-default(ng-click='editProfiles()') Edit Sender Profile

  .row
    .col-xs-12
      table.table.table-bordered.table-striped
        thead
          +sortcol('Email', 'email')
          +sortcol('Name', 'name')
          +sortcol('Group', 'group')
          th &nbsp;
        tbody
          tr.hover-pointer(ng-repeat='sender in senders|filter:filter|orderBy:sort.column:sort.desc as filteredSenders' ng-click='edit(sender)')
            td
              .outside-left
                i.fa.fa-lg.fa-fw.fa-trash(ng-click='delete(sender);$event.stopPropagation()')
                i.fa.fa-lg.fa-fw.fa-pencil(ng-click='edit(sender);$event.stopPropagation()')
              i.fa.fa-md.fa-fw.fa-star(ng-if='sender.email == settings.default_sender')
              | {{sender.email}}
            td {{sender.lastname}}, {{sender.firstname}}
            td {{groups[sender.group].name}}
            td
              span(ng-repeat='(type, number) in sender.phones')
                i.fa.fa-lg.fa-mobile(ng-if='type == "cell"')
                i.fa.fa-lg.fa-phone(ng-if='type == "main"')
                i.fa.fa-fax(ng-if='type == "fax"')
                span &nbsp;{{number}}
                span(ng-if='!$last') &nbsp;&nbsp;&nbsp;
              span(ng-if='!hasPhones(sender)'): em No phone numbers.
          tr(ng-if='!senders.length')
            td.text-center.muted(colspan='5') No senders are setup.
          tr(ng-if='senders.length && !filteredSenders.length')
            td.text-center.muted(colspan='5') No senders are found in search.
      .tags
        a(href, ng-click='create()')
          i.fa.fa-plus
          | &nbsp;New Sender
      .pull-right
        label.btn-sm
          input(type='checkbox' ng-model='show_inactive' ng-change='showInactive()')
          | &nbsp;Show Inactive Senders

  .row(ng-if='show_inactive')
    h4.col-xs-12 Inactive Senders
    .col-xs-12
      table.table.table-bordered.table-striped
        thead
          +sortcol('Email', 'email')
          +sortcol('Name', 'name')
          +sortcol('Group', 'group')
          th &nbsp;
        tbody
          tr.hover-pointer(ng-repeat='iaSender in inactiveSenders|filter:filter|orderBy:sort.column:sort.desc as filteredSenders' ng-click='editInactive(iaSender)')
            td
              .outside-left
                i.fa.fa-lg.fa-fw.fa-refresh(ng-click='makeActive(iaSender);$event.stopPropagation()' title='Reactivate?')
              | {{iaSender.email}}
            td {{iaSender.lastname}}, {{iaSender.firstname}}
            td {{groups[iaSender.group].name}}
            td
              span(ng-repeat='(type, number) in iaSender.phones')
                i.fa.fa-lg.fa-mobile(ng-if='type == "cell"')
                i.fa.fa-lg.fa-phone(ng-if='type == "main"')
                i.fa.fa-fax(ng-if='type == "fax"')
                span &nbsp;{{number}}
                span(ng-if='!$last') &nbsp;&nbsp;&nbsp;
              span(ng-if='!hasPhones(iaSender)'): em No phone numbers.
          tr(ng-if='!inactiveSenders.length')
            td.text-center.muted(colspan='5') No senders are inactive.
          tr(ng-if='inactiveSenders.length && !filteredSenders.length')
            td.text-center.muted(colspan='5') No inactive senders are found in search.

  script(id='sender-modal.html', type='text/ng-template')
    form.form-horizontal(name='forms.sender' novalidate)
      .modal-header
        h4.modal-title Sender
      .modal-body
        .form-group.has-feedback
          label.requiredSign.col-xs-1.control-label Email *
          .col-xs-11(ng-class='{"has-warning": forms.sender.email.$touched && forms.sender.email.$invalid}')
            input.input-lg.form-control(ng-model='sender.email' type='email' name='email' placeholder='Email' required ng-class="{'not-valid': forms.sender.submitted && forms.sender.email.$invalid && !forms.sender.$dirty || used}" autofocus)
            span.glyphicon.glyphicon-warning-sign.form-control-feedback(aria-hidden='true' ng-if='forms.sender.email.$touched && forms.sender.email.$invalid')
        .form-group
          label.col-xs-1.control-label Aliases
          .col-xs-11: tags-input.aliasesInput(name='aliases' ng-model='aliases' allow-leftover-text='true' on-tag-removed='tagRemoved()' add-on-comma='false' replace-spaces-with-dashes='false' placeholder='Add an alias')
            div(ng-if='sender.firstname && sender.lastname') Default aliases: "#[b {{sender.firstname}} {{sender.lastname}}]" and "#[b {{sender.lastname}}, {{sender.firstname}}]"&nbsp;
        .form-group
          label.col-xs-1.control-label First *
          .col-xs-5: input.form-control(ng-model='sender.firstname', type='text', name='firstname', placeholder='First', required ng-class="{'not-valid':  forms.sender.submitted && forms.sender.firstname.$invalid && !forms.sender.$dirty}")
          label.col-xs-1.control-label Last *
          .col-xs-5: input.form-control(ng-model='sender.lastname', type='text', name='lastname', placeholder='Last', required ng-class="{'not-valid':  forms.sender.submitted && forms.sender.lastname.$invalid && !forms.sender.$dirty}")
        .form-group
          label.col-xs-1.control-label Group
          .col-xs-5: select.form-control(ng-model='sender.group', ng-options='group.id as group.name for (key, group) in groups')
          label.col-xs-1.control-label Timezone
          .col-xs-5
            select.form-control(ng-model='sender.timezone')
              option(value) Account Timezone
              option(gmtAdjustment='GMT-08:00' useDaylightTime='1' value='America/Los_Angeles') (GMT-08:00) Pacific Time (US & Canada)
              option(gmtAdjustment='GMT-07:00' useDaylightTime='0' value='America/Phoenix') (GMT-07:00) Arizona
              option(gmtAdjustment='GMT-07:00' useDaylightTime='1' value='America/Denver') (GMT-07:00) Mountain Time (US & Canada)
              option(gmtAdjustment='GMT-06:00' useDaylightTime='1' value='America/Chicago') (GMT-06:00) Central Time (US & Canada)
              option(gmtAdjustment='GMT-05:00' useDaylightTime='1' value='America/New_York') (GMT-05:00) Eastern Time (US & Canada)
          .col-xs-6.col-xs-offset-6(ng-if='sender.timezone !== system.timezone')
            p.help-block.text-right Account Timezone: #[b {{pretty(system.timezone)}}]

        h4 Email
        .form-group
          .col-xs-3
            bs-radio2(size='sm' ng-model='default_sender' ng-change='defaultSend(sender.email)') Set as default sender?
          label.col-xs-2.control-label Role&nbsp;
            i.fa.fa-xs.fa-question-circle(uib-popover-html='"Set a role to be used for the email address going out. This will change the FROM address. If nothing is set, defaults to the group role or \'info\'. <b>e.g.</b>&nbsp;&lt;role@client.svemails.com&gt;"' popover-trigger='mouseenter' popover-append-to-body='true')
          .col-xs-3: input.form-control(ng-model='sender.role' type='text' placeholder='Role')
        .form-group
          label.col-xs-2.col-xs-offset-3.control-label Reply-To&nbsp;
            i.fa.fa-xs.fa-question-circle(uib-popover-html='"Set a Reply-To header on the email. This will be the email address that is shown when a recipient replys. If nothing is set, defaults to the senders email address."' popover-trigger='mouseenter' popover-append-to-body='true')
          .col-xs-3: input.form-control(ng-model='sender.replyto' type='text' placeholder='Reply-To')


        .form-group
          .col-xs-6
            h4 Phone Numbers
            .form-group
              label.col-xs-2.control-label Main
              .col-xs-10: input.form-control(ng-model='sender.phones.main', type='text', placeholder='Main Number')
            .form-group
              label.col-xs-2.control-label Cell
              .col-xs-10: input.form-control(ng-model='sender.phones.cell', type='text', placeholder='Cell Number')
            .form-group
              label.col-xs-2.control-label Fax
              .col-xs-10: input.form-control(ng-model='sender.phones.fax', type='text', placeholder='Fax Number')
          .col-xs-6
            h4 Custom&nbsp;
              small: i.fa.fa-xs.fa-question-circle(uib-popover='Any added custom fields will be available in the templates as replacements. These are used with "sender.custom.<name>". e.g. "sender.custom.NMLS"', popover-trigger='mouseenter')
            .form-group(ng-repeat='field in fields')
              label.col-xs-4.control-label {{field.name}} #[span(ng-if='field.required') *]
              .col-xs-8
                input.form-control(ng-model='sender.custom[field.name]', type='text', placeholder='{{field.name}} value',  name='{{field.name}}' ng-if='!field.required')
                input.form-control(ng-model='sender.custom[field.name]', type='text', placeholder='{{field.name}} value',  name='{{field.name}}' ng-if='field.required' required ng-class="{'not-valid': forms.sender.submitted && forms.sender[field.name].$invalid && !forms.sender.$dirty}")
        .form-group(ng-if='system.dailyvu.on')
          .col-xs-7
            h4 DailyVu
            .row
              .col-xs-3
                bs-radio2(size='sm' ng-model='sender.dailyvu.on') Enabled?
              .col-xs-9.text-right(ng-if='sender.dailyvu.on')
                bs-radios(ng-model='sender.dailyvu.time' selected-class='primary')
                  ul.list-inline
                    li: i.fa.fa-lg.fa-clock-o
                    li: bs-radio2(size='sm' value='08:00') 8:00 am
                    li: bs-radio2(size='sm' value='09:00') 9:00 am
                    li: bs-radio2(size='sm' value='10:00') 10:00 am
                p.help-block Account DailyVu: #[b #[i.fa.fa-clock-o] {{system.dailyvu.prettyTime}}]
        .form-group
          .col-xs-6
            h4 Signature
            bs-radio2(size='sm' ng-model='sender.override' ng-change='override()') Override group signature?
        .form-group.ng-hide(ng-show='sender.override')
          .col-xs-12: textarea.form-control(ckeditor, ng-model='sender.signature')
        span * Required Fields
      .modal-footer
        bs-modal-save-button(on-save='save()', error-alert="{{formErrors}}")
        button.btn.btn-default(ng-click='close()') Close

  script(id='upload-modal.html', type='text/ng-template')
    form(name='forms.upload')
      .modal-header
        button.close(type='button', ng-click='$dismiss()') &times;
        h4.modal-title Bulk Upload
      .modal-body.steps
        p Bulk upload allows you to input all of your senders into a CSV file and upload all their information at once.

        .step
          h4 STEP 1: Download
          | We generate a CSV file pre-populated with the information you need to input. This allows for easy mass manipulation of content. You can also use this method to make mass changes to your senders. Click on the "Include Senders" checkbox if you would like to export your current senders. Click on the "Include Only Active Senders" checkbox if you would like to export only active senders.
          bs-radios(ng-model='senderOptions' selected-class='success')
            ul.list-inline
              li: a.btn.btn-default(ng-href='{{url()}}', target='_self') Download
              li: bs-radio2(size='md' value='includeSenders') Include Senders
              li: bs-radio2(size='md' value='includeActiveSenders') Include Only Active Senders

        .step
          h4 STEP 2: Input User Information
          p Input the information for all of your sender profiles. #[b DO NOT] make changes to the columns or layout of the template, or your information may not be mapped correctly. Also #[b DO NOT] put yes for more than one default sender.  All senders uploaded will have default "#[b Firstname Lastname]" and "#[b Lastname, Firstname]" aliases assigned.

        .step
          h4 STEP 3: Upload your file
          p Once you have made the necessary changes to your senders' profiles, just upload the CSV file. We will take care of mapping your inputs into the necessary fields.
          .input-group.fileinput.fileinput-new(data-provides='fileinput', ng-class='{"has-error": typeerror}')
            .form-control(data-trigger='fileinput')
              i.glyphicon.glyphicon-file.fileinput-exists
              span.fileinput-filename {{csv.name}}
            span.input-group-addon.btn.btn-default.btn-file
              span.fileinput-new Select file
              span.fileinput-exists Change
              input(type='file', accept='.csv', readfile='forms.upload.csv')
          span.text-danger(ng-if='typeerror') The file you are uploading is not a CSV file.
      .modal-footer
        span.spinner.spinner-small.no-animate(ng-if='$saving')
        span.text-danger(ng-if='!forms.upload.csv') Please select a file&nbsp;
        button.btn.btn-primary(ng-click='upload()', ng-disabled='!forms.upload.csv || $saving || forms.upload.$pristine || typeerror') Upload
        button.btn.btn-default(ng-click='$dismiss()') Close

  script(id='stats-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='close()') &times;
      h4.modal-title
        i.fa.fa-check.text-success
        | &nbsp;Upload Stats
    .modal-body
      p The list you uploaded was successful! Below are the statistics of the upload:
      ul
        li
          b Total:&nbsp;
          | {{stats.created + stats.updated}}
        li
          b Created:&nbsp;
          | {{stats.created}}
        li
          b Updated:&nbsp;
          | {{stats.updated}}
        li
          b Invalid groups:&nbsp;
          | {{stats.invalid_groups}}
    .modal-footer
      button.btn.btn-default(ng-click='close()') Close

  script(id='confirm-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='$dismiss()') &times;
      h4.modal-title Confirm?
    .modal-body
      p Are you sure you want to delete the sender #[b {{name}}]?
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='$dismiss()') No

  script(id='reactivate-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='$dismiss()') &times;
      h4.modal-title Reactivate?
    .modal-body
      p Are you sure you want to reactivate the sender #[b {{name}}]?
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='$dismiss()') No

  script(id='changeDefault-modal.html', type='text/ng-template')
    .modal-header
      button.close(type='button', ng-click='$dismiss()') &times;
      h4.modal-title Change Default Sender?
    .modal-body
      p Are you sure you want to change the default sender from #[b {{default}}] to #[b {{name}}]?
    .modal-footer
      button.btn.btn-primary(ng-click='confirm()') Yes
      button.btn.btn-default(ng-click='$dismiss()') No
