doctype html

.container(ng-controller='AdminTemplates')
  form.form-horizontal(name='forms.notifications')
    .form-group
      .col-sm-5
        h4 Timezone
        select.form-control(ng-model='settings.timezone')
          option(gmtAdjustment='GMT-08:00' useDaylightTime='1' value='America/Los_Angeles') (GMT-08:00) Pacific Time (US & Canada)
          option(gmtAdjustment='GMT-07:00' useDaylightTime='0' value='America/Phoenix') (GMT-07:00) Arizona
          option(gmtAdjustment='GMT-07:00' useDaylightTime='1' value='America/Denver') (GMT-07:00) Mountain Time (US & Canada)
          option(gmtAdjustment='GMT-06:00' useDaylightTime='1' value='America/Chicago') (GMT-06:00) Central Time (US & Canada)
          option(gmtAdjustment='GMT-05:00' useDaylightTime='1' value='America/New_York') (GMT-05:00) Eastern Time (US & Canada)
      .col-sm-5.col-sm-offset-2
        p.help-block You can set the global timezone for your account. This will help us to determine how to display time values in different areas throughout the web application and email messages to your agents. The timezone can also be set #[a(href='/admin/senders') per agent] if desired.

    .form-group
      .col-sm-5
        h4 Privacy URL
        input.form-control(type='text', name='privacy_url', ng-model='settings.privacy_url', placeholder='privacy url')
      .col-sm-5.col-sm-offset-2
        p.help-block This policy will be added to the bottom of all your emails. Please make sure your policy and the url are up to date.
    .form-group
      .col-sm-5
        h4 DailyVu

        .row
          .col-md-3
            bs-radio2(size='sm' ng-model='settings.dailyvu.on') Enabled?
          .col-md-9.text-right(ng-if='settings.dailyvu.on')
            bs-radios(ng-model='settings.dailyvu.time' selected-class='primary')
              ul.list-inline
                li: i.fa.fa-lg.fa-clock-o
                li: bs-radio2(size='sm' value='08:00') 8:00 am
                li: bs-radio2(size='sm' value='09:00') 9:00 am
                li: bs-radio2(size='sm' value='10:00') 10:00 am

      .col-sm-5.col-sm-offset-2
        p.help-block You can set the global DailyVu settings for your account. If DailyVu is turned off at the account level, they will not be sent even if it is turned on in an agents settings. The time determines the delivery time of the DailyVu. You may turn off DailyVu or change the delivery time #[a(href='/admin/senders') per agent] if desired.

    .form-group
      .col-xs-12
        h4 Duplicate VuNotification Suppression

        p Do not send a VuNotification if the same Call to Action is clicked within&nbsp;
          select(ng-model='settings.notifications.delay', ng-options='opt.v as opt.t for opt in delayoptions')
          | &nbsp;hours.

    .form-group
      .col-xs-12.btn-toolbar
        button.btn.btn-primary(ng-click='save()' ng-disabled='forms.notifications.$pristine') Save
        | &nbsp;
        span.spinner.spinner-small.no-animate(ng-if='$saving')
        span.fa.fa-fw.fa-check.text-success(ng-if='!$saving && $submitted && forms.notifications.$pristine')

    hr

    .form-group
      .col-md-2.col-sm-4
        // turn off import button if one is running
        button.btn.btn-default( ng-click='import()') Bulk Lead Import
        
      .col-md-3.col-sm-8
        p.help-block Use the bulk import below to upload a CSV file of active leads. Information about what the file should look like is on the next screen.

      .col-md-7.col-sm-12
        table.table
          thead
            tr
              th Start
              th Finish
              th.col-xs-2.text-center Total
              th.col-xs-2.text-center Imported
              th.col-xs-2.text-center Errors
              th.text-center Options
          tbody
            tr(ng-repeat='import in imports')
              td(am-time-ago='import.started')
              td(colspan='4' ng-if='!import.finished && !stopping && !stopped') Running...
              td(colspan='4' ng-if='!import.finished && !stopped && stopping') Stopping...
              td(ng-if='import.finished' am-time-ago='import.finished')
              td.text-center(ng-if='import.finished && import.total') {{import.total}}
              td.text-center(ng-if='import.finished && !import.total') {{import.errors + import.imported}}
              td.text-center(ng-if='import.finished') {{import.imported}}
              td.text-center(ng-if='import.finished')
                a(href='/leads/import/{{import.errorId}}/errors' target='_self' ng-if='import.errors') {{import.errors}}
                span(ng-if='!import.errors') 0
              td.text-center
                button.btn.btn-sm.btn-danger(ng-if='!import.finished && import.$job && !stopping && !stopped' ng-click='stop(import)') Stop
                
    hr
      
  form.row(name='forms.template')
    .col-md-12
      h4 VuNotification
      .form-group
        label Subject
        input.form-control(ng-model='template.subject')
      .form-group
        pre(ui-ace='{onLoad: aceLoaded}', ng-model='template.hbs', style='height: 500px; width: 100%; margin: 0; padding: 0;')
      bs-save-button(on-save='saveTemplate()')

  script(id='admin/bulk-import-modal.html' type='text/ng-template')
    form(name='forms.import')
      .modal-header
        button.close(type='button' ng-click='$dismiss()') &times;
        h4.modal-title Bulk Import
      .modal-body.steps
        p Bulk import allows you to input all of your existing leads into a CSV file and upload all the information at once.

        .step
          h4 STEP 1: Download
          | We generate a CSV file pre-populated with the information you need to input. This allows for easy mass manipulation of content.
          ul.list-inline
            li: a.btn.btn-default(ng-href='/leads/template/download' target='_self') Download

        .step
          h4 STEP 2: Input Lead Information
          p Input the information for all of your existing leads. #[b DO NOT] make changes to the columns or layout of the template, or your information may not be mapped correctly.

          p Pay particular attention to the #[b segmented] date. We will use this date to determine the next message the lead will get, based on the line of messaging.
          
          p If a lead is being resegmented, use #[b recipient.override.segmented] with a value of TRUE to ensure the provided segmented date is kept.
          
          p If any custom variables are being added, use #[b recipient.custom.#] where # is the custom variable. These variables are case sensitive.
        .step
          h4 STEP 3: Upload your file
          p Once you have made the necessary changes to your leads, just upload the CSV file. We will take care of mapping your inputs into the necessary fields.
          .input-group.fileinput.fileinput-new(data-provides='fileinput' ng-class='{"has-error": typeerror}')
            .form-control(data-trigger='fileinput')
              i.glyphicon.glyphicon-file.fileinput-exists
              span.fileinput-filename {{csv.name}}
            span.input-group-addon.btn.btn-default.btn-file
              span.fileinput-new Select file
              span.fileinput-exists Change
              input(type='file' accept='.csv' readfile='forms.import.csv')
          span.text-danger(ng-if='typeerror') The file you are importing is not a CSV file.
      .modal-footer
        span.spinner.spinner-small.no-animate(ng-if='$saving')
        span.text-danger(ng-if='!forms.import.csv') Please select a file&nbsp;
        button.btn.btn-primary(ng-click='import()' ng-disabled='$saving || typeerror || !forms.import.csv') Import
        button.btn.btn-default(ng-click='$dismiss()') Close
