doctype html

.container(ng-controller='AdminShortform')
  h3 Add Quick Lead
  .row
    .col-lg-8.col-lg-offset-2
      form.form-horizontal(name='forms.shortform' novalidate)
        .form-group
          label Status
          select.form-control(name='shortform.status' ng-model='shortform.status' ng-options='status.name as status.name for (key, status) in statuses' required)
        .form-group(ng-repeat='group in attributes | orderBy:"name"')
          label {{group.name}}
          select.form-control(name='shortform.groups[{{group.short}}]' ng-model='shortform.attributes[group.short]' ng-options='value.name as value.name for value in group.values | orderBy:"name"' required)
        .form-group
          label Agent
          select.form-control(name='shortform.agent' ng-model='shortform.agent' ng-options='sender.email as sender.email for sender in senders | orderBy:"email"' required)
        .form-group
          label(for='recipient-email') Recipient
          input.form-control(type='text' name='email' ng-model='shortform.recipient.email' placeholder='Email', required ng-class="{'not-valid': forms.shortform.submitted && forms.shortform.email.$invalid && !forms.shortform.$dirty}")
        .form-group
          input.form-control(type='text' name='firstname' ng-model='shortform.recipient.firstname' placeholder='Firstname', required ng-class="{'not-valid': forms.shortform.submitted && forms.shortform.firstname.$invalid && !forms.shortform.$dirty}")
        .form-group
          input.form-control(type='text' name='lastname' ng-model='shortform.recipient.lastname' placeholder='Lastname', required ng-class="{'not-valid': forms.shortform.submitted && forms.shortform.lastname.$invalid && !forms.shortform.$dirty}")
        .form-group
          label External
          .row
            .col-xs-6
              input.form-control(type='text' name='source' ng-model='shortform.external.source' placeholder='Source (e.g. velocify, salesforce, etc.)', required ng-class="{'not-valid': forms.shortform.submitted && forms.shortform.source.$invalid && !forms.shortform.$dirty}")
            .col-xs-6
              input.form-control(type='text' name='id' ng-model='shortform.external.id' placeholder='External Source Id', required ng-class="{'not-valid': forms.shortform.submitted && forms.shortform.id.$invalid && !forms.shortform.$dirty}")
                
        bs-modal-save-button(on-save='send()', error-alert="{{formErrors}}", btn-title='Send', running-message='Sending', finished-message='Queued!')
