.fixed-height .columns-sv,
.fixed-height .columns-sv > div > div {
  /* note: this doesn't seem to work in safari... can't really figure out why */
  height: calc(100vh - 200px);
}

#container.has-alerts .fixed-height .columns-sv,
#container.has-alerts .fixed-height .columns-sv > div > div {
  /* note: this doesn't seem to work in safari... can't really figure out why */
  height: calc(100vh - (200px + 72px));
}

.columns-sv {
  li.ui-sortable-helper {
    background-color: #fff;
  }

  .column .column-header {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 6px 12px;
    line-height: 32px;
    background-color: #aaa;

    i {
      line-height: 32px;
    }

    .fa-question-circle {
      font-size: 0.8em;
    }
  }

  .column .column-search {
    position: relative;
    border: 3px solid #888;

    input {
      width: 100%;
      padding: 6px 30px 6px 10px;
      font-size: 18px;
    }

    span {
      position: absolute;
      right: 0px;
      line-height: 16px;
      padding-top: 8px;
      padding-right: 10px;
      pointer-events: none;
      opacity: .7;
    }

    ::-webkit-input-placeholder {
      font-size: 16px;
      font-style: italic;
    }
    :-moz-placeholder {
      font-size: 16px;
      font-style: italic;
    }
    ::-moz-placeholder {
      font-size: 16px;
      font-style: italic;
    }
    :-ms-input-placeholder {
      font-size: 16px;
      font-style: italic;
    }
  }

  .column .column-body {
    max-height: calc(100% - 130px);
    overflow-y: scroll;

    > ul {
      margin-bottom: 0;
    }

    > ul > li {
      color: #445762;
      border: solid #888;
      border-width: 1px 2px;
      border-collapse: collapse;
      font-size: 16px;
      padding: 12px;

      .badge { vertical-align: text-bottom; }
    }

    > ul > li.ui-sortable-helper {
      border-width: 1px 2px;
    }

    > ul > li:first-child {
      border-top-width: 0;
    }

    > ul > li:last-child {
      border-bottom-width: 2px;
    }

    > ul > li a.context {
      color: #445762;
    }

    > ul > li.selected {
      background-color: #445762;
      border-color: #445762;
      color: #e6e7ec;

      .badge {
        vertical-align: text-bottom;
        color: #777;
        background-color: #fff;
      }

      a {
        color: #e6e7ec;
      }
    }

    > ul > li:last-child {
      margin-bottom: 0;
    }

    li.selected .list-pills li {
      color: #445762;
      background-color: #e6e7ec;
    }
  }

  .column .column-footer {
    display: inline-block;
    color: #fff;
    background-color: #ccc;
    font-weight: bold;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 5px;

    a {
      display: inline-block;
      color: #fff;
      padding: 8px 8px 6px;
    }
  }
}

.statuses, .segments {
  .column-body ul li {
    cursor: pointer;
  }
}
