.navbar-sv {
  background-color: #fff;
  border: 0;

  .navbar-main {
    border: solid #22688c;
    border-width: 3px 0 0 0;
    padding-top: 27px;
    margin-bottom: 10px;

    .navbar-nav {
      margin-left: 20px;

      .dropdown-sv > a {
        color: #22688c;
        padding: 4px 16px;
        margin-top: 7px;
      }
    }
  }

  .navbar-sub {
    background-color: #445a56;

    .navbar-default .navbar-nav > li > a {
      color: #777777;
    }

    .navbar-nav {
      > li > a {
        color: #fff;
        line-height: 20px;
        padding: 5px 20px;
        position: relative;
      }

      > li.active > a {
        color: #445762;
        background-color: #e6e7ec;
      }

      > li:first-child {
        width: 100px;
      }

      .navbar-brand {
        color: #fff;
        float: left;
        font-size: 14px;
        height: auto;
        line-height: 20px;
        padding: 5px 20px 5px 0;
      }
    }

    .left-bg {
      position: absolute;
      left: 0;
      height: 30px;
      background-color: #324b56;
    }

    .arrow {
      position: absolute;
      left: calc(100% - 50% - 385px);
      width: 0;
      height: 0;
      border-bottom: 15px solid transparent;  /* left arrow slant */
      border-top: 15px solid transparent; /* right arrow slant */
      border-left: 15px solid #324b56; /* bottom, add background color here */
      font-size: 0;
      line-height: 0;
    }
  }

  .navbar-text {
    margin-top: 7px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .navbar-sv .navbar-sub .left-bg {
    width: calc(100% - 50% - 285px);
  }
  .navbar-sv .navbar-sub .arrow {
    left: calc(100% - 50% - 285px);
  }
}
@media (min-width: 992px) {
  .navbar-sv .navbar-sub .left-bg {
    width: calc(100% - 50% - 395px);
  }
  .navbar-sv .navbar-sub .arrow {
    left: calc(100% - 50% - 395px);
  }
}
@media (min-width: 1200px) {
  .navbar-sv .navbar-sub .left-bg {
    width: calc(100% - 50% - 495px);
  }
  .navbar-sv .navbar-sub .arrow {
    left: calc(100% - 50% - 495px);
  }
}
