<a class='btn btn-sm btn-default exporter' download='export.csv' ng-class='{disabled: isGenerating()}'>
  <i class='fa fa-download'></i>
  <span>&nbsp;Export
    <span ng-if='count'>&nbsp;({{count | humanizeComma}})</span>
    <span ng-if='!count'>&nbsp;(...)</span>
  </span>
</a>
