<ul class='pager' ng-if='!$loading'>
  <li>&nbsp;Show&nbsp;
    <select ng-model='$parent.size' ng-change='$parent.page = 1; fetch()' style='width: 80px; display: inline-block;' class='form-control input-sm'>
      <option>10</option>
      <option>20</option>
      <option>50</option>
      <option>100</option>
    </select>&nbsp;
  </li>
  <li ng-click='page == 1 || prev()' ng-class='{disabled: page == 1}'><a href>« Newer</a></li>
  <li ng-click='last || next()' ng-class='{disabled: last}'><a href>Older »</a></li>
  <li>
    &nbsp;p.&nbsp;
    <b>{{page}}</b>
    <b ng-if='pages'> of {{pages}}</b>
  </li>
</ul>
