<button class='btn btn-sm btn-default' ng-class='{"disabled": readonly}'>
  <i class='fa fa-calendar'></i>
  <span>&nbsp;&nbsp;{{range.from | amDateFormat:'MMMM D, YYYY'}} - {{range.to | amDateFormat:'MMMM D, YYYY'}}&nbsp;&nbsp;</span>
  <b class='caret' ng-if='!readonly'></b>
</button>
